[2019-07-12 09:39] #1051 closed

[2019-07-12 10:14] vtraag commented on #907
Yes, for directed graphs there are a few generalizations, but I think we should not try to include that for the 0.8.0 release, but leave that for the 0.9.0 release. Shall I open a separate issue for that?

Indeed, `igraph_is_simple` has a cost, but it is also called in a variety of other functions to check it. I don't see any alternative solution, do you? It would be even more costly to try to cor

[2019-07-12 10:58] vtraag commented on #992
I'm trying to think of possible solutions. There are a few possibilities it seems:

1. Simply add a notice to the documentation
2. Convert to an undirected graph (at the costs of making an additional copy).
3. Make sure `igraph_vertex_connectivity` is able to ignore directionality.
4. Make sure that `igraph_minimum_size_separators` is able to handle directionality.

This is also in order of the es

[2019-07-12 11:28] ntamas commented on #907
One potential solution would be to cache the result of `igraph_is_simple()` in `igraph_t` itself so the function returns the cached value if it has one. The cache will then have to be invalidated whenever we _suspect_ that some operation changes the simplicity of the graph. This is the tricky part. First, we would need to ensure that no igraph functions mess around with the internals of `igraph_t`

[2019-07-12 11:29] ntamas commented on #992
Yes, (1) is the way to go for 0.8.0 and then make a "proper" fix in 0.9.

[2019-07-12 11:31] szhorvat commented on #907
This is exactly what I was thinking.

Exactly. Every single function that modifies graphs would need to be reviewed and updated. Every new function must take care to update this flag. It requires a lot of discipline.

Absolutely.

[2019-07-12 11:37] szhorvat commented on #907
@vtraag

Of course, I think it's quite clear at this point at only critical things go into 0.8.

It's up to you. At this moment I do not see directed clustering as terribly interesting. I think (for 0.9) we should focus on functions that are clearly very useful or there's a clear demand. If you think this is a useful tool, sure, go ahead!

Something I wanted to mention:

Currently, the igraph phil

[2019-07-12 12:56] vtraag commented on #907
OK, let's call `igraph_is_simple` for now then, and postpone the rest until later. I'll create issues for that.

Yes, indeed, this would have advantages. However, it has the disadvantage of making things more difficult to debug. We already discussed this earlier somewhere, but it might be good to make these types of checks optional (e.g. using `NDEBUG`). This would I think be the most reasonable c

[2019-07-14 07:39] seralouk commented on #399
Dear all,

I have a graph represented by a 90x90 weighted adjacency matrix.

`comms = g.community_leading_eigenvector(weights = g.es["weight"])`

returns

InternalError: Error at arpack.c:944: ARPACK error, No shifts could be applied during a cycle of the Implicitly restarted Arnoldi iteration. One possibility is to increase the size of NCV relative to NEV

but

`comms = g.community_fastgreedy(wei

[2019-07-14 15:31] szhorvat commented on #399
Directly attached data file mentioned in above message. Next time please attach the file here (to ensure it's preserved in the long term).

[A.npy.zip](https://github.com/igraph/igraph/files/3390085/A.npy.zip)

[2019-07-14 16:45] seralouk commented on #399
I just found out that a NaN value was causing the problem in my case.

[2019-07-15 12:26] CalmJerome commented on #21
Excuse me~ I have a question about the bipartite community detection. Is it possible to apply community_multilevel to a bipartite graph like
“ g = igraph.Graph.Incidence(data.tolist(), multiple=True)
   fc = igraph.Graph.community_multilevel(g) ”？

[2019-07-15 18:13] #930 closed

[2019-07-16 08:00] vtraag commented on #1029
The problem is indeed the multiplicity of the graph. In the directed case, it is essentially identical to the graph mentioned by @szhorvat. Hence, directionality is not a problem, but multiplicity is. I don't see an alternative to calling `igraph_is_simple` on the undirected version of the graph and checking whether the reciprocity is zero on a directed version of the graph.

Here's a more extensi

[2019-07-16 08:11] vtraag commented on #21
@CalmJerome, yes, it is possible to apply `community_multilevel` to bipartite graphs. However, this method does not take into account that the graph is bipartite, so the null-model that is used in the modularity calculations may not be appropriate. See also [Barber (2007)](https://doi.org/10.1103/PhysRevE.76.066102).

For an approach that does consider properly whether a graph is bipartite or not,

[2019-07-16 08:28] CalmJerome commented on #21
@vtraag Thanks very much for answering! I will do it next time!

[2019-07-16 20:27] vtraag opened #1218 "Generalization for transitivity to directed graphs"
In #907 the issue was raised that the current implementation of transitivity may yield incorrect results on directed graphs and multigraphs. That issue was addressed in #1217 by simply enforcing the input to be simple and undirected.

It would be more desirable to create a proper implementation of transitivity for directed graphs.

[2019-07-16 20:46] vtraag opened #1219 "Checking graphs in arguments and caching"
Several functions only work on specific graphs, e.g. only (un)directed graphs or only simple graphs. Checking directionality is easy, because it is cheap, but checking whether a graph is simple is more involved. This issue is meant to track our discussion on a proper solution for addressing this problem. There a few possible alternatives.

1. Do no checks and simply state the requirements in the d

[2019-07-16 23:22] iosonofabio commented on #670
Hey, I'm adding CI tests for this, but the code should be roughly ready. Anyone has a minute to review the PR and give some comments?

[2019-07-17 13:53] #907 closed

[2019-07-17 13:59] ntamas commented on #1219
I have no strong opinions on this; let's pick one, document the underlying "philosophy" and then stick to it.

Picking (1) is totally fine, we should just state that igraph is meant to be a low-level library and you are free to shoot yourself in the foot if you don't bother reading the documentation - but then we need to ensure that the higher-level interfaces check the validity of the input.

Pic

[2019-07-17 17:42] szhorvat commented on #1219
I think it would be more appropriate in higher-level languages.

There's another option than these three:

We can have both checked and unchecked versions C, with consistent naming. E.g., the unchecked versions could have an `_unchecked` or `_raw` or whatever suffix, while we keep the existing ones as checked.

The checked versions can be used directly by most high-level interfaces.

The unckeched

[2019-07-17 17:53] szhorvat opened #1220 "There should be a callback version for the clique and independent vertex set finders"
There should be a callback version of the functions that find:

 1. all cliques
 2. all maximal cliques
 3. all independent vertex sets
 4. all maximal independent vertex sets

(1) is done (`igraph_cliques_callback`). (2) is incoming (I have the patch, incoming for 0.8 as part of #1192 ). We should do (3) and (4) as well (for 0.9).

This will help solve issues like the one brought up here:

 - htt

[2019-07-17 18:30] vtraag commented on #1219
Yes, good idea! In fact, we already have that sort of system in place of course, namely the `igraph_i` prefix, which are also not exposed in the public API, thereby restricting them to internal use anyway. Internal methods should then typically call internal versions of the method, and all checks only take place in the external version of the method.

[2019-07-22 12:19] Pascal-Ortiz opened #1221 "Prüfer decoding has quadratic complexity, should be linear"
In this issue, I'm talking about the `igraph_from_prufer` function.

The algorithm has quadratic time complexity so the implentation was not able to build in a reasonable time a tree having one million of nodes from a Prufer sequence. Here is my test code :

[code]

outputting:

[code]
(compiled with O3 flag).

There exists linear time algorithms for decoding a Prufer sequence into a tree, for ins

[2019-07-22 17:01] szhorvat commented on #1221
Here's another paper describing a linear-time algorithm for Prüfer decoding: http://dx.doi.org/10.4236/jsea.2009.22016

(Please try to use permalinks, i.e. DOIs, whenever possible. It's important that the reference material we use for implementation stays accessible even years later.)

Here's an alternative link for the above (just in case!):

 * Paulius Micikevicius, Saverio Caminiti, Narsingh De

[2019-07-22 17:34] Pascal-Ortiz commented on #1221
I was aware of this paper but some points remains obscure (to me). The [NetworkX implementation](https://networkx.github.io/documentation/latest/_modules/networkx/algorithms/tree/coding.html#from_prufer_sequence) is actually based on this paper and the time complexity seems more quadratic than linear, cf. this [issue](https://github.com/networkx/networkx/issues/3521). Don't get me wrong, this does

[2019-07-22 18:02] szhorvat commented on #1221
Thanks! Comments like this are very useful.

Would you be willing to share it?

[2019-07-22 19:03] Pascal-Ortiz commented on #1221
The issue as been tagued "Need PR" so I'm going to propose one in the very few days, can you wait for that? If you prefer I can send you the code but it needs some cleanup and some checking.

[2019-07-22 20:55] szhorvat commented on #1221
If you can send me (privately) a messy but working version, that's already useful.

[2019-07-23 13:41] szhorvat commented on #1221
Here's a measurement of the speedup for the old vs new (#1222) algorithms, using the Mathematica interface (which may have a significant overhead).

![image](https://user-images.githubusercontent.com/1212871/61716822-35a54500-ad60-11e9-9c4f-80e891f88c34.png)

[2019-07-23 23:42] #1221 closed

[2019-08-01 06:18] szhorvat opened #1223 "Implement pseudo-diameter computation"
Implement an algorithm to compute the pseudo-diameter of a graph. This is a means of obtaining a quick approximation (and lower bound) for the graph diameter.

https://en.wikipedia.org/wiki/Distance_(graph_theory)#Algorithm_for_finding_pseudo-peripheral_vertices

[2019-08-02 11:28] ugroempi opened #1224 "R: graph colouring"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [ ] This issue is for the C core of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

Dear igraph team,

I would really like graph colouring in the R version of igraph, which does not seem to have the heuristic `vertex_coloring_greedy` function that is referenced in issue #109

[2019-08-06 06:35] vtraag commented on #1031
I've changed this to 0.9.0, because the solution that is currently chosen for 0.8.0 (#1216) is to simply restrict to undirected graphs. The definitive solution is to ensure that `igraph_minimum_size_separators` works correctly on directed graphs as well, but this is left for 0.9.0.

[2019-08-06 07:09] vtraag commented on #1059
If the graph is non-bipartite, this is correctly detected by `igraph_bipartite_projection`, and an error is thrown:
https://github.com/igraph/igraph/blob/cf12f2ee70908b7fc57099af00ea547ceab64232/src/bipartite.c#L197
This is probably simply not handled well in R. We should probably open up an issue in that [repository](https://github.com/igraph/rigraph/issues).

@ntamas, you mention a "few problems

[2019-08-06 21:58] ntamas commented on #1059
Sorry, can't really remember - it's been a while  :) Closing this for now.

[2019-08-06 21:58] #1059 closed

[2019-08-09 10:20] vtraag commented on #1185
I have been trying to take a look at `CMake`. It will take me quite some time to familiarize myself with `CMake` and the build requirements and exact flow of the build process for `igraph`. Unless there is someone who is already relatively familiar with `CMake` and knows how to translate things from `automake` into `CMake`, I think it will require too much time to set it up now. I would therefore

[2019-08-09 11:36] vtraag commented on #1103
I propose that we postpone this until 0.9.0. We can then have a proper solution, as suggested in #1193, which should then be implemented in all relevant functions, not just this one.

[2019-08-09 14:06] ntamas commented on #1103
Agreed.

[2019-08-09 14:59] ntamas commented on #1185
I was planning to take a look at adapting igraph's build system to CMake, but unfortunately I did not have time to do so in the last few weeks (and probably won't have time for it until September either). Maintaining two build systems in parallel probably doesn't make sense in the long run, so let's aim for replacing `make` with `cmake` entirely by 0.9.0.

[2019-08-09 16:17] iosonofabio commented on #1185
+1 for switching to cmake or staying with autotools as opposed to maintaining two systems :-)

On Fri, Aug 9, 2019, at 07:59, Tamás Nepusz wrote:

[2019-08-13 07:22] #1029 closed

[2019-08-13 07:30] vtraag opened #1228 "Compilation for Python 3.7"
We should make sure that the C core also builds correctly for Python 3.7. We can simply adapt [`appveyor.yml`](https://github.com/igraph/igraph/blob/master/appveyor.yml) to also include Python 3.7 I guess.

[2019-08-13 07:34] ntamas commented on #1228
Actually, `PYTHON_VERSION=NONE` in `appveyor.yml` seems to correspond to Python 3.7. The naming is misleading, though.

[2019-08-13 07:34] vtraag commented on #1197
Perhaps best to reopen #1053 then and assign it to 0.9.0. For now, I would suggest we can simply not issue a warning if `cutoff > 0` and close this issue.

[2019-08-13 07:35] vtraag commented on #1053
Reopened, because this issue also touches on the estimation of closeness centrality for large graphs (cf. #1197).

[2019-08-13 07:43] vtraag commented on #1089
@szhorvat, you specifically mean the documentation for `igraph_k_regular_game`, right? I believe the documentation for `igraph_degree_sequence_game` already mentions the non-uniform sampling. Will you implement this?

[2019-08-13 07:44] vtraag commented on #1228
Ah, right. Yes, let's correct the naming then.

[2019-08-13 07:49] ntamas commented on #1197
Okay, go ahead then!

[2019-08-13 08:07] szhorvat commented on #1089
Yes.

[2019-08-14 12:33] #1197 closed

[2019-08-14 15:42] #1228 closed

[2019-08-15 18:54] iosonofabio commented on #670
Ok, after a number of further iterations, I think the code should be decent now. If you give it a directed tree with `mode` set to the opposite of the direction of the tree, it splays it out into a line, which is an ok (though not great) layout for that kind of corner case.

This passes local tests on my machine, CI is running

[2019-08-16 12:53] #774 closed

[2019-08-16 13:02] vtraag commented on #891
@ntamas, what should we do here? We clearly need to update some of the documentation, but in principle, installing it is already [documented](https://igraph.org/python/), right?

Whenever we make a new release of `python-igraph`, we should probably go through the documentation for installation anyway, since it will work a bit differently if we will only include the C code as a submodule.

[2019-08-16 14:35] ntamas commented on #891
Well, the thing is that there are so many different Linux flavours and configurations that providing an exact, accurate set of instructions that is guaranteed to work for everyone using Linux is pretty much impossible. There are just too many variations that we should cover:

* installing in a virtualenv vs installing it outside a virtualenv
* linking to the C core dynamically vs including the C c

[2019-08-16 14:36] ntamas commented on #891
There's also [this project](https://github.com/joerick/cibuildwheel) to build Python wheels in a CI environment. Maybe we should look at this first.

[2019-08-16 15:19] vtraag commented on #891
Regarding support for Anaconda, it is already included in the `conda-forge` channel ([https://github.com/conda-forge/igraph-feedstock](https://github.com/conda-forge/igraph-feedstock)), which has an automated build system setup. That should circumvent many of the issues.

Personally, I would suggest to drop support for building with an external C igraph library. This only creates issues and proble

[2019-08-16 15:21] vtraag commented on #891
One other thing: by using only the submodule, we can decouple the release schedule for the C library and for the Python interface. We can then release more regularly, also including more minor updates.

[2019-08-16 20:58] szhorvat opened #1235 "all_st_mincuts returns empty cuts"
For many different inputs, `all_st_mincuts` returns _some_ empty results, in addition to the correct results.

Here's a small example in R:

[code]

The output is

[code]

The graph looks like this:

![image](https://user-images.githubusercontent.com/1212871/63197846-338d8800-c079-11e9-8186-68ef4f97b2f3.png)

This function should return all minimum cuts (compare to `igraph_all_st_cuts` which retur

[2019-08-16 21:11] szhorvat commented on #1206
@ztilottama Can you show a [complete minimal example](http://sscce.org/) that reproduces the problem (i.e. that results are different between Python and R)? We can't fix a problem that we can not reproduce.

[2019-08-17 09:17] #1102 closed

[2019-08-17 09:22] szhorvat opened #1236 "all_st_cuts: inconsistent behaviour when s and t are not connected"
`igraph_all_st_cuts` behaves in an inconsistent way when `s` and `t` are not connected.

Sometimes it returns no cuts at all, and sometimes it returns a single cut of zero size.

Here's a small example using the (unfinished) Mathematica interface:

![image](https://user-images.githubusercontent.com/1212871/63209451-14c2dc00-c0e1-11e9-9c2b-3c74555a032c.png)

The edge list is:

[code]

For `s=3, t=1

[2019-08-17 09:33] szhorvat commented on #1236
This was first brought up in the comments on https://github.com/igraph/igraph/pull/1225

[2019-08-17 11:07] szhorvat opened #1237 "Wishlist: Betweenness using shortest paths between a subset of vertices"
The betweenness of a vertex (edge) is defined, loosely, as the number of shortest paths passing through that vertex (edge) when considering shortest path _between all pairs of vertices_.

It is possible to generalize this definition in various useful ways by not considering all-pairs shortest paths, but only a subset of them.

igraph can already compute the _range limited betweenness_ (which it ca

[2019-08-18 18:22] iosonofabio commented on #670
Fixed, closing

[2019-08-18 18:22] #670 closed

[2019-08-19 16:42] Marmeladenbrot opened #1239 "Wishlist: Implement the 2 missing triads from triad_census()"
The triad list from the triad_census() function (https://igraph.org/r/doc/triad_census.html) shows 16 different triads

The cited paper (page 12, https://files.eric.ed.gov/fulltext/ED024086.pdf) shows 18 triads

Please implement the missing 2 triads for that function (especially 030a).

[2019-08-19 16:57] szhorvat commented on #1239
There are only 16 non-isomorphic directed graphs on 3 vertices, not 18.

 030a from the paper is the 8th result returned by igraph's function.

[2019-08-19 16:57] #1239 closed

[2019-08-19 17:03] szhorvat commented on #1239
I'm sorry, I won't go through the drawings in the paper one by one, but perhaps you can use this exhaustive list of the 16 graphs as a guide to find which are listed more than once, and clear up the misunderstanding. I am not personally familiar with MAN labels, but there are no other directed graphs on 16 vertices than these.

![image](https://user-images.githubusercontent.com/1212871/63284480-f6

[2019-08-19 19:48] iosonofabio commented on #916
@vtraag agreed that seems to be what this is about. The fact that `real_parm == 1` even exists is an indication that people sometimes wanted fixed nodes throughout.

I would be in favour of cleaning up all the dead code in that file and documenting a little better the `real_in` story without touching the API (for now). What do you think?

[2019-08-20 06:29] vtraag opened #1240 "make dist not working"
It seems that `make dist` is not working properly. After successfully building the package using `make`, it errors out on `make dist` with
[code]
I can't locate `bliss_bignum.hh` in the tree either.

[2019-08-20 12:34] #1240 closed

[2019-08-20 13:06] vtraag commented on #1240
After revision https://github.com/igraph/igraph/commit/e354f8db3403b1d56ff9235c492a31a46ac6b2ff and trying to build the resulting tarball I get

[code]

[2019-08-20 19:08] advaitb opened #1242 "Undefined reference to 'igraph_sparsemat'"
Hi,

1) I've installed the igraph c library successfully, however while running the sparsemat functions I run into ld error caused by undefined reference. I don't seem to have this problem when accessing other functions like vector_t or matrix_t. I had a look at Issue #988 and made the respective changes but I'm not sure how to resolve this.Any idea how I can use sparsemat?

`/tmp/ccklFFmC.o: In f

[2019-08-20 19:46] vtraag commented on #1242
Could you share some minimal reproducible code that shows the exact mentioned problem? What version of `igraph` did you install?

To answer your second question, yes you can use [`igraph_sparsemat`](https://igraph.org/c/doc/ch07.html#igraph_sparsemat).

[2019-08-20 20:21] advaitb commented on #1242
Hi @vtraag , thanks for your prompt response. I'm using v0.7.1. Here is the code I'm trying to run:
[code]
Thanks!

[2019-08-20 21:19] vtraag commented on #1242
You are compiling using `C++`. You should enclose the inclusion in an `extern "C"` because `igraph` is a `C` library. You only need to include `igraph.h`, since it already includes `igraph_sparsemat.h`.

The following code compiles correctly, also when interpreted as C++.

[code]

Please note that 805000000000 will be interpreted as an integer, which will overflow.

I believe you are right, there

[2019-08-20 21:41] advaitb commented on #1242
@vtraag Thanks that solved it, just another query if I may, how accurate should the nzmax parameter in sparsemat_init need to be, can I just set it to max int for really large graphs?

[2019-08-21 04:52] vtraag commented on #1242
`nzmax` can be anything you like. It pre-allocates the requested number of elements, but if you set new elements new memory is dynamically  allocated if necessary. Just any rough estimate will do. Note that max int requires about 8GB of memory, you probably don't want to do that.

[2019-08-21 04:52] #1242 closed

[2019-08-21 13:17] ntamas commented on #916
Usually our policy was that we try to keep upstream code intact so that we can incorporate upstream fixes easily. However, considering that the upstream project is dead, I think there's no point in sticking to this policy any more w.r.t. the DrL codebase. Feel free to tweak or fix whatever you want.

[2019-08-21 13:20] vtraag commented on #916
I found a new link: http://www.cs.otago.ac.nz/homepages/smartin/software.php. We can download new source code also. Perhaps we can check out the new source code and plug it in again. Let's do that for 0.9.0 though.

[2019-08-22 10:43] Marmeladenbrot commented on #1239
I mean this triad which I can't find in the list?

![List of triads from the paper](https://i.imgur.com/nFjsWrv.png)

[2019-08-22 10:45] ntamas commented on #1239
It's in the list, second row, fourth item, labeled `030T` - you just need to flip the two rightmost vertices. (The two graphs are isomorphic).

[2019-08-22 10:46] Marmeladenbrot commented on #1239
Added an /edit.
Thanks for your help and sorry for the inconvenience.

[2019-08-25 18:23] jandraor commented on #718
Is decompose.graph(g, mode="strong") implemented in R igraph?

[2019-08-25 18:45] szhorvat commented on #718
Not yet. You can try this out yourself. The R interface should pick up this functionality when it upgrades to the latest C core.

[2019-08-25 19:33] #1110 closed

[2019-08-26 15:36] Marmeladenbrot opened #1246 "Wishlist: triad_census() - save results to make it possible to color the found triads"
I have a graph where I want to find the number of 030T triads AND color them accordingly (nodes not part of a 030T triad = grey, 030T triads = red).

triad_census() counts the different triad types but does not save the information in the igraph object so that I can't plot it by color.

Please make it possible to do so.

[2019-08-26 15:55] szhorvat commented on #1246
Take a look at the subgraph isomorphism functions. They can do this.

On Mon, 26 Aug 2019, 17:36 Marmeladenbrot, <notifications@github.com> wrote:

[2019-08-26 21:43] advaitb opened #1247 "igraph_sparsemat_t not updated consistently in a loop?"
Hello,

I've been playing around with igraph_sparsemat_t for a while now and am sort of stuck. Below is a minimal reproducible code for my problem. As you can see, I have the (2x2) sparsemat built and am trying to update a certain position (1,1) in a loop. Based on my understanding, the 1,1 index should print 1000 in the last cout statement. But instead it prints 0 as if no update occurred. Is the

[2019-08-27 12:24] vtraag commented on #1236
This is not only inconsistent behaviour, it is actually incorrect behaviour. The cut itself is empty, but the partition that is returned is not (and is incorrect).

Using the graph
[code]
and finding cuts using
[code]
the pointer vector `partition1s` contains one partition containing nodes `1` and `2`, which is incorrect. I am currently investigating.

[2019-08-27 16:13] hmassalha commented on #1049
Dear @ntamas
I am facing the same error showing that I am missing the same libs... `libiconv.so.2`, `libicui18n.so.58` (which was solved by the help of the IT unit, probably making more linkers). And know I am getting the following message:
`Error: package or namespace load failed for ‘igraph’ in dyn.load(file, DLLpath = DLLpath, ...):
 unable to load shared object '/home/labs/shalev/hassanm/R/x86

[2019-08-27 20:16] vtraag commented on #1235
Similar to #1236, the identified minimal cuts are actually wrong. The actual third partition returned by `igraph_all_st_mincuts` is `3`, `2` and `1`, which is not a correct cut to separate `3` from `1`, leading to the empty cut. Possibly a similar solution as proposed in #1248 may work, I am currently investigating.

[2019-08-28 02:03] ntamas commented on #1247
This is not a bug; the following line is incorrect:

[code]

You are using the _postincrement_ operator on `elem`, which means that its value will be evaluated first, and _then_ `elem` will be incremented. In the first iteration, `elem` is zero, so you write zero back into the matrix, and _then_ increment `elem`. In the next iteration, `elem` will be zero again.

[2019-08-28 02:03] #1247 closed

[2019-08-29 12:57] kenmcgarry opened #1249 "Community detection benchmark functions"
Would future versions of igraph see the implementation of the Girvan-Newman and the LFR benchmarks for community detection?

[2019-08-29 22:05] vtraag commented on #1235
Note that if you reverse the direction of the edge `4 -> 3` to `3 -> 4`, you will get the cut `2 -> 1`, `3 -> 1` twice. There seems to be something strange going on, definitely some bug, but I have not yet figured out what exactly.

[2019-08-30 06:52] vtraag commented on #1249
The Girvan-Newman benchmarks can already be generated through [`igraph_preference_game`](https://igraph.org/c/doc/igraph-Generators.html#igraph_preference_game), or more generally a block-model. Hence, you can also generate clusters of varying sizes. The only difference with LFR is that the degree distribution will be something like a mixture of Poisson distributions and cannot be separately speci

[2019-08-30 07:12] ntamas commented on #1249
Personally, I think that benchmark functions are outside the scope of igraph; I don't think that benchmarks have any general use for people working with graph theory or network science apart from those who want to develop a new community detection algorithm.

[2019-08-30 07:33] vtraag commented on #1249
I agree that `igraph` need not include functions that are only useful in the context of developing a new community detection algorithm. They can already be generated through `igraph_preference_game`, and I don't think the actual LFR networks need to be generated by `igraph`. However, it might be good to consider sampling from a stochastic block model with a fixed degree distribution. This will pro

[2019-08-30 08:42] kenmcgarry commented on #1249
Thank you for your consideration and advice.

[2019-08-30 10:41] vtraag commented on #1235
I think the problem may be the following. The set of *active* nodes in the condensed acyclic graph (i.e. the DAG corresponding to the contraction of the strongly connected components) is somewhat ambiguous in the paper, it seems. In the implementation in `igraph` a node is considered *active* independent of the set `S` that is under consideration, which may the root of the problem. Perhaps a node

[2019-08-30 10:44] ntamas commented on #1249
See https://github.com/ntamas/blockmodel for sampling from stochastic blockmodels. It might not cover the requirements of the LFR benchmark, but maybe it’s a good starting point.

[2019-08-30 12:25] #1249 closed

[2019-08-30 13:45] szhorvat opened #1250 "Wishlist: minimum spanning tree for directed graphs"
This is a request to implement:

 - Spanning tree for directed unweigthed graphs—this should be easy.
 - Minimum spanning tree for directed weighted graphs. Ref: https://en.wikipedia.org/wiki/Edmonds%27_algorithm

Currently implemented algorithms work for undirected graphs only (more precisely: they ignore edge directions).

[2019-08-31 13:55] ntamas commented on #891
Package maintainers for Debian / Ubuntu and other Linux flavours would probably need such an option because distros have the tendency to link to everything dynamically. However, what we could remove is the automatic _downloading_ of the C core from a URL and the automatic discovery of the location of the C core with `pkg-config` once we nailed the CI setup and the Python wheels. Until then, let's

[2019-09-01 19:39] #1236 closed

[2019-09-02 13:26] szhorvat opened #1251 "Wishlist: is_dag should return a cycle, when there is one"
This is a feature suggestion.

Currently, `igraph_is_dag()` only returns whether the graph is a DAG.

If it is a directed graph with a cycle (i.e. not a DAG), `is_dag` should optionally return proof of this, i.e. a directed cycle.

Suggested prototype:

[code]

If `cycle != NULL`, the function should return the ordered list of edges (edge indices) participating in the detected cycle.

Any thoughts

[2019-09-02 13:51] ntamas commented on #1251
How about adding `igraph_find_cycle(const igraph_t* graph, igraph_vector_int_t* cycle)` that would return the first cycle it finds in `cycle` or return an empty vector instead if there are no cycles?

This way we won't have to break the API (although we would be breaking it anyway for the next version), we could have a simple cycle-finder function that works even for undirected graphs (if we imple

[2019-09-02 14:04] szhorvat commented on #1251
Yes, that's probably a better idea, and would naturally generalize to undirected graphs as well. I would support this naming.

----

One thing to consider is that users may expect such a function to be able to find more than one cycle. Mathematica has a [FindCycle](https://reference.wolfram.com/language/ref/FindCycle.html) function which can find "up to `k` cycles", based on the `k` parameter.

I

[2019-09-02 14:11] szhorvat opened #1252 "Wishlist: Cycle basis of undirected graph"
This is a suggestion to implement finding a [cycle basis](https://en.wikipedia.org/wiki/Cycle_basis) of an undirected graph. Additionally, implement finding a minimum weight cycle basis (see also [Horton bases](https://en.wikipedia.org/wiki/Cycle_basis#Polynomial_time_algorithms)).

Consider extensions to directed graphs later.

[2019-09-02 14:11] szhorvat commented on #1252
Should anyone want to take this, I can provide guidance.

[2019-09-02 14:14] szhorvat commented on #1246
I am going to close this because it is already implemented as `igraph_motifs_randesu_callback`, which calls a function for each motif. If I misunderstood your request, please clarify. If your request is for a specific high-level interface which does not expose this functionality, please open an issue for that interface instead.

[2019-09-02 14:14] #1246 closed

[2019-09-02 14:24] iosonofabio commented on #1252
I'm always happy to learn if this is not urgent - I'll be traveling for a few weeks

On Mon, Sep 2, 2019, at 07:11, Szabolcs Horvát wrote:

[2019-09-02 14:37] vtraag commented on #1252
I think the implementation of finding a cycle basis in an unweighted undirected graph should be relatively straightforward (essentially a spanning tree). The extension to weights will probably take more time. Perhaps first implement the unweighted version and only then the weighted version?

[2019-09-02 15:29] iosonofabio commented on #1252
Sounds good

On Mon, Sep 2, 2019, at 07:37, Vincent Traag wrote:

[2019-09-02 15:47] szhorvat commented on #1252
@iosonofabio I'm happy to walk you through it, including the weighted version (Horton's algorithm). Just contact me whenever you want to get started.

[2019-09-03 09:10] szhorvat commented on #897
Actually, it appears that one can call `glp_ios_terminate()` in the callback function to request a termination. This appears to work, but there's a problem: at the beginning of the solution process GLPK spends _a lot_ of time on something without ever calling the callback function.

[2019-09-03 10:21] szhorvat commented on #897
@ntamas Even this stage of the solver has a time limit. It's checked here:

https://github.com/igraph/igraph/blob/master/optional/glpk/glpspx01.c#L2732

Since igraph currently ships GLPK, how about just patching it and adding an interruption check right there?

[2019-09-03 20:38] ntamas commented on #897
That's fine for me, go ahead.

[2019-09-04 18:30] #1235 closed

[2019-09-04 21:00] vtraag commented on #678
I finally got around to compiling `igraph` correctly with external libraries and running `make check`. It turned out that some previously compiled libraries were still in the source directory (check `find . -iname lib*.*a`). Removing the appropriate libraries (for which I wanted to use the external version) solved this.

The configuration is
[code]

With the current master (version `0.8.0-pre+ae36

[2019-09-05 14:49] szhorvat commented on #1251
@ntamas Do you prefer `igraph_vector_int_t *cycle` or `igraph_vector_t *cycle`? While the first makes more sense, currently the standard for edge indices and vertex indices is the 2nd. I would do the 2nd because then the result can be passed to other functions more easily.

Also, I propose representing the cycle through its edges, not its vertices, as this makes more sense in multigraphs.

Sounds

[2019-09-05 15:26] iosonofabio commented on #1158
Guys, Do you think this is really necessary for 0.8? I would slip it into 0.9+ since it seems somewhat inconsequential for now and a slog

[2019-09-05 15:37] ntamas commented on #1251
Tricky question :) Historically, functions that take or return vertex or edge indices used `igraph_vector_t`, because we haven't had `igraph_vector_int_t` for a long while (we only had `igraph_vector_t`, nothing else). Later on, we have started adding other vector types. At that point, we could have switched to using `igraph_vector_long_t` for vertex and edge indices because it has caused confusio

[2019-09-05 16:01] szhorvat opened #1255 "Transition lazy_adjlist_t and lazy_inclist_t to vector_int_t"
`igraph_adjlist_t` and `igraph_inclist_t` work with `igraph_vector_int_t`.

However, `igraph_lazy_adjlist_t` and `igraph_lazy_inclist_t` work with `igraph_vector_t` (i.e. doubles, not integers).

One might want to try both the lazy and non-lazy versions while developing new functionality, to see which performs better. It's a bit inconvenient to swap between them now because of the type mismatch.

[2019-09-05 17:06] vtraag commented on #1251
Perhaps we should at one point switch to `igraph_vector_int_t`? Or perhaps even `igraph_vector_size_t` since they should be non-negative numbers anyhow? I believe  `igraph_size_t` as a type does not yet exist, but it would make sense to introduce it I think. Perhaps we should open a separate issue for that?

[2019-09-05 18:02] szhorvat commented on #1251
At some point in the future, this should definitely be tackled.

It's a high-risk change though, and it's also a lot of work. In the spirit of "if it works, don't fix it" I would leave it for much later, and only after we have a better test suite (and maybe benchmark so we can see the performance improvements, if there are any). Perhaps for v1.0 (or the version prior to that) since it's a large AP

[2019-09-05 18:50] iosonofabio commented on #900
Hi guys, this is marked as a 0.8 issue, but last useful info from users was 3 years ago, and we do not have access to the architectures showing the problem. Maybe we should remove the 0.8 tag?

[2019-09-05 18:54] iosonofabio commented on #804
Hi guys, this one is references in #1192 which itself ends with a reference to #1220, which is tagged 0.9. So is this 0.8 or 0.9?

[2019-09-05 19:18] szhorvat commented on #804
I want to get in a _partial_ fix for 0.8 because I already use it in IGraph/M. I just need to clean up the naming of the functions (which is a bit of trouble because the names are assembled with macros). I'll deal with it.

[2019-09-05 19:33] vtraag commented on #900
There also seem to be some problems with the current code on Ubuntu, see #678 (which seemed to be related). I think we should address this if possible.

[2019-09-06 07:21] hrw commented on #900
AWS has aarch64 nodes available if you need hw access.

[2019-09-10 12:30] vtraag commented on #1255
Should we perhaps transition `igraph_adjlist_t` and `igraph_inclist_t` to `igraph_vector_t` instead for consistency? Or perhaps simply wait with doing this until we are fully replacing node and edge indices with `igraph_vector_int_t` throughout the project (and in `igraph_t`)?

[2019-09-10 13:24] szhorvat commented on #1255
I think that would be a lot of work for too little tangible gain.

That's reasonable.

[2019-09-11 11:53] vtraag commented on #321
This seems a useful reference https://github.com/jaredbeck/graph_matching.

[2019-09-11 13:19] rachelglenn opened #1258 "Generate the configure file"
Hi. I am trying to generate the configure file for installation. I followed steps online. The first is
to execute the command "aclocal". When doing so I get the error:

cannot open IGRAPH_VERSION no such file

Thank you in advance. Please help me generate the configure file.

[2019-09-11 14:14] vtraag commented on #1258
@rachelglenn, could you perhaps point to the locations of the steps you found online, so that we might update them?

[2019-10-15 07:57] szhorvat commented on #897
I asked on the GLPK mailing list. It looks like there may be a workable solution. For future reference,

https://lists.gnu.org/archive/html/help-glpk/2019-10/msg00003.html

[2019-10-24 18:23] #869 closed

[2019-10-24 21:11] aparcar opened #1260 "Error in read.graph.graphml(file, ...) : At foreign-graphml.c:1352 : 0<<de>KV, Parse error"
- [x] This issue is for the C core of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

I'm trying to read a GraphML file but get the following error. Is there any way to print a bit more debug information?

[code]
[mail_v4.graphml.zip](https://github.com/igraph/igraph/files/3769492/mail_v4.graphml.zip)

[2019-10-25 14:19] #1260 closed

[2019-10-27 05:39] aparcar commented on #1260
Great thank you!

[2019-10-31 12:26] dmikrav opened #1261 "Is there a function in python igraph that returns all simple paths from source vertex to destination in directed graph?"

[2019-10-31 12:31] #1261 closed

[2019-11-01 08:04] vtraag opened #1262 "Restructure source code"
In the long run it would be a good idea to separate various methods into their own files and restructure the `src` directory for more clarity. For example, we could start structuring the `src` folder a bit based on "topics"; e.g., all community detection functions could be placed in `src/communities`, all flow-related functions could be placed in `src/flow`, all shortest path-related functions cou

[2019-11-15 23:50] carissableker opened #1263 "Configure includedir argument"
- [x] This issue is for the C core of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

The argument `includedir` does not affect where header files are installed. For example:

    ./configure --libdir=/mypath/lib/ --includedir=/mypath/include/ --prefix=/myprefix
    make
    make install

This puts the library files in `/mypath/lib`, but not the header files

[2019-11-16 08:56] gaborcsardi commented on #1263
Yes, it will always puts them `igraph`, within the specified directory.

[2019-11-16 19:14] carissableker commented on #1263
The headers end up in `/myprefix/include/igraph/`, but not in `/mypath/include/` (the argument I am specifying to `--includedir`). I can work around it. It's just not the behaviour I expected, as it seems to be ignoring the `--includedir` argument for `./configure`.

[2019-11-16 19:47] gaborcsardi commented on #1263
Many libraries, that have a lot of headers, like igraph, collect them into a single library, so that they are easier to manage.

[2019-11-19 03:21] szhorvat opened #1266 ""Total motif counts" should just treat the graph as undirected"
[`motifs_randesu_no`](https://igraph.org/c/doc/igraph-Motifs.html#igraph_motifs_randesu_no) and [`motifs_randesu_estimate`](https://igraph.org/c/doc/igraph-Motifs.html#igraph_motifs_randesu_estimate) have the following note:

Technically, this is true. This is what the internal implementation does.

However, counting "the total number of motifs" here refers to counting weakly connected subgraphs.

[2019-11-19 03:33] szhorvat commented on #1263
I believe what @carissableker is pointing out is not that the headers are collected within a subdirectory named `igraph`, but that the `--includedir` argument is not respected.

`./configure --help` says:

[code]

Thus, if `--includedir` is not specified, the headers should go in `PREFIX/include/igraph`.

But if we specify `--includedir=mydir`, I would expect them to go in `mydir/igraph`. This doe

[2019-11-19 03:51] szhorvat commented on #1263
Interestingly, the correct `includedir` value does show up in a number of places (e.g. the generated `igraph.pc` file), but it's not where `make install` copies files to.

[2019-11-19 08:08] ntamas commented on #1263
I think the problem is [this line](https://github.com/igraph/igraph/blob/master/src/Makefile.am#L421); basically we are setting `includedir` in the makefile even if it is already set to a different value.

[2019-11-19 08:21] szhorvat commented on #1263
@carissableker Can you explain why you need to fine-tune the include directory instead of using the default one in PREFIX?

[2019-11-19 08:23] ntamas commented on #1263
Also, can you test 1d1e1069? I have made an adjustment to `src/Makefile.am`; it seems like `--includedir` was ignored before but it should be used now.

[2019-11-19 11:56] szhorvat commented on #1263
I tested this, and unfortunately it breaks collecting headers: now they go into `PREFIX/include` by default and not `PREFIX/include/igraph`. Also with `--includedir=DIR` they go into `DIR` and not `DIR/igraph`.

We do want to retain the `igraph` subdirectory.

Would `includedir = $(includedir)/igraph` make sense? I have almost zero experience with autoconf.

[2019-11-19 20:44] ntamas commented on #1263
That would be a recursive definition and the makefile syntax does not allow that. However, I think I have found a solution; see commit 3cdb86de

[2019-11-20 17:40] carissableker commented on #1263
_caveat: I am not experienced in C/C++, this project is my first foray away from Python, so I am probably doing things very wrong_

I am basing a C++ project on igraph. I need it to be very portable, and am therefore compiling igrah with my code when I move it to a different computer or cluster. This makes it easier, since I don't have sudo access on these platforms, and don't want to have to rely

[2019-11-22 17:11] luav opened #1267 "GCC Warnings: undefined maroses and duplicated function declarations"
Some non-standard macroses (`HAVE_SYS_INT_TYPES_H` and `GCC_VERSION_MAJOR`) are checked for the value without the validation of their definitions.
Some function declarations are subsequently duplicated in the same file (e.g., `igraph_sample_sphere_volume`).

---

Make sure that these boxes are checked before submitting your issue -- thank you!

- [X] This issue is for the C core of igraph.
- [X] T

[2019-11-23 20:48] #1267 closed

[2019-12-03 05:15] jxu opened #1269 "Feature request: Create directed Watts-Strogatz network"
https://www.r-bloggers.com/generating-directed-watts-strogatz-network/ implementation in R although I could not get it to run

[2019-12-03 05:19] jxu opened #1270 "Feature request: as.directed random mode"
Arbitrary may be useful but randomly assigning an edge direction (or two edges?) may also be useful.

Arbitrary is clearly non-random:

    g <- make_ring(10)
    as.directed(g, "arbitrary") %>% plot

![arbitrary_as_directed](https://user-images.githubusercontent.com/7989982/70022236-85431b00-1561-11ea-9512-38004df45c89.png)

[2019-12-03 08:16] szhorvat commented on #1269
There are countless variations possible on Watts–Strogatz-like models, and I don't think it's reasonable to try to support all of them in a single function. Generally, 1. first some lattice-like network is generated, 2. then it's rewired. What's better is to support these two distinct steps with reasonable flexibility. igraph already does this.

For square lattice like graphs, use [igraph_lattice]

[2019-12-03 08:20] szhorvat commented on #1269
In R, the corresponding functions are `make_lattice` and `rewire` with `each_edge`.

[2019-12-10 11:17] DonaldTsang commented on #890
This is pretty good considering it would be useful for social media

[2019-12-10 20:34] jowong4 opened #1271 "Articulation Points is reporting indices large than the number of vertices in subgraph"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [x] This issue is for the C core of igraph.
- [x] This issue is a bug report or a feature request, not a support question.

There is a lot of code so I will just link the important part

[code]

sample logs

[code]

EDIT: version 0.7.1 installed via linuxbrew. Will try to generate a self-contained example

[2019-12-10 20:51] szhorvat commented on #1271
Can you please post a _self-contained_ example, preferably as minimal as possible?

Also mention the precise version of igraph you are using.

[2019-12-10 23:44] jowong4 commented on #1271
That is one example
[faultySubgraph.txt](https://github.com/igraph/igraph/files/3947625/faultySubgraph.txt)
cleaner script
[code]

command:
[code]

output
[code]

[2019-12-11 05:41] vtraag commented on #1271
You are using `igraph_vector_capacity` to get the length of the result vector of articulation points. That is incorrect, please use `igraph_vector_size`.

[2019-12-11 05:41] #1271 closed

[2019-12-11 12:09] szhorvat commented on #1271
Also, you don't need to fill the vector with `-1` and check the contents for `-1`. `igraph_biconnected_components` will return an articulation points vector of length 0 if there are no articulation points. Whatever you write into the vector before passing it to `igraph_biconnected_components` will be lost.

[2019-12-11 22:39] jowong4 commented on #1271
Thanks

[2019-12-12 18:04] akhst7 opened #1272 "failed installation"
Make sure that these boxes are checked before submitting your issue -- thank you!

- [x] This issue is for the C core of igraph.
- [ ] This issue is a bug report or a feature request, not a support question.

The latest cram version of igraph_1.2.4.2 failed to compile with a following error;

[code]
Here is my system;

[code]
I have a Makevers;

[code]
Regardless of having the Makevers, igraph fai

[2019-12-12 19:14] szhorvat commented on #1272
The default compiler on macOS does not support OpenMP. Remove those flags.

--
sent from a phone

On Thu, 12 Dec 2019, 19:04 akhst7, <notifications@github.com> wrote:

[2019-12-12 19:38] ntamas commented on #1272
Hmmm, this seems to be an issue about building the R interface of `igraph`, not the igraph core library itself. (Note the version number of igraph; 1.2.4.2 is not applicable for the C core). Also, it seems that the C compiler being used is the one from Homebrew, not the stock compiler on macOS.

@akhst7 Is this about the R interface of igraph? If so, let me know and I'll transfer the issue to the

[2019-12-12 20:45] #1269 closed

[2019-12-12 20:52] szhorvat commented on #1272
A typical cause of "checking whether the C compiler works... no" is compiler or linker flags that prevent compilation. In this case, the prime suspect is `-fopenmp`. Try removing this.

If that doesn't help, examine the log file that the configure script tells you about. It will have the error message from the compiler.

This does not look like an igraph issue for me (either C core or R interface)

[2019-12-12 20:58] akhst7 commented on #1272
So, I am not using a OSX compiler as indicated.  I am using brew installed gcc with Clang 9.00 which fully supports openMP.  Looking at config.log,  I see Clang-9 is complaining a lot but the one is killing configure is ;

c```
onfigure:2866: /usr/local/opt/llvm/bin/clang -fopenmp -g -O3 -Wall -pedantic -std=gnu99 -mtune=native -pipe -I/usr/local/opt/gettext/include -I/usr/local/opt/llvm/include

[2019-12-12 21:04] ntamas commented on #1272
Try reproducing what the configure script attempts to do; create an empty C file named `conftest.c`, put some dummy C code in it (probably an empty `main()` function would do), and then run this:

[code]

Then try tweaking your system configuration until it works. One possibility is that `clang` is not looking for libraries in `/usr/local/lib`, only in `/usr/local/opt/llvm/lib`.

[2019-12-18 00:52] squanchd commented on #598
Failed installing with Docker on alpine3.8

[code]
Result: https://gist.github.com/squanchd/3fc8139583dea82d53fbeac50cf78003

[2019-12-18 10:08] ntamas commented on #598
The vendored `f2c` library in the latest official tarball of igraph is not compatible with musl libc (which is being used in Alpine Linux).

I have now introduced a few commits in the `python-igraph` repo that uses a more up-to-date igraph revision from Git and that builds properly on Alpine Linux. You need a slightly tweaked Dockerfile for this (note the extended list of dependencies and the refe

[2019-12-20 02:25] akhst7 commented on #1272
I figured this out.  Clang-9 with openmp was working fine but I modified Makevars as follows  and solved the issue I was having.

Thanks for all the suggestions.

[code]

[2019-12-20 02:25] #1272 closed

[2019-12-28 14:10] szhorvat opened #1274 "Update embedded GLPK"
igraph embeds an old version of GLPK. It should be updated to the newest release, version 4.65.

Benefits of the new version:

 - Better performance (quite noticeable with the feedback arc set finder)
 - Newer GLPK embeds minisat, a SAT solver. Having a SAT solver would open up many new possibilities for igraph, such as efficient graph colouring, for which I already have a SAT-based solution.

[2020-01-06 12:33] szhorvat commented on #1146
It turns out that this operation is used sometimes with phylogenetic trees. Here's one example: https://arxiv.org/abs/1506.04438 I recall seeing its use at a conference too (also under the name *unfold*), though I can't google up the papers for that.

Therefore, I was wrong when I said:

While I have not found concrete applications for unconnected graphs, it would make sense to have the function b

[2020-01-06 12:53] szhorvat commented on #1146
I'd like to reach a decision on this before the 0.8 release. Our options are:

 1. Leave as it (but the behaviour is broken, this is the worst option)
 2. Use my existing patch and accept that the edge ordering of the tree will no longer correspond to the edge ordering of the input graph
 3. Preserve edge ordering, which requires the whole graph to be traversed. To make this possible, restrict the

[2020-01-07 09:49] vtraag commented on #1146
@szhorvat . I think it would be simplest to restrict to connected graphs only. Providing input for several components separately should not be a problem, and could be left to the user, especially in higher-level languages. I would therefore propose to keep only `unfold_tree`, and restrict it to connected graphs only. Of course, "connected" should mean "reachable" from the provided root(s). If not

[2020-01-07 10:16] szhorvat commented on #1146
The API is designed for multiple roots. It does currently accept multiple roots. It misbehaves only if the entire graph is not reachable from the given roots.

If we were to restrict to "connected" (you're right: reachable from the root) graphs, then the API would need to be changed to not allow more than one root.

This is what the current implementation sort-of-kind-of does except that it also g

[2020-01-07 10:34] szhorvat commented on #1146
Another, *unrelated* suggestion for `unfold_tree`:

Since the result is a rooted tree / forest, it would make sense to make the result directed even if the input was undirected. The direction of edges encodes the identity of the root.

[2020-01-07 11:33] vtraag commented on #1146
Yes, my proposal would indeed be to change the API to only accept a single root. Multiple roots essentially corresponds to multiple calls of the function with a single root. I don't see any benefit of having multiple roots in here.

Potentially, we could return the `edge_index`, similar to the `vertex_index` used now. That would allow to map which edge has been traversed in the tree. However, at t

[2020-01-07 17:07] ntamas commented on #1146
My proposal: let's implement something that can be done with nearly-zero effort for 0.8.0, and then fix it properly (according to the proposal of @szhorvat - personally, I prefer option 2 or 4).

I wouldn't be too afraid of breaking things (i.e. not guaranteeing the edge ordering) at this point - there will be other breaking changes as well, so if we can simply get around with plugging in the patc

[2020-01-08 08:07] vtraag commented on #1146
Yes, @ntamas, let's simply take the current patch from @szhorvat, and take things further after the release of 0.8.0.

[2020-01-08 15:23] ntamas commented on #1146
@szhorvat Can you send a PR with the proposed fix so I can merge it?

[2020-01-08 16:10] szhorvat commented on #1146
I saw the comments, just haven't gotten around to it yet today.

[2020-01-08 16:14] szhorvat opened #1276 "Documentation should be built on Travis"
As suggested by Vincent, there should be a Travis job to build the documentation.  It has happened several times in the past that the documentation stopped building because of some small XML validation issue. We should have a way to detect this immediately.

[2020-01-08 16:14] szhorvat commented on #1276
@ntamas Would you like to take this, since you're currently fiddling with Travis?

[2020-01-08 21:21] vtraag commented on #1276
Probably this should be also done in stages, and probably only for a single OS.

[2020-01-08 22:03] iosonofabio commented on #1276
usually I do this for a single OS which is robust (e.g. linux), a single python version, and with stages

[2020-01-08 22:05] iosonofabio commented on #804
That was 3+ months ago and there has been no change since. I propose we move this to 0.9. I'm sorry if that means @szhorvat has to revert some changes in the mathematica interface.

[2020-01-09 08:02] szhorvat commented on #804
@iosonofabio

It cannot be reverted because the functionality is already released and people are using it. It needs to be in 0.8.

You have not seen any changes that happened because they are on my machine and not on this branch. When it is complete, it will be sent as a separate PR.

[2020-01-09 20:33] ntamas commented on #1276
Sounds good to me. My priority right now is to get things sorted out with the building of wheels in `python-igraph`, but I can also take a stab at this one once I'm done over there.

We could probably also auto-deploy the documentation somewhere with Travis and Github Pages, couldn't we? Any best practices out there? The best would be to have the documentation for tagged releases built and pushed

[2020-01-10 07:51] vtraag opened #1278 "Setup archiving on Zenodo"
The plan is to automatically archive all `igraph` releases on Zenodo.

[2020-01-10 08:40] ntamas commented on #1202
As discussed on Discourse, we'll do this after the feature freeze on the 19th.

[2020-01-10 18:43] ntamas commented on #1276
Documentation is [now built on Travis](https://travis-ci.org/igraph/igraph/jobs/635396255) in HTML and PDF format.

Next step: where can we host the documentation that was built?

[2020-01-10 20:55] iosonofabio commented on #1276
Fantastic!!

What's behind the current igraph pages?

On Travis you can save encrypted passwords so one can just push it to the igraph server via ssh, aws, or whatever else.

Or am I misunderstanding the question?

On Sat, Jan 11, 2020, at 05:43, Tamás Nepusz wrote:

[2020-01-10 21:28] ntamas commented on #1276
Well, igraph.org is currently served from the [igraph/igraph.org](https://github.com/igraph/igraph.org) repo with Github Pages. So, if I want to update anything on the homepage, the process is like this:

1. Modify the content in the repo.
2. Rebuild the page with Jekyll into the `docs/` folder of the repo.
3. Commit the changes to the repo, _including_ the generated `docs/` folder.
4. Push the ch

[2020-01-10 21:37] iosonofabio commented on #1276
Oh so there's a separate repo/branch just for the website? We could push to that repo from Travis. Happy to help if you need.

Or you wanna have a quick call? I'm in Oz so now or tomorrow same time would work, or anytime in the next 13 hours.

On Sat, Jan 11, 2020, at 08:28, Tamás Nepusz wrote:

[2020-01-10 21:39] vtraag commented on #909
Given that `igraph` builds correctly on Windows in AppVeyor, can we simply close this issue? Or is there some specific issue still here that does not play on AppVeyor, but does play in other contexts?

The point about improving instructions is already a separate issue https://github.com/igraph/igraph/issues/969.

[2020-01-11 10:30] ntamas commented on #909
Closing this; I think AppVeyor does the job well now. Anyone is free to reopen this issue if they think otherwise.

[2020-01-11 10:30] #909 closed

[2020-01-11 20:53] vtraag commented on #678
I have been looking into the failures that I mentioned previously (in https://github.com/igraph/igraph/issues/678#issuecomment-528084702) a bit more.

In particular, I have looked into the `igraph_adjacency_spectral_embedding`. It seems that the differences are due to differences in returned matrices of the singular value decomposition. These are also not uniquely determined if I am not mistaken,

[2020-01-11 22:45] iosonofabio commented on #678
Maybe this is just a rounding error, but if not: SVD is not unique per se so people put up some convention to deal with these issues.

1. The order of singular values is usually reported highest to lowest (can't be less than 0) which fixes the order of columns in the U and V matrices of left and right singular vectors too
2. If two or more singular values are the same and > 0, linear combination o

[2020-01-12 06:28] vtraag commented on #678
As far as I understand, even for the same order of singular values, the U and V matrices are not uniquely determined, and have some freedom of alternative representations, also beyond sign flipping it seems. Perhaps we could only check the singular values themselves, instead of the singular vectors.

[2020-01-12 06:32] iosonofabio commented on #678
I had this problem before and gave up on the vectors like you are suggesting. However that was a small personal project while igraph should satisfy a higher standard so I'm debating. What other things can change except for a sign (or phase, if complex numbers) and degenerate subspaces?

On Sun, Jan 12, 2020, at 17:28, Vincent Traag wrote:

[2020-01-12 15:14] vtraag commented on #678
Sorry, I think you are right, I had in mind the degenerate subspaces. I'll try to see if that relates to the problem.

[2020-01-12 15:16] vtraag commented on #900
I think we should move this to 0.9, we are unlikely to solve this before release.

[2020-01-12 19:41] vtraag commented on #678
Yes, indeed, the problem for `igraph_adjacency_spectral_embedding` relates to the degenerate subspaces. There are 4 columns requested, and the fourth singular value has a multiplicity of 4. The first 3 columns only have sign differences, but the fourth column contains quite different values.

This will be difficult to correct I think. Regarding the sign, we could of course simply output the absolu

[2020-01-12 19:53] #279 closed

[2020-01-12 19:54] ntamas commented on #1146
PR is now merged, I think we can reassign this to 0.9.0 for a "proper" fix.

[2020-01-12 20:20] iosonofabio commented on #678
Yep, agreed to check just the values then.

An easy fix would be to check directly whether the vectors proposed are singular by doing the matrix multiplications:

VM = US

But I think checking just the trace of S will be fine.

Cheers,
Fabio

On Mon, Jan 13, 2020, at 06:41, Vincent Traag wrote:

[2020-01-20 02:31] YasirKusay opened #1282 "Incompatible Library Version"
I've recently installed igraph and wrote a small program from it, successfully compiling it but upon executing the program, I am greeted with this message:

dyld: Library not loaded: @rpath/libxml2.2.dylib

  Referenced from: /usr/local/lib/libigraph.0.dylib

  Reason: Incompatible library version: libigraph.0.dylib requires version 12.0.0 or later, but libxml2.2.dylib provides version 10.0.0

Abo

[2020-01-20 07:43] vtraag commented on #1282
You probably have an older version of `libxml2` installed in another location. You can remove the older installation or adjust `LD_LIBRARY_PATH` to ensure that the proper library is found.

[2020-01-20 08:40] ntamas commented on #1278
Is this addressed by #1280 or is there more to the story?

[2020-01-20 08:56] szhorvat commented on #1278
There's a bit more, as we need to connect Zenodo. I'll look into this. I haven't done it yet because I have to check how people other than myself will be able to change settings on Zenodo if I use my own Zenodo account.

[2020-01-20 08:57] vtraag commented on #1278
In the `igraph` repository that is all that needs to be done I think. But the hook should also be created in Zenodo so that is watches the repository when a release is made. Perhaps @szhorvat has already done that?

[2020-01-20 08:58] szhorvat commented on #1278
I'll close the issue when it's done.

[2020-01-20 12:13] szhorvat opened #1284 "Upgrade igraph to 0.8 in package managers"
This is a TODO item (so we don't forget).

After the 0.8 release, we need to make sure that igraph and python-igraph are upgraded quickly in:

 - [x] MacPorts (@szhorvat)
 - [x] Homebrew (@ntamas)
 - [ ] `conda` (@vtraag)

[2020-01-20 21:12] ntamas commented on #1284
We should probably do the same with Mac Homebrew as well (which I am happy to do).

[2020-01-20 22:13] szhorvat commented on #1278
Tamás set this up. DOI will be assigned after the first release is created.

[2020-01-20 22:13] #1278 closed

[2020-01-20 22:14] szhorvat commented on #1282
Can you give more details about how you installed igraph and how you are compiling?

@vtraag  I think OP is on macOS, where we have `DYLD_LIBRARY_PATH` instead, but I am not intimately familiar with the working of this environment variables and the specific differences between Mac/Linux.

[2020-01-20 22:59] iosonofabio commented on #1282
For full disclosure, Yasir is a student who recently contacted me to contribute to igraph, so he's interested in compiling the git bleeding edge rather than just installing production igraph from MacPorts.

I am meeting with him to help and would appreciate OSX folks expertise as I'm most familiar with linux.

Thank you all,
Fabio

[2020-01-20 23:45] ntamas commented on #1282
@vtraag is correct; this typically happens when you have multiple versions of `libxml2` lying around on your machine. The most plausible explanation is that when you compiled igraph, it linked to one of these libxml2 versions - the one whose interface is versioned as 12.0.0. Then, when you try to _run_ your program that links to igraph, the linker picks up _another_ of these libxml2 libraries - th

[2020-01-20 23:48] ntamas commented on #1282
Incidentally, the version of `libxml2` from Homebrew is at ABI version 12.0 on my Mac so that could be the culprit:

[code]

I guess that the compiler picked up libxml2 from Homebrew when compiling the test app, but then it tries to link to libxml2 from macOS when running the app. In theory, `libxml2` is installed by Homebrew in a way that compilers don't pick it up accidentally:

[code]

[2020-01-21 07:48] vtraag commented on #1284
Perhaps we can make this: "Upgrade `igraph` to 0.8 in package managers"? There is also a `conda` package of `igraph` (i.e. of the the C core), I'd be happy to make sure that it is properly updated (and also supported on Windows).

What did we agree on for Debian? I believe somebody else could pull the release source and create a new Debian package, but I don't remember the details, hopefully you d

[2020-01-21 08:31] szhorvat commented on #1284
If anyone volunteers to take care of a specific package manager, please
just edit the issue and add a checkbox

--
sent from a phone

On Tue, 21 Jan 2020, 08:48 Vincent Traag, <notifications@github.com> wrote:

[2020-01-21 14:02] zamadxarif opened #1285 "Location of 'C_R_igraph_finalizer'"
Hello igraph developers,
Apologies if this is not the right place to ask.
The R function for degree calls the C function 'C_R_igraph_finalizer' and 'C_R_igraph_degree'. I would like to view the code underlying this but am unable to find it in the repository. Could someone kindly guide me to this?
Thanks.

[2020-01-21 14:04] gaborcsardi commented on #1285
These are in the R package, e.g. https://github.com/igraph/rigraph/blob/675946d0d30a3e29b3562a76d25a52faf2332240/tools/stimulus/rinterface.c.in#L2150

[2020-01-21 14:04] #1285 closed

[2020-01-21 16:44] ntamas commented on #1284
The Debian-Med team manages the packaging of igraph for Debian; see [this repo](https://salsa.debian.org/med-team/igraph). I believe that the easiest is to contact @tillea once we've made a release and discuss with him what needs to be done to make the packaging as smooth as possible.

It might also be worth looking into the repo now to see if there are any patches they apply to upstream in 0.7.1,

[2020-01-21 20:42] tillea commented on #1284
On Tue, Jan 21, 2020 at 08:44:53AM -0800, Tamás Nepusz wrote:

There are definitely some patches that are not Debian specific.  Feel free to ask me if you need any assistance.  Kind regards, Andreas.

[2020-01-22 05:55] YasirKusay commented on #1282
I apologise for replying a bit late as I had work and didnt get a chance to code until now. Thank you all for your replies! @vtraag and @ntamas you are correct! There is another version of libxml2 and it appears that it comes with the computer so I cannot simply delete it. I have tried to change the library linkage of igraph by running the command:

install_name_tool -change /usr/lib/libxml2.2.dyl

[2020-01-22 08:21] ntamas commented on #1284
@tillea I have checked the patches now and all of them are merged into upstream so there should be no need for any of them with the next release.

I am a bit uncertain about [this one](https://salsa.debian.org/med-team/igraph/blob/master/debian/patches/skip_tests_accessing_remote.patch), though. According to the description of the patch, it was needed to disable certain tests that require "remote

[2020-01-22 08:26] ntamas commented on #1282
`install_name_tool` simply changes the _path_ where the library is looking for its dependencies, but it does not change the ABI version that it is looking for. You need to recompile igraph from scratch to fix this, and make sure that it finds the "right" libxml2 during compilation.

That shouldn't be the case - even on a fully updated Mac, the only version of libxml2 that comes preinstalled with t

[2020-01-22 09:05] YasirKusay commented on #1282
The other copy (the one I installed from brew) is located in
/usr/local/Cellar/libxml2/2.9.10/
How can I recompile to make sure it locates the correct libxml2 (the one above)

[2020-01-22 09:07] tillea commented on #1284
On Wed, Jan 22, 2020 at 12:21:53AM -0800, Tamás Nepusz wrote:

Great!

Hmmm, may be I was wrong here.  The Debian build system is using a chroot that is disconnected from the internet.  I guess if the tests are disabled I have suspected signs that these tests might be directly or indirectly to some downloading.  But I might have been wrong.  Feel free to skip this patch and I try again with the ne

[2020-01-22 09:08] szhorvat commented on #1282
Can you show the exact steps you used to compile & install igraph, then to compile your program? We can start from there.

[2020-01-22 09:12] ntamas commented on #1282
Also, igraph's configure script typically uses `pkg-config --cflags --libs xml2` to find libxml2, falling back to sane defaults if `pkg-config` is not installed or if it does not know about libxml2. Try running `pkg-config --cflags --libs xml2` on the command line; it should either say that `pkg-config` is not found or that `libxml2` was not found on the pkg-config search path. Manually symlinking

[2020-01-22 09:19] iosonofabio commented on #1282
Thanks guys for helping Yasir. Happy to include whatever comes out in the FAQs if you feel like it'd be useful for the general public

On Wed, Jan 22, 2020, at 20:12, Tamás Nepusz wrote:

[2020-01-22 09:25] YasirKusay commented on #1282
Thats ok but thank you very much. After playing around for a bit, I have managed to fix the problem!

[2020-01-22 09:27] iosonofabio commented on #1282
Awesome! What was the fix?

On Wed, Jan 22, 2020, at 20:25, YasirKusay wrote:

[2020-01-22 09:36] YasirKusay commented on #1282
The solution is a bit anti climactic. I decided to simply brew uninstall igraph and reinstall again and compile normally. It worked and now the program works. Im certain that it has to do with conflicting files, uninstalling/reinstalling seemed to have solved this.

[2020-01-22 09:57] ntamas commented on #1202
I have started implementing this with `astyle`; @vtraag @szhorvat please take a look at the most recent commit where I reformatted the `examples/` folder only. If you spot something that you don't like, please propose alternate settings in `.astylerc`, otherwise I'll proceed with the reformatting in the next few days with `include/` and `src/`, excluding vendored sources.

[2020-01-22 10:28] vtraag commented on #1202
Thanks! Generally it seems OK to me.

There are some minor alignment issues it seems. For example:
https://github.com/igraph/igraph/blob/fc15b8b4da892faf92bed12fa88d44c1f491e96d/examples/simple/biguint_betweenness.c#L92-L98

https://github.com/igraph/igraph/blob/fc15b8b4da892faf92bed12fa88d44c1f491e96d/examples/simple/biguint_betweenness.c#L186-L187

Perhaps `astyle` doesn't do this alignment at a

[2020-01-22 10:28] szhorvat commented on #1202
@ntamas Before you go ahead for the full codebase, please take a look at these locations and make sure their readability does not suffer:

https://github.com/igraph/igraph/blob/fc15b8b4da892faf92bed12fa88d44c1f491e96d/src/random.c#L229

https://github.com/igraph/igraph/blob/fc15b8b4da892faf92bed12fa88d44c1f491e96d/src/igraph_error.c#L80

https://github.com/igraph/igraph/blob/fc15b8b4da892faf92bed1

[2020-01-22 10:40] ntamas commented on #1202
@vtraag

It definitely does some kind of alignment, but it might be thrown off-course due to the comments. Any manual changes to indentation in these lines are promptly reverted by `astyle` so it's definitely intentional. However, it can be nudged in the right direction by adding a newline after the opening parenthesis - then the arguments are nicely aligned under each other.

[2020-01-22 10:52] ntamas commented on #1284
@tillea We have a `debian/` folder in our own source tree, but it is unmaintained - would it cause any disruption on your end if we removed it from our repo?

[2020-01-22 10:52] vtraag commented on #1202
That sounds like a sensible solution then! I'd be happy to help out identifying parts where things go wrong, add a newline and re-run `astyle`.

[2020-01-22 10:56] szhorvat commented on #1202
I am mildly irritated by forcing braces for one-line `if`, `for`, etc. but I do not have a very strong feeling about it. Is there a way to set astyle to leave it as it is (instead of always adding or always removing braces)?

Example:

[code]

or

[code]

[2020-01-22 10:59] ntamas commented on #1202
Yes, we can change that -- we need to remove `--add-braces` in `.astylerc`. I have gotten into the habit of using braces everywhere because one-line branches often evolve into multi-line branches and it is tiresome to add them later, but I'm okay with either.

[2020-01-22 11:01] vtraag commented on #1202
I agree with @szhorvat that it clutters one-liners. But in the interest of reducing possible bugs and issues that arise because of forgetting them, I'd still be in favour of keeping them.

[2020-01-22 11:04] szhorvat commented on #1202
Of course, it's not a huge deal and I'm absolutely willing to go along with the all-braces style if people want that.

However, the following does bother me:

In `degree_sequence.cpp`, line 146, the following would be changed like so:

Current version:

[code]

astyle changes it to:

[code]
Problems:

 - it messes up the multi-line part in the parentheses in `for (...)`
 - while I strongly prefer

[2020-01-22 11:10] szhorvat commented on #1202
Readability would suffer in `arpack.c`:

https://github.com/igraph/igraph/blob/master/src/arpack.c#L35

![image](https://user-images.githubusercontent.com/1212871/72889533-2f445580-3d10-11ea-9da2-f1418145ba5b.png)

[2020-01-22 11:14] szhorvat commented on #1202
Another example from `arpack.c` where three statements originally written on the same line do seem to conceptually belong together, but astyle breaks them up. I am wondering it there is an astyle setting that prevents such lines from being forcibly broken up.

![image](https://user-images.githubusercontent.com/1212871/72889776-c0b3c780-3d10-11ea-8fed-5a6121990fa6.png)

[2020-01-22 11:25] szhorvat commented on #1202
In header files (e.g. `igraph_adjlist.h`), multi-line argument lists end up with an unfortunate indentation (because of all the `DECLDIR`):

![image](https://user-images.githubusercontent.com/1212871/72890497-4b48f680-3d12-11ea-8b86-bb8ce3ee8eae.png)

[2020-01-22 11:29] szhorvat commented on #1202
I need to stop for today.

The above are some examples of problems, but they seem to occur rarely. Some of these can therefore be fixed manually.

The `examples/` directory doesn't contain some special things that tend to get messed up, such as `switch` statements or C++ code. These are what we need to pay attention to.

[2020-01-22 11:50] ntamas commented on #1202
You can always opt-out of `astyle` by wrapping a code section in `// *INDENT-OFF*` and `// *INDENT-ON*`.

[2020-01-22 12:11] vtraag commented on #1202
I assumed that we would only run `astyle` now once? Adding stuff to the source code to ensure proper formatting when running `astyle` only sounds like unnecessarily cluttering the source code. We could then go through the source code manually to correct things that were better before, and keep that style. The most important thing was the different tab/space indentation, and if that is solved, that

[2020-01-22 12:13] ntamas commented on #1202
Yes, me too. I just wanted to say that we can easily get around `astyle` if we know in advance that there are some problematic parts where the formatting would be messed up -- we can add the markers, run `astyle`, and then either remove them or just leave them as is.

I'll add an `.editorconfig` file in a later commit.

[2020-01-22 12:14] tillea commented on #1284
On Wed, Jan 22, 2020 at 02:52:03AM -0800, Tamás Nepusz wrote:

We actually recommend that upstream should not provide a debian/ folder due to several reasons.  So please remove it if you want to do me a favour. :-)

[2020-01-22 13:03] YasirKusay commented on #1208
Hello, I would like to be assigned to this issue please.
I have already begun working on some of the tests for igraph_closeness_estimate.

[2020-01-22 13:08] iosonofabio commented on #1208
Hi Yasir,

It'd be best to proceed as we agreed, which is first open a PR so I/we can see your proposed changes and then we'll assign the issue.

It'll get easier as you get credibility but for now maybe that works best.

On Thu, Jan 23, 2020, at 00:03, YasirKusay wrote:

[2020-01-22 13:30] ntamas commented on #501
Not relevant any more as we are not building Ubuntu packages ourselves.

[2020-01-22 13:30] #501 closed

[2020-01-22 13:42] #1282 closed

[2020-01-22 14:35] cndesantana commented on #876
Hi people. I think the issue is solved, right? See https://github.com/igraph/igraph/milestone/8

Btw: thanks you all for your hard work and efforts!

[2020-01-22 14:49] szhorvat commented on #1074
It may be more useful to first create a function that takes a *graph6 string* (not a file) as input and creates a graph from it.  Permission was granted (in private) to re-use code from gtools/nauty for this. (The license is not GPL2-compatible, so we could not just rely on that.)

[2020-01-22 15:29] rozlynboutin opened #1286 "Node labelling for cross-kingdom networks"
Hi!

I am trying to use igraph to plot a SPIEC-EASI-generated cross-kingdom network (between fungi and bacteria). I have 20 taxa in each phyloseq matrix used to create the plot and would like to annotate the vertexes with the taxa names. I was wondering if this is possible? I can use dtype (see code below) to specify shapes and colours for each kingdom, but can't get each vertex to have a single a

[2020-01-22 15:30] szhorvat commented on #889
I am no longer in favour of doing this. Instead, I would like to see GMP integrated better into igraph.

Closing (re-open if you disagree).

[2020-01-22 15:30] #889 closed

[2020-01-22 15:46] ntamas commented on #376
I think this has already been implemented years ago. Closes #376.

T.

[2020-01-22 15:49] #376 closed

[2020-01-22 15:54] #590 closed

[2020-01-22 15:54] #647 closed

[2020-01-22 16:47] vtraag opened #1287 "Compilation on Windows"
Right now, the `igraphtest` solution does not immediately build correctly because of two things.

1. We need to add `#define IGRAPH_NO_IMPORTS 1` to `igraphtest.cpp`, as explained [here](https://github.com/igraph/igraph/pull/1279#issuecomment-577080247). As discussed in that thread, we will change the name of the symbol to `IGRAPH_STATIC`.

2. We need to correct the include/library directory. Righ

[2020-01-22 19:24] #596 closed

[2020-01-22 19:38] ntamas commented on #536
Right now the examples are not even visible in the C PDF manual. This should be fixed before the 0.8 release if possible.

[2020-01-22 19:47] ntamas commented on #1287
Point 1) is now taken care of.

As for point 2), what is the problem with generating `igraphtest.vcproj` dynamically?

[2020-01-22 21:52] vtraag commented on #1287
We could generate `igraphtest.vcproj` dynamically, but it creates yet another step in the whole build chain, which is already complex enough as it is. Preferably I'd like to make it as simple as possible, more complex chains are only more likely to break at some step of the process. What is the reason to keep the name of the directory as `igraph-[VERSION]-msvc`?

[2020-01-23 08:19] szhorvat commented on #536
Does anyone actually use PDF manuals for such software? I would have expected most people to use the HTML version.

Copying code from PDF is not always reliable due to strange character encodings.

[2020-01-23 08:21] szhorvat commented on #596
I wonder if this was similar to the mysterious nondeterministic failure we saw here: https://ci.appveyor.com/project/ntamas/igraph/builds/30228621/job/xxahc4hl3x81hb75

[2020-01-23 08:23] ntamas commented on #1287
Okay, another idea. Why don't we put the whole `igraphtest` folder as `test` _inside_ `igraph-[VERSION]-msvc`? This way we would not need to use `..\igraph-[VERSION]-msvc\include` in the project file -- we could simply use `..\include`. (Plus, the whole ZIP file would be much cleaner; generally I like when there is only one top-level directory in a ZIP file so I can clear the contents after unzipp

[2020-01-23 08:24] szhorvat commented on #504
This is actually important and is not treated satisfactorily in the documentation in some cases (remember the mismatch between weight interpretation between modularity and edge betweenness for the Girvan-Newman implementation?)

[2020-01-23 08:28] ntamas commented on #1287
Added a commit with the changes proposed above - can you please test it?

[2020-01-23 08:29] ntamas commented on #596
Well, it was almost six years ago so it's hard to tell :)

[2020-01-23 08:44] szhorvat commented on #649
I fully agree with Tamás's analysis, closing.

[2020-01-23 08:44] #649 closed

[2020-01-23 08:45] vtraag commented on #596
I can't even open the original link anymore, so indeed hard to tell :)

But @szhorvat has a point: sometimes there are some mysterious failures involving the random sampling, so perhaps good to keep this issue open to make sure we don't loose sight of it.

[2020-01-23 08:57] szhorvat commented on #8
A useful read for betweenness estimation:

 - https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.105.038701

[2020-01-23 09:04] #883 closed

[2020-01-23 09:05] vtraag commented on #1287
I seem to be running into some issue. Will investigate and make a new PR to fix this. I will also look into compilation with `libxml` support (which also has some issues, as I mentioned [here](https://github.com/igraph/igraph/pull/1279#issuecomment-577557544)).

[2020-01-23 09:23] szhorvat commented on #469
Related: https://github.com/igraph/igraph/wiki/Checklist-for-new-(and-old)-functions

[2020-01-23 09:24] szhorvat commented on #545
We need a reproducible example for this. Do you still have one @gaborcsardi ?

[2020-01-23 09:39] szhorvat commented on #924
Fixed by #1281

[2020-01-23 09:39] #924 closed

[2020-01-23 10:12] szhorvat commented on #1218
Relevant reference:

 - https://journals.aps.org/pre/abstract/10.1103/PhysRevE.76.026107

[2020-01-23 10:19] szhorvat commented on #1050
Fixed by #1187

[2020-01-23 10:19] #1050 closed

[2020-01-23 10:39] szhorvat commented on #815
VF2 not supporting non-simple graphs is now documented.

`igraph_simplify_and_colorize` makes it easy to implement a workaround.

[2020-01-23 10:39] #815 closed

[2020-01-23 10:41] szhorvat commented on #904
Data to reproduce is no longer available. Closing.

[2020-01-23 10:41] #904 closed

[2020-01-23 11:33] ntamas commented on #536
Good question. I'd love to be able to drop PDF support at some point because then we could move on to a more modern documentation publishing platform such as [Antora](https://antora.org/). (They are [working on PDF support](https://gitlab.com/antora/antora/issues/349) but it's not there yet).

[2020-01-23 11:35] ntamas commented on #1287
Thanks for the fix, I missed this point while testing - my build folder always had lots of cr*p in there that needed to be cleaned up while creating the ZIP.

[2020-01-23 13:24] vtraag commented on #536
I wouldn't mind dropping PDF support either. I think almost everyone will use HTML.

[2020-01-23 22:37] iosonofabio commented on #536
Let's drop it

On Thu, Jan 23, 2020, at 21:24, Vincent Traag wrote:

[2020-01-24 09:09] ntamas commented on #536
I have checked the build process and it seems like the examples are _explicitly_ removed - only the heading is kept along with the filename, so I guess the original intention was that users who are using the PDF manual should look up the corresponding file on their computers.

Since we have agreed not to put too much emphasis on the PDF documentation, I propose the following: let's keep the curren

[2020-01-24 09:09] #536 closed

[2020-01-24 09:42] szhorvat opened #1291 "Release timeline for 0.8"
This issue is to make it easier to keep track of tasks for the 0.8 release and prioritize tasks. Please edit it as needed: add missing tasks, check completed ones, optionally assign yourself to a task.

----

Release happens on Jan 28 or 29 (Tue or Wed).

Some consider Tuesday announcement ideal for attracting maximal attention.

----

Pre-release checklist:

 - [x] Complete changelog
 - [x] Refor

[2020-01-24 10:24] szhorvat opened #1292 "Documentation: docs should be generated for "internal" group"
Documentation is not generated for items in the "internal" group. Example:

https://github.com/igraph/igraph/blob/master/include/igraph_datatype.h#L34

Does anyone remember why this is so?

Is there currently a *simple* way to include this group?

I propose we include it in the standard documentation. The igraph project does not have enough manpower, so we should make the barrier to contributions

[2020-01-24 10:28] yugr commented on #1181
On newer GCCs you could also `export ASAN_OPTIONS=verify_asan_link_order=0` to suppress the check. But you have to be sure that libraries from /etc/ld.so.preload do not intercept symbols important for Asan e.g. malloc, free, etc., otherwise things will start breaking.

[2020-01-24 10:34] ntamas commented on #1202
Managed to solve this by setting `--min-conditional-indent=0`.

This was solved with `--keep-one-line-statements`.

Interestingly enough, the indentation is correct for the first function declaration of every such block and is incorrect for the rest. Nevertheless, I'd rather just let astyle do what it wants and spend some time on fixing the indentation in headers later (after the release of 0.8).

[2020-01-24 10:53] ntamas commented on #1292
Well, it is not included in the documentation because, as its name implies, its an internal thing and it should not concern the user :) In many cases the internal data types are not even documented properly, so I think including this section in the documentation now would probably do more harm than good. We could aim for documenting internal stuff properly (to an extent that matches the documentat

[2020-01-24 11:02] vtraag commented on #1292
Yes, it would be good to have proper documentation of the internal types and functions. But I agree with @ntamas that it probably wouldn't be the right time to do that now. But it would definitely help new contributors to find their way around the internals of `igraph`, so I think this is quite important for making it as easy as possible to get new contributions in.

[2020-01-24 11:08] ntamas commented on #1202
Code formatting done. I consider this as a one-time event so I won't be running astyle regularly on the codebase. Therefore, if you don't like the formatting anywhere, you can fix it manually.

I'll adjust the existing vim modelines as well.

[2020-01-24 11:08] #1202 closed

[2020-01-24 21:45] #854 closed

[2020-01-25 02:43] iosonofabio commented on #1208
Assigned to Yasir, as planned. Chances are progress on this will happen on PR #1290 and will be merged, if all goes well, right after 0.8 is released (assuming the code is working).

[2020-01-26 17:12] szhorvat opened #1296 "Document IGRAPH_TO, _FROM, _OTHER"
We need to document `IGRAPH_TO`, `IGRAPH_FROM`, `IGRAPH_OTHER`

[2020-01-26 17:43] szhorvat opened #1297 "Functions that have documentation but are not included in the docs"
edits by Fabio: some updates

The following is a list of functions that have their documentation written up, but it is not included in the generated documentation pages.

If you include one, tick the box. Feel free to add more that you find. If there is a reason *not* to include one, please comment here.

**in R** marks those that are included in the R interface, which shows that they were not mea

[2020-01-26 19:46] ntamas commented on #1297
Re `igraph_set_*`: I think these functions were not mature enough to be part of the public interface - I added them a long while ago simply because I needed a set data type for some algorithm. They are probably not optimized enough yet.

Re `igraph_maximal_cliques_subset` and `igraph_even_tarjan_reduction`: these functions lack proper documentation, only the headings are there.

[2020-01-27 07:21] szhorvat commented on #1291
I marked docs as complete. It's good enough as it is. We can make more doc improvements for a possible 0.8.1.

[2020-01-27 09:59] szhorvat commented on #536
So, there is an important point that I forgot about:

Currently, the HTML docs are only convenient to read online. There should be an easy enough way to read them offline. Whether this is through a PDF version of a self-contained zipped package of the HTML pages, it does not matter. But there should be a way.

[2020-01-27 11:00] ntamas commented on #536
Would a Dash docset solve that problem for you?

[2020-01-27 11:28] szhorvat commented on #536
Well, it's not for me personally. I am comfortable enough with igraph to just build the HTML docs myself.

But normal users of the C interface should not need to do this.

Of course, I'll look into how to make a Dash docset (after all, I suggested it), but I feel that it's not quite sufficient because Dash is not free. However, as part of making that, we can probably easily produce a zipped archiv

[2020-01-27 11:36] ntamas commented on #536
I have looked into it already; the bottom line is that you need to:

* create a special directory structure (not a big deal)
* copy all your HTML into one particular folder in this directory structure (not a big deal either)
* provide an Info.plist file with metadata (easy)
* create an SQLite3 database inside the docset that contains the index of the docset

It is the latter part that is tricky; b

[2020-01-27 11:53] szhorvat commented on #536
That's really great! Thank you so much.

One more necessary point is collecting all the necessary resources (CSS, images, js files, etc.), which I haven't figured out yet ... I guess you are familiar with this since you were building the website.

[2020-01-27 12:21] vtraag opened #1301 "Internal functions in public API"
At the moment there are a number of internal functions exposed in the public API:

- [x] `igraph_flow.h`
https://github.com/igraph/igraph/blob/41f34a9f01f34965cc918f3ec07a728c5a32edf3/include/igraph_flow.h#L125
https://github.com/igraph/igraph/blob/41f34a9f01f34965cc918f3ec07a728c5a32edf3/include/igraph_flow.h#L132

- [x] `igraph_sparsemat.h`
https://github.com/igraph/igraph/blob/41f34a9f01f34965c

[2020-01-27 13:26] vtraag commented on #1291
I just finalized the categories setup and description of the [igraph support forum](https://igraph.discourse.group/). As suggested by @szhorvat, it might be a good idea to have some seed examples in all categories. Suggestions are welcome. Perhaps there are some good previous issues that have come up that we can use?

[2020-01-27 13:33] ntamas commented on #1291
Updated installation instructions for Windows are now live on the staging version of the website.

[2020-01-27 16:55] szhorvat commented on #1301
This we leave for 0.9 or 0.8.x, right? I think it's not critical and we're out of time.

[2020-01-27 18:14] vtraag commented on #1301
Yes, definitely!

[2020-01-27 21:44] ntamas opened #1302 "igraph_random_sample.c test failure"
The test case in `examples/simple/igraph_random_sample.c` [failed on Appveyor today](https://ci.appveyor.com/project/ntamas/igraph/builds/30377785/job/0gopxk7j21tfaut4). Upon closer investigation, I don't even have an idea about how the test case is supposed to work anyway.

The faiing test case is case #2 in `error_test()`, where we apparently draw two random numbers from the range [-1000; 1000],

[2020-01-28 08:06] vtraag commented on #1302
I think you are right @ntamas. If `high=low + 1`, then `length = 1`, which is identical to the candidate pool size.

Frankly, I would prefer to have deterministic tests, not random tests. Otherwise, when a test fails, we are debugging the test, rather than the underlying problem.

I would therefore suggest to change this test. The tests are simple: (1) pass an impossible interval, where the upper

[2020-01-28 08:17] szhorvat commented on #1291
Today is the originally planned release day. It is time to review where we stand. Hopefully, we can release with no more than 2 days delay.

 - Code base is fine (#1302 should be addressed today)
 - Why are the Windows installation instruction PRs still open? #1279 #1289
 - I think the changelog is complete. Please complain in #1295 if something is missing.
 - Website is complete
 - We need to wri

[2020-01-28 08:26] szhorvat commented on #1291
I tentatively assigned the post-release tasks to people, edit if necessary.

[2020-01-28 08:43] gaborcsardi commented on #1291
OK, I set up the forwarding, who wants to be included?

I am not sure if this will be the right solution, though. You can reply to a message that was sent to igraph.org, but I don't think others will see your reply, unless it is explicitly sent to igraph.org as well. Anyway we can test it.

[2020-01-28 08:47] vtraag commented on #1291
@gaborcsardi Thanks for setting it up! Please include me (v.a.traag@cwts.leidenuniv.nl).

This is indeed the downside of the current setup. The most important thing is that we now have the address working. Perhaps in the future we need to setup some shared mailbox or something, I'm not sure what solutions are out there.

[2020-01-28 08:56] #1302 closed

[2020-01-28 08:58] #1287 closed

[2020-01-28 09:39] ntamas commented on #1291
Added a notice about the Discourse group in the issue template. Also added [contributing guidelines](https://github.com/igraph/igraph/blob/master/.github/CONTRIBUTING.md).

[2020-01-28 11:13] Enchufa2 opened #1304 "gfortran 10: rank mismatch"
The internal LAPACK version fails to compile with the following error (this is for R-igraph):

[code]

- Complete log: https://copr-be.cloud.fedoraproject.org/results/iucar/cran/fedora-rawhide-x86_64/01194885-R-CRAN-igraph/builder-live.log.gz
- Info about the specific change in gcc 10: https://gcc.gnu.org/gcc-10/porting_to.html#argument-mismatch

[2020-01-28 11:14] Enchufa2 commented on #1304
- And apparently fixed here: https://github.com/Reference-LAPACK/lapack/issues/7

[2020-01-28 14:20] ntamas commented on #1304
Not sure if this is really about the internal LAPACK. The `gfortran` invocation in the original log uses `dgetv0.f` as the input file. We have no `dgetv0.f` in igraph's source code as we have already converted the Fortran source code of LAPACK to C with `f2c` before including it in our source tree - we have `dgetv0.c` on our side.

[2020-01-28 19:06] Enchufa2 commented on #1304
Well, it's evident that the file is there when compiling Rigraph at least.
I thought that Rigraph was just cloning this repo, but apparently not?

[2020-01-28 19:10] ntamas commented on #1304
Well, R-igraph is built from the [igraph/rigraph](https://github.com/igraph/rigraph) repo - but it includes this repo as a submodule, and there's still no `dgetv0.f` file there. I'm not familar enough with the build process of the R interface of igraph to figure put where this file could come from.

I'm transferring this issue to igraph/rigraph as it seems to be R-related only.

[2020-01-28 19:16] ntamas commented on #1089
Can we move this back to 0.9.0?

[2020-01-28 19:19] szhorvat commented on #1089
Anything of this sort is still marked as 0.8 only by accident ...

[2020-01-28 19:39] ntamas commented on #1291
Updated the Python part of the homepage to refer to the Discourse group instead of the mailing list. The only reference left to the mailing list on the homepage now is under the R subpage. I don't know whether @gaborcsardi prefers to keep on using the mailing list or watch the Discourse forum instead so I've left everything as is in the R territory for the time being.

[2020-01-28 19:42] ntamas commented on #1284
Just adding a note here that I need to wait for the final 0.8.0 tarball before updating the Homebrew recipe for igraph because the recipe needs to include the hash of the tarball.

[2020-01-28 19:47] szhorvat commented on #1284
Same with MacPorts.

[2020-01-28 21:07] vtraag commented on #1291
Might it be an idea to include @szhorvat's [checklist for functions](https://github.com/igraph/igraph/wiki/Checklist-for-new-(and-old)-functions) in `CONTRIBUTING.md`?

[2020-01-29 07:16] szhorvat commented on #1291
As far I can see, we are ready.

@ntamas Can you go ahead, make the release and publish the website?

[2020-01-29 08:14] ntamas commented on #1291
@vtraag I have added the checklist to `CONTRIBUTING.md`.

[2020-01-29 09:30] szhorvat opened #1308 "Enable AddressSanitizer on Travis"
It would be useful to enable AddressSanitizer on Travis when compiling on OS X. Any objections?

I was not getting any false positives recently, and it would provide a bit of extra safety.

It would mean using `./configure --enable-asan` here:

https://github.com/igraph/igraph/blob/master/.travis.yml#L40

[2020-01-29 11:33] #969 closed

[2020-01-29 11:44] #399 closed

[2020-01-29 11:44] #21 closed

[2020-01-29 11:44] #1206 closed

[2020-01-29 11:44] #1258 closed

[2020-01-29 11:55] szhorvat opened #1310 "Suggestion for the "stale bot" setup"
Stale bot currently says:

and closes in 7 days.

I suggest:

 - Mentioning the time when it will be closed in the message ("It will be closed in X days") so people who what exactly to expect.
 - Perhaps increasing the time from 7 days to maybe 10 or 14 days?

[2020-01-29 11:57] szhorvat commented on #1266
@gaborcsardi I think you implemented this. Any objections to the above? Did I miss anything?

[2020-01-29 12:01] gaborcsardi commented on #1266
This seems to change the results, so we cannot change it.

[2020-01-29 12:15] ntamas commented on #1291
New release and website is live now. Homebrew formula will be sent in for review soon.

[2020-01-29 12:25] szhorvat commented on #1266
My point was exactly that it doesn't change the result. Counting weakly connected triplet/quadruplets in a directed graph is the same as counting connected triplets/quadruplets in the undirected versions of the same graph.

Out[46] and Out[49] are the same in my example (but the latter was computed faster).

Out[47] and Out[50] are also the same.

[2020-01-29 12:28] gaborcsardi commented on #1266
Right, sure, go ahead then.

[2020-01-29 12:29] szhorvat commented on #1291
Next step is announcements.

@ntamas Can you please send an email to the mailing list, link to the news item and the Discourse forum? It should be from a familiar name.

@vtraag Perhaps you can go ahead with the Twitter?

[2020-01-29 12:36] ntamas commented on #1291
Sent an email to igraph-announce@nongnu.org a few mins ago, but it might have got stuck in the moderation queue. @gaborcsardi used to be the one who sent the announcements back in the old days, I never sent anything there -- anyway, stay tuned :)

[2020-01-29 12:41] gaborcsardi commented on #1291
I am pretty sure that you have a password for https://lists.nongnu.org/mailman/admindb/igraph-announce but I'll just ok it now. Every message is moderated on this list.

[2020-01-29 12:42] gaborcsardi commented on #1291
Btw. it would make sense to send it to igraph-help as well, maybe?

[2020-01-29 12:43] szhorvat commented on #1291
@gaborcsardi Absolutely! Would you like to do that yourself?

[2020-01-29 12:43] ntamas commented on #1291
I'm doing it now.

[2020-01-29 12:44] #746 closed

[2020-01-29 12:44] #731 closed

[2020-01-29 12:44] #807 closed

[2020-01-29 12:44] #799 closed

[2020-01-29 12:46] gaborcsardi commented on #1291
If it is not too late, also put "new igraph forum" in the subject pls. It is not too hard to miss it in the email...

[2020-01-29 12:47] ntamas commented on #1291
I have sent it already, but I'll send a separate message to igraph-help later

[2020-01-29 12:51] #1310 closed

[2020-01-29 12:52] #1308 closed

[2020-01-29 14:04] szhorvat commented on #579
I hijacked this issue a bit (rewrote the description) based on my assumption about what it was originally about.

[2020-01-29 14:06] szhorvat commented on #782
We need to at least check if this is still a problem or already solved.

I believe it refers to https://igraph.org/c/doc/igraph-Structural.html#idm209411768240

See also https://github.com/igraph/igraph/wiki/Checklist-for-new-(and-old)-functions

[2020-01-29 14:07] vtraag commented on #1291
The [PR](https://github.com/conda-forge/igraph-feedstock/pull/14) for updating the `conda` build is underway. I will first ensure that it properly builds on Linux/macOS, and then I will look into building it for Windows.

[2020-01-29 19:33] ntamas commented on #1284
@tillea igraph 0.8 is now released and it should build out-of-the-box on Debian. What can we do to speed up the process of getting this version into Debian?

[2020-01-29 20:56] tillea commented on #1284
On Wed, Jan 29, 2020 at 11:33:29AM -0800, Tamás Nepusz wrote:

Just confirming that
  https://github.com/igraph/igraph/releases
is now the authoritative source to download the source.  The Debian watch file currently says:

    http://igraph.org/c/ .*/nightly/get/c/igraph-(\d[\d.-]+)\.tar\.gz
    # Upstream advises to NOT use Github releases
    # https://github.com/igraph/igraph/releases .*/archi

[2020-01-29 20:58] ntamas commented on #1284
I can confirm that Github releases is the authoritative download source now. (The main homepage is hosted on Github Pages so it would be pointless to copy the tarballs there - they would probably end up in the same server farm anyway).

[2020-01-30 16:11] tillea commented on #1284
On Wed, Jan 29, 2020 at 11:33:29AM -0800, Tamás Nepusz wrote:

OK, package builds and build time test suite passes.

I have added a [symbols file](https://salsa.debian.org/med-team/igraph/blob/master/debian/libigraph0v5.symbols) to the packaging which is helpful to track ABI changes of libraries.  Since from version 0.7.1 to version 0.8.0 there are a lot of '#MISSING:' symbols - so I guess we need

[2020-01-30 16:22] szhorvat commented on #1284
Yes.

Furthermore, python-igraph 0.7.1 (last released version) won't build with igraph 0.8. I have no idea if this is an issue for Debian—mentioning it just in case.

For MacPorts it appears to be an issue. https://github.com/macports/macports-ports/pull/6271

[2020-01-30 17:21] ntamas commented on #1284
Just my two cents re the ABI compatibility: @szhorvat is correct, 0.8 is not ABI-compatible with 0.7.1 and it is likely that we will break API again between 0.8 and 0.9. The reason for this is that we have recently revived the development of igraph, and we would like to get rid of a few mistakes that we've made years ago with the current API. Personally, I do not plan any ABI changes from 0.9 onwa

[2020-01-31 12:29] carissableker commented on #797
I would appreciate if the same option could be added to `igraph_write_graph_ncol` as well.

[2020-01-31 16:12] nograpes opened #1311 "igraph_community_edge_betweenness segfaults on graph with zero edges"
If the function `igraph_community_edge_betweenness` is called on a graph with zero edges, it crashes when attempting to `free` and `invalid pointer`. Here is a reproducible example:

[code]

I believe that memory corruption is caused by indexing an array at -1, which leads to invalidating a pointer. This will cause a segfault when `free` is called on the invalid pointer.

I believe this is the ult

[2020-01-31 18:10] nograpes commented on #1311
Notably, I cannot reproduce this bug on MacOS.

[2020-01-31 18:40] szhorvat commented on #1311
Just because it doesn't segfault doesn't mean it's not buggy.

[2020-01-31 20:42] #1311 closed

[2020-02-01 04:49] YasirKusay commented on #1180
This is a very interesting issue that I found and decided to run a small program to investigate. I created an undirected graph: 0=1-2 (i.e, two edges between 0 and 1, indexed as edges 0 and 1 respectively and 1 edge between 1 and 2, indexed as edge 2). When I ran the program, I assumed that the multi-edge edges will not be considered as a bridge and that igraph_bridges will only return edge id 2 b

[2020-02-01 10:52] ntamas commented on #1180
As stated above in the comment of @szhorvat, `igraph_bridges` appears to ignore multi-edges in the current implementation. My conjecture is that essentially it works with _vertex pairs_ instead, so basically for each vertex pair it investigates whether disconnecting the _vertex pair_ would disconnect the graph. If it does, then it returns _all_ edges between that vertex pair as bridges. So, in som

[2020-02-01 12:01] szhorvat commented on #1180
When I implemented `igraph_bridges`, I followed the guide here: https://www.geeksforgeeks.org/bridge-in-a-graph/  I simply forgot about multi-edges, so the code wasn't originally *meant* to handle them one way or another.

If you'd like to look into this, perhaps the link above will be helpful

[2020-02-02 03:44] YasirKusay commented on #1180
From my observation of the function, if there is a multi-edge, it is treated as a single edge and if it is a bridge, then the final edge from the multi-edge group is returned. Personally, I think the user should have a choice (perhaps including an extra function parameter) to treat multi-edges as just one edge, such that removing all the edges in that multi-edge group may disconnect the graph and

[2020-02-02 09:04] szhorvat commented on #1180
It seems to me that this would bundle the solutions to two conceptually different problems:

 - One is to merge multi-edges into simple ones and retain a mapping between the edges of the original and the simplified graph. I believe we don't yet have such a function, and it might not be a bad idea to have one (we have simplification functions but the ones I am aware of do not retain an edge mapping

[2020-02-02 09:55] iosonofabio commented on #1180
I'm of the same opinion. Having a function that find bridges in simple graphs and throws an error if the graph is multiedged would be clear and useful. That would cover most users and enable complex code to be compartimentalized in a multigraph-specific function.

[2020-02-02 09:56] iosonofabio commented on #1180
Maybe we could ask Yasir to try and take a stab at the simple graph-only function implementation?

[2020-02-02 10:27] YasirKusay commented on #1180
I would be happy to do that. So from what I understand all I am doing is that I am checking if the graph has multi edges and raising an error if it does. In the event that happens, I call graph_simplify and treat the graph as a simple graph right?

[2020-02-02 10:27] ntamas commented on #1180
I agree. And then we could have another function that converts a multi-edged graph into a simple graph and provides a mapping that allows the user to go back and forth between the edge indices.

[2020-02-02 10:40] szhorvat commented on #1180
To be clear, the function does work fine for simple undirected graphs.

It does make sense to add a check at the beginning for multiple edges.

Two things to keep in mind about this:

 - This is not a simple matter of adding `igraph_has_multiple`. The tricky point is that this function, like many other, ignores edge directions. Thus the graph `1->2, 2->1` is a "simple graph" (`has_multiple` return

[2020-02-03 02:04] YasirKusay commented on #1180
I guess I can start working on detecting multi-edges in a directed graph, potentially even on a simplify function but for a directed graph and then work on bridge detection for those.

[2020-02-03 03:07] iosonofabio commented on #1180
I would compartmentalize as much as possible, so:

- change the current function to only work on undirected, simple graphs, throw an error in all other cases (directed and/or `has_multiple`)
- open another issue about a feature request for a `simplify` function (and decide in that thread how to deal with O(1) vs O(n) checks for multiedges

What do you think?

[2020-02-03 07:31] YasirKusay commented on #1180
I think that would be the most suitable thing to do right now. I can worry about multi-edges later in that case.

[2020-02-03 12:15] ntamas commented on #1180
I think that now that 0.8 is out we can probably return to the idea of caching this in `igraph_t`. The first step for doing so would be to validate whether all igraph functions manipulate the graph only through the basic functions provided in `type_indexededgelist.c` (which should be the case as the internal structure is fairly complex so no one should manipulate it directly, apart from the very b

[2020-02-03 12:41] #1263 closed

[2020-02-03 13:17] vtraag commented on #1180
Perhaps we can better continue that discussion in #1219?

[2020-02-03 13:18] vtraag commented on #1180
I wonder if the condition of having multiple edges can simply be checked while executing the algorithm. That way, the impact on runtime complexity should be minimal. I haven't looked at the code though, so perhaps it is not well suited for that.

[2020-02-03 17:17] szhorvat opened #1315 "Documentation: sections/chapters should have IDs in hand-written XML"
The XML files for most of the docs are auto-generated, but the first few chapters are hand-written.

In the hand-written part, all chapters/sections should have explicit IDs.

Since they don't currently have IDs, a new random ID is generated each time the website is built. Thus links like this are not stable (they change on each rebuild):

https://igraph.org/c/doc/igraph-Tutorial.html#idm209453291

[2020-02-04 07:34] YasirKusay commented on #1180
@vtraag I agree that it will minimise runtime complexity, however I also want to implement it independent of any function in case a user wants to check if their directed graph has multi-edges. I would firstly like to implement the function without doing that at runtime, and then when that works, I can check if it has multi-edges on runtime, rather than simply calling a function.

[2020-02-04 07:42] szhorvat commented on #1316
I just wanted to note that estimation is not the only application for what this function does. Range-limited betweenness is a very useful concept on its own that I have used many times in spatial networks. igraph provides this feature uniquely—it should be preserved.

As for estimation, I should finally take the time to read these:

 - https://journals.aps.org/prl/abstract/10.1103/PhysRevLett.105.

[2020-02-04 07:48] ntamas commented on #1317
We could fix the original issue in 0.8.1, though (i.e. throw a warning for attribute types that the C core cannot serialize).

[2020-02-04 07:51] ntamas commented on #1316
Even if that is the case, we should check whether it's implemented correctly in igraph. I was looking at the source code a bit this morning, and it seems like we have basically implemented the Brandes algorithm for betweenness and then we simply stop the BFS when we reach the cutoff. It seems okay to me, but YMMV.

[2020-02-04 08:11] szhorvat commented on #1316
Yes, absolutely. The result from the OP does not look correct.

Here's a simpler example. This is a weighted graph where all the weights are 1.0:

![image](https://user-images.githubusercontent.com/1212871/73725564-f3f15000-472d-11ea-9843-faa10cd40a8d.png)

The betweenness values are clearly 0, 3, 4, 3, 0.

[code]

There are four shortest paths going through the middle vertex. The longest one of t

[2020-02-04 08:25] vtraag commented on #1180
@YasirKusay, yes having such a function is very handy! Perhaps `igraph_has_multiple` can simply be extended for that purpose. My point is that this could be done independently from this particular issue if we can perform the check inside the algorithm (and hence independent from the discussion in #1219).

[2020-02-04 08:33] vtraag commented on #1316
I was already looking at the betweenness calculations earlier (PR #1209, #1199) while @iosonofabio was looking the cutoff specifically (PR #1187). Perhaps just assign one of us to the problem?

[2020-02-04 09:11] ntamas commented on #1316
Assigned both of you -- toss a coin :)

[2020-02-04 09:20] ntamas opened #1318 "Most graph generators should be interruptible"
Most of the graph generators are not interruptible yet; for instance, generating a BA graph from the Python interface with 10M vertices locks up the interpreter for a short while. We should check all graph generators and ensure that they are interruptible.

[2020-02-04 10:31] YasirKusay commented on #1180
I'll have a crack at that, I really like the current implementation of igraph_bridges, so I will attempt to detect edges on runtime rather than rewriting the whole function (unless there are parts that I must change).

[2020-02-05 02:55] YasirKusay commented on #1180
Hello, yesterday I managed to come up with a solution that is very simple. The hard part was firstly understanding how the igraph_bridges function works and also how inclists works. I was interested to see if inclists also include multi-edges and they did so I added this set of code in between when you get the value of v and right before you check if v is visited:

    int node_count = 0;
    for

[2020-02-05 03:14] YasirKusay commented on #1180
I also forgot to add that i checked if a graph had a loop by checking right before the above statement:
if (u == v) // loop detected.
Executing this inside the for loop above will not be efficient for the program.

[2020-02-05 14:07] #648 closed

[2020-02-05 14:07] #249 closed

[2020-02-05 14:07] #248 closed

[2020-02-05 14:07] #235 closed

[2020-02-05 14:07] #204 closed

[2020-02-05 14:07] #178 closed

[2020-02-05 14:07] #191 closed

[2020-02-05 14:07] #160 closed

[2020-02-05 14:07] #155 closed

[2020-02-05 14:07] #463 closed

[2020-02-05 14:07] #443 closed

[2020-02-05 14:07] #194 closed

[2020-02-05 14:07] #396 closed

[2020-02-05 14:07] #1169 closed

[2020-02-05 14:07] #298 closed

[2020-02-05 14:07] #754 closed

[2020-02-05 14:07] #779 closed

[2020-02-05 14:07] #671 closed

[2020-02-05 14:07] #637 closed

[2020-02-05 14:07] #593 closed

[2020-02-05 14:07] #589 closed

[2020-02-05 14:25] vtraag commented on #194
@MattPM, I don't believe there is any support for bipartite modularity at the moment. However, you may be interested in the `leidenalg` package, which does provide that possibility, see the [documentation](https://leidenalg.readthedocs.io/en/latest/multiplex.html#bipartite) for an explanation.

[2020-02-05 15:07] #513 closed

[2020-02-05 15:07] #529 closed

[2020-02-05 15:07] #542 closed

[2020-02-05 15:07] #645 closed

[2020-02-05 15:07] #650 closed

[2020-02-05 15:07] #651 closed

[2020-02-05 15:07] #661 closed

[2020-02-05 15:07] #78 closed

[2020-02-05 15:07] #28 closed

[2020-02-05 15:07] #775 closed

[2020-02-05 15:07] #781 closed

[2020-02-05 15:07] #841 closed

[2020-02-05 15:07] #844 closed

[2020-02-05 15:07] #896 closed

[2020-02-05 15:07] #967 closed

[2020-02-06 10:29] szhorvat opened #1320 "forest_fire_game doesn't check parameters properly"
`igraph_forest_fire_game` does not check its parameters properly. For example, it accepts a "forward burning probability" (`fw_prob`) that is larger than one, returning bad results for any `fw_prob >= 1`. I was experimenting with `fw_prob == 1`, not realizing that even this is an invalid result, and the results confused me tremendously.

[2020-02-06 11:48] #1320 closed

[2020-02-06 12:26] szhorvat opened #1322 "All graph generators should check their input for validity"
There are multiple graph generators that currently do not check their input for validity.

These need to be fixed:

 - [x] `callaway_traits_game`
 - [x] `establishment_game`

The following functions have been verified to check their arguments properly:

[code]

Please update the lists above as you verify functions or find new ones with problems.

This is marked as "good first issue" because the fi

[2020-02-07 04:08] YasirKusay commented on #1180
I am just wondering, would you like to add an option in this function (perhaps an extra parameter) to simplify graphs, i.e. remove multi edges and loops and detect bridges from this simplified graph. (I acknowledge that this will mean modifying igraph_bridges, whenever it is called).
This implementation will make a copy of the graph we are using so as not to change the actual graph and then simpli

[2020-02-07 05:39] vtraag commented on #1180
It is better to separate the two functions. There is no need to let `igraph_bridges` automatically simplify the graph, this should be done by the user. `igraph_bridges` should throw an error if a multigraph is passed as an argument.

[2020-02-07 05:44] YasirKusay commented on #1180
I agree with that as there is no need to make the function more complex. I will try and finalise the function changes and new functions by tonight.

[2020-02-07 15:20] vtraag opened #1323 "MSVC igraphtest Target Machine"
For some reason, for the 64-bits Configuration of the MSVC `igraphtest` project, the `Target Machine` is set to `MachineX86`, which should then be manually updated to `MachineX64` to get it working properly. This should preferably be corrected.

[2020-02-09 18:23] szhorvat opened #1324 "Implement Vizing edge colouring"
Vizing's theorem states that any simple graph's edges [can be coloured](https://en.wikipedia.org/wiki/Edge_coloring) with either `Delta` or `Delta + 1` colours, where `Delta` is the maximum degree.

While finding a minimum edge colouring is NP-hard, there are polynomial algorithms that construct a `(Delta+1)`-colouring. This is a feature request to implement such an algorithm.

References:

 - htt

[2020-02-09 18:24] szhorvat commented on #1324
@YasirKusay I posted this is for you, in case you are looking for something more exciting than working with existing code.

[2020-02-09 18:30] szhorvat opened #1325 "Find an Eulerian cycle"
[An Eulerian](https://en.wikipedia.org/wiki/Eulerian_path) cycle is a [graph cycle](https://en.wikipedia.org/wiki/Cycle_(graph_theory)) that traverses every edge precisely once.

This is a feature request to compute an Eulerian cycle if one exists.

Would be nice to also have: enumerate *all* Eulerian cycles.

Consider undirected/directed, simple/multigraphs separately.

References:

 - https://en

[2020-02-09 18:30] szhorvat commented on #1325
@YasirKusay This is also for you, in case you are interested.

[2020-02-10 10:43] ambuehll opened #2257 "feature request: estimate_betweenness set a lower bound for path length"
I use igraph frequently on very large graphs, and thus I use estimate_betweenness.
One of my issues is that I would like to restrict betweenness centrality to be calculated only from paths that are longer than X (similar to cutoff value, but as a min. instead of a max.). Any ideas on how to implement this? Thanks!

[2020-02-10 11:46] YasirKusay commented on #1325
An interesting issue. Would you like me to just compute an eulerian cycle or one that also can handle eulerian paths?

[2020-02-10 12:12] szhorvat commented on #1325
This is just an idea at this point: it's up to you whether you want to do it and how far you want to go. I was simply posting project ideas that I am personally interested in but have no time for at the moment.

[2020-02-10 12:21] szhorvat commented on #1322
@YasirKusay, if you're looking for something very easy, but somewhat boring, you can check some of these.

[2020-02-10 12:38] YasirKusay commented on #1325
Thats ok, I have just finished writing a solution for it and am in the process of testing it. I have based most of my code on the solution on the code on geeks for geeks links but I decided that rather than using their method of determining if an edge is a bridge, I simply called igraph_bridges.

[2020-02-10 14:27] YasirKusay commented on #1325
Hello,
I have finished writing up an implementation for undirected graphs that appears to work for both eulerian circuits and paths. I will now attempt one for directed graphs.

[2020-02-10 14:53] szhorvat commented on #1325
That's great! Feel free to open a new pull request even before it's fully finished and mark it as a "draft". Then we can comment on your code early. Be sure to only include these changes in the PR, not any other changes you made earlier.

[2020-02-10 15:51] YasirKusay commented on #1325
I'll do that once a do a few more tiny checks. Would you like me top include my code in src/structural_properties.c?

[2020-02-10 16:32] szhorvat commented on #1072
Does anyone know where this algorithm (`degree_sequence_game` with `SIMPLE_NO_MULTIPLE`) originally came from?  Is it an ad-hoc made up thing, or is there a reference that analyses the properties of this sampler? @gaborcsardi do you remember?

[2020-02-10 16:40] gaborcsardi commented on #1072
https://github.com/igraph/igraph/blame/952241efc6ce2db5a3eba111591c0426758951a3/src/games.c#L1440 says that I did not write that

[2020-02-10 19:15] jdfoote opened #1327 "Centralization theoretical max appears to be calculated incorrectly"
When calculating degree centralization, a star graph should be the most centralized (i.e., centralization should equal 1).

However, the following code results in a centralization of 0.75.
[code]

This bug was identified on [SO](https://stackoverflow.com/questions/39236981) years ago suggesting an off-by-one error but it appears that an issue was never created.

This appears to be correct, as `cen

[2020-02-10 19:58] ntamas commented on #1072
I'm quite sure it's an ad-hoc made up thing. I think the documentation even mentions that there are no theoretical guarantees about this method.

[2020-02-11 08:39] szhorvat opened #1328 "Vertex connectivity algorithm is slow"
It was pointed out to me by an IGraph/M user that `igraph_vertex_connectivity` is typically much slower than the equivalent function in Mathematica. There is an opportunity for a significant speedup here.

The docs state a complexity of O(V^5), without reference to a specific algorithm.

https://igraph.org/c/doc/igraph-Flows.html#igraph_vertex_connectivity

Here's the timing ratio between igraph a

[2020-02-11 08:59] ntamas commented on #1327
I think this is a bug in the R interface only and not in the C core. The C core contains an [explicit test](https://github.com/igraph/igraph/blob/master/examples/simple/centralization.c#L109) that checks whether the centralization of the middle vertex of a star graph is 1, and the test passes on my machine (as well as in the CI environment).

Moving this to igraph/rigraph.

[2020-02-11 11:32] aj2duncan commented on #1218
There is another publication [https://www.sciencedirect.com/science/article/abs/pii/S096007791730509X?via%3Dihub](https://www.sciencedirect.com/science/article/abs/pii/S096007791730509X?via%3Dihub) (also available on [arXiv](https://arxiv.org/pdf/1706.07322.pdf) and the authors have written an R package - [Directed Clustering](https://cran.r-project.org/web/packages/DirectedClustering/) which impl

[2020-02-11 12:42] szhorvat commented on #1218
It would be useful if someone could write a small summary of the various approaches, their usage in practice, advantages and disadvantages, etc.  It is clear that there are many different possible approached. It is not reasonable to just pick one and call it "the" directed clustering coefficient in igraph. The paper I linked (Fagiolo) presents not just one definition, but a framework to define var

[2020-02-11 14:47] vtraag commented on #1291
The updated [PR](https://github.com/conda-forge/igraph-feedstock/pull/15) for `igraph` on `conda` now also supports Windows.

[2020-02-12 09:34] aj2duncan commented on #1218
I can try... pretty busy at the moment but will try to get something together as soon as I can.

[2020-02-12 10:06] szhorvat commented on #1218
Thank you! If you do find the time, it would be quite useful, but of course it is up to you.

You can also post on https://igraph.discourse.group/ which is more discussion friendly, and importantly: it supports math.

[2020-02-12 10:15] AIBluefisher opened #1329 "Where is the "IGRAPH_THREAD_LOCAL" defined?"
Please **do not** use the issue tracker for personal support requests -- use our
[Discourse group](https://igraph.discourse.group) instead.

Make sure that these boxes are checked before submitting your issue -- thank you!

- [x] This issue is for the C core of igraph.
- [ ] This issue is a bug report or a feature request, not a support question.

Hi, @shlomif
I'm using cmake to config the `igraph

[2020-02-12 10:21] szhorvat commented on #1329
We would prefer to reserve the issue tracker for bug reports and feature requests. Please post support questions to https://igraph.discourse.group/ instead.

igraph uses autotools as its build system, not cmake. You need to run `./configure` before igraph can be built. The options `--enable-tls` and `--disable-tls` control `IGRAPH_THREAD_LOCAL`

Detailed installation instructions are at https://ig

[2020-02-12 10:21] #1329 closed

[2020-02-13 22:35] szhorvat commented on #1176
@ntamas Could you please test this on your RPi3, and check if it also exhibits runaway memory usage?

[2020-02-14 05:34] vtraag commented on #1176
Does it crash on other *nix OS as well, or just RPi3?

[2020-02-14 07:20] szhorvat commented on #1176
I only have an RPi1, with less memory.

No, I could not reproduce the crash on any other platform, but I didn't have the opportunity to test any other 32-bit one. I don't know if this is related to 32-bit or ARM.

[2020-02-14 12:46] ntamas commented on #1176
Does not crash on my RPi3, runs to completion in around 3 seconds, but indeed the peak memory usage floats around 400 MB.

When interrupting the process in `gdb`, I almost always ended up with the following stack trace:

[code]

This seems to indicate that we spend most of the time in `drl::DensityGrid::Init()`, which tries to allocate memory in chunks of 504 bytes (which are probably aligned to 5

[2020-02-14 13:32] ntamas commented on #1176
Okay, so digging further into the source code, it seems like `DensityGrid.cpp` is allocating `GRID_SIZE * GRID_SIZE` (i.e. 1 million) `deque<Node>` instances in `::Init()`. I have no idea how much memory a `deque` eats up when empty, but [this page](https://en.cppreference.com/w/cpp/container/deque) seems to suggest that it's quite memory-hungry:

So, that 400 MB of memory might not be that big co

[2020-02-14 18:57] vtraag commented on #1176
I'm not exactly sure about the problem, but it seems to me that the larger of16 times the object size and 4096 bytes is not really anywhere in the neighbourhood of 400 MB. The fact that it is 2^31 - 1 suggest to me that there is some other memory allocation error that overwrites the number of bytes that should be allocated.

[2020-02-14 19:01] ntamas commented on #1176
4096 times 1 million (i.e. `GRID_SIZE * GRID_SIZE`) is very close to 400 MB.

[2020-02-15 08:14] vtraag commented on #1176
Ah, sorry, it allocates 1 million times such a deque, sorry, I misunderstood.

[2020-02-16 19:55] harenbergsd opened #1332 "Biconnected components algorithm is slow"
The biconnected components algorithm is very slow on larger graphs, compared to connected components and other graph packages.

For example, take the following code
[code]
On [the Amazon graph from SNAP](https://snap.stanford.edu/data/amazon0302.html), I get the following results:
[code]
On [the web-Google graph from SNAP](http://snap.stanford.edu/data/web-Google.html), I get the following results

[2020-02-17 18:17] szhorvat opened #1336 "Get rid of recursion in igraph_bridges()"
This is a reminder to re-write `igraph_bridges` and get rid of recursion, as this can potentially lead to stack overflow on large graphs.

[2020-02-17 20:22] #1180 closed

[2020-02-24 09:53] szhorvat opened #1337 "Tests must be fixed for MinGW-w64"
The following tests currently fail with MinGW-w64:

193. community.at:86: testing Leiden community detection (igraph_community_leiden) :

[code]

I am surprised that numerical stability would be this bad. Perhaps it's just a coincidence (quality is really close to 0.23130)? Opinions, @vtraag ?

252. scg.at:71: testing SCG of a graph, stochastic matrix (igraph_scg) :

[code]

This one is just about

[2020-02-24 12:13] ntamas commented on #1337
Looks like we would need to brew our own floating-point number printer function in `test_utilities.inc` that ensures a consistent formatting in all supported platforms. Right now these inconsistencies make it a bit hard to rely on `.out` files in the test cases to store the expected output. I cannot believe that no one else has come up with a portable solution for the problem so far.

[2020-02-24 12:42] vtraag commented on #1337
@szhorvat, regarding the difference I don't immediately know whether it is a numerical error, while the underlying partition result is identical, or whether there is actually a different partition with an (almost) identical quality. I don't have access to a Windows computer today, I will try to check later this week.

[2020-02-26 20:08] jefferis commented on #981
Did `random_edge_walk` ever get added to R igraph?

[2020-02-27 07:54] vtraag commented on #981
@jefferis, no it is not yet implemented in the R interface. We are currently working on updating the R interface to the recently released C core, version 0.8.0, see https://github.com/igraph/rigraph/pull/372. If that is done, the new contributions could start to be added.

[2020-02-27 07:57] vtraag commented on #981
@szhorvat and @ntamas , from the code it seems a bit redundant to have two separate implementation of the `igraph_random_walk`. Wouldn't it make more sense to simply have one `igraph_random_walk` function that has both a `vertex_walk` and `edge_walk` arguments (either one can be `NULL`) that returns respectively the vertices visited during the random walk or the edges visited during the random wal

[2020-02-27 08:06] szhorvat commented on #981
Maybe, but in my opinion it would be a case of fixing something that's not broken and right now there are better things we can spend our limited time on (I have a huge todo list for igraph).

That said, I have no objection to the change.

[2020-02-27 08:20] jefferis commented on #981
Do you mean for the R interface? That makes sense to me. I’d be happy to help. Best, Greg.

Sent from my iPhone

[2020-02-27 08:24] szhorvat commented on #981
@vtraag Something you should be aware before working on this:

One concern is that the implementations are currently different. The edge-walk implementation is noticeably slower than that vertex-walk one.

In principle, the implementation can be simplified: just use the edge-walk code for everything, as the vertex-walk can be derived from that anyway. But that would make things 2x slower in some c

[2020-02-27 08:39] vtraag commented on #981
No, I mean for the C interface.

You are right of course! But when I got notified about this issue, I read through it. It is something for later though.

Good to know about these differences! As you also say, it does not seem to be consistently slower, so perhaps the performance difference is not that important.

[2020-02-27 08:52] vtraag commented on #981
@szhorvat , just an FYI, the binary search for the weights, as you do here:
https://github.com/igraph/igraph/blob/5ec361c41376a944050336877ce701741244abf6/src/random_walk.c#L232-L254
can now be more easily done (without having to re-allocate a new vector every time) using `igraph_i_vector_binsearch_slice`. Here is how I use it elsewhere
https://github.com/igraph/igraph/blob/5ec361c41376a9440503368

[2020-02-27 11:42] szhorvat commented on #981
I ran the benchmark on a desktop machine (Linux) with excellent cooling. The timings are still not terribly stable, and I have no explanation for that (the RNG is seeded). But they're much more stable than on my laptop.

Three runs:

[code]

[2020-02-27 11:51] szhorvat commented on #981
@vtraag Re binsearch: I'm not following. Can you expand the explanation? What does `binsearch_slice` do (compared to `binsearch`)? Doesn't it just do a binary search in a restricted range of a sorted vector?

For every vertex, there is at most one allocation. After that, the cumulative dsitribution function (CDF) vectors are re-used.

BTW there should be proper (internal) headers for these interna

[2020-02-27 11:52] ntamas commented on #981
In case someone is interested in profiling results on macOS, only for tests #10 and #12; igraph had to be compiled in debug mode with `-O0` to get meaningful stack traces so this is not entirely representative of the real performance:

<img width="523" alt="Screenshot 2020-02-27 at 12 49 12" src="https://user-images.githubusercontent.com/195637/75442391-ac8e6600-595f-11ea-9922-bdc33fc1f907.png">

[2020-02-27 13:36] vtraag commented on #981
Yes, exactly. That allowed me to reuse the same vector every time, instead of having to resize or anything.

Ah yes, you are right, then it doesn't matter indeed.

I thought it was properly defined through `vector.pmt`, but I'll check it.

This is good to know! At some earlier time I suggested to have a type of `inclist` that returns *both* the neighbour and the edge index (but I can't locate that

[2020-02-27 14:02] vtraag commented on #981
I've quickly tested whether a combination of using `inclist` and `adjlist` is indeed quicker then using `inclist` in combination with `IGRAPH_OTHER`. In some test (just looping over all edges of an ER graph with n=1e5 and m=1e7), the difference is quite clear:
[code]
Using `IGRAPH_OTHER` is almost 50% slower than using the combination of `igraph_adjlist` instead.

[2020-02-27 14:14] vtraag commented on #981
Yes, you are right. It is not included in any header. It would not make sense to include it in the public header `igraph_vector.h`, because it is an internal function. But it makes it a bit obscure how to properly include it in a header, since `igraph_vector_binsearch` now depends on `igraph_i_vector_binsearch_slice`. We would then need a `igraph_vector_i.h` or something in addition to `igraph_vec

[2020-02-27 14:15] vtraag commented on #981
Yes, you are right. It is not included in any header. It would not make sense to include it in the public header `igraph_vector.h`, because it is an internal function. But it makes it a bit obscure how to properly include it in a header, since `igraph_vector_binsearch` now depends on `igraph_i_vector_binsearch_slice`. We would then need a `igraph_vector_i.h` or something in addition to `igraph_vec

[2020-02-27 21:24] orlitzky commented on #1284
I was looking at an upgrade in Gentoo, but the practice of bundling every library you use makes it impossible. Our users already have these libraries installed, and we have to link against the ones they have installed (and not the ones in your tarball) because those are the ones that get upgraded, and get security fixes. For v0.7.1, someone went to a lot of trouble to edit your build system and un

[2020-02-27 21:31] ntamas commented on #1284
Fair enough. But in the ideal case, it should only be a matter of running `./configure --with-external-f2c --with-external-blas --with-external-lapack --with-external-arpack --with-external-glpk` - it should ensure that igraph links to the system-wide versions of these libraries instead of the bundled ones. If it does not work on Gentoo (or any other major Linux distribution), that's definitely a

[2020-02-27 21:37] tillea commented on #1284
Hi,
I can confirm that Debian builds with

    CONF_FLAGS=\
        --enable-gmp \
        --disable-tls \
        --with-external-arpack \
        --with-external-blas \
        --with-external-lapack \
        --with-external-f2c \
        --with-external-glpk

BTW, I've uploaded the package but it resided in the new queue due to the name change that was needed due to the soversion bump.
Thinkin

[2020-02-27 21:46] orlitzky commented on #1284
https://gitweb.gentoo.org/repo/gentoo.git/tree/dev-libs/igraph/files/igraph-0.7.1-unbundle.patch

Presumably, the `--with-external-foo` options still work, but there are no options for most bundled libraries:

 * AMD
 * bliss
 * CHOLMOD
 * cliquer
 * COLAMD
 * cs
 * plfit
 * prpack

We have amd, bliss, cholmod, colamd, and cliquer, and cxsparse packages on gentoo. The other two could easily be pac

[2020-02-27 22:44] szhorvat commented on #1284
Several of these libraries had to be modified to make them usable by igraph. This is certainly the case with bliss and cliquer, which I integrated myself. They cannot be just linked to.

These are scientific libraries created by academics, not software engineers. Their authors often don't have the technical expertise and the time to make them into a polished library that is easy to re-use and to c

[2020-02-27 23:04] szhorvat commented on #1284
Of course, in the case of those pieces of code which come in the form of true libraries, and are well maintained, it would be preferable to make it easy to just link to them. That saves the trouble of updating them. This would be the case with e.g. SuiteSparse, which most of what you mention is actually a part of.

However, here we have another problem: manpower. It is difficult to keep igraph eas

[2020-02-28 10:00] ntamas commented on #981
I think that `igraph_vector_binsearch_slice()` clearly has some general utility and it could be made part of the public API. Is anyone willing to tackle that?

[2020-02-28 11:51] vtraag commented on #981
I will do that.

[2020-02-28 19:16] szhorvat opened #1343 "average_path_length should have a weighted counterpart"
`igraph_average_path_length` does not consider weights. This function should have a weighted counterpart (or it should be extended to optionally handle weights).

[2020-03-01 08:58] szhorvat opened #1345 "Shortest-path based measures in disconnected graphs"
Some shortest-path based calculations, such as diameter or average shortest path, have an `unconnected` option.  When it is set to `true`, shortest paths are considered only among pairs of vertices reachable from each other. If it is set to `false`, all pairs are considered, even unconnected ones.

There are two functions for diameter, an unweighted and a weighted one. With `unconnected=false`, th

[2020-03-01 19:03] vtraag commented on #1345
I would be in favour of returning infinity always, for both weighted and unweighted versions. This is a clear return value, allows to substitute it for `V` (or any other value you desire), and is consistent with most (or all) definitions of shortest path distance that I know of.

[2020-03-01 19:10] szhorvat commented on #1345
Then we're on the same page.

This is true for the diameter calculation, but not true for the average shortest path length calculation (PR #1344) which is also affected by the same issue.

Perhaps for the average path length calculation the functions can return the number of connected (= reachable from each other) vertex pairs that were found. If the graph is connected, then there are `V*(V-1)` or

[2020-03-01 19:22] szhorvat commented on #1345
Thus for this graph:

![image](https://user-images.githubusercontent.com/1212871/75632198-19bd2800-5bfa-11ea-9bd5-6a0c3fdda401.png)

With `unconnected=true`, the average shortest path length is 1 (we only use the distance between 1 and 2, as only these are reachable from each other).

With `unconnected=false`, the average shortest path length is infinity (because `d(1,3) = d(2,3) = infinity`)

In

[2020-03-01 21:00] ntamas commented on #1345
As for the diameter funciton, I also vote for returning infinity, unconditionally.

As for the average path length function, I don't have a strong opinion. Asking for the average path length in a disconnected graph does not make much sense; if we stick to the definition by the letter, we should simply return infinity as we are averaging over a bunch of numbers where at least one of them is infinit

[2020-03-01 21:14] szhorvat commented on #1345
Thanks for the input. I'll update the PR and will do the following (several breaking changes):

First, note that the diameter and average path length are just applying `max` or `mean` to all-pair shortest paths.

### What stays the same

 - There will be an `unconn` parameter which controls whether these operations are done over all vertex pairs, or only over vertex pairs for which both vertices a

[2020-03-03 12:37] szhorvat opened #1349 ""finite is deprecated" warning on OS X"
I get warnings like this on OS X:

[code]

We need to investigate this and find a compatible cross-platform solution.

[2020-03-03 14:49] ntamas commented on #1349
C89 has `finite()`. In C99, `finite()` got deprecated, we have `isfinite()` there, but that's not in C89.

I think that we need to check for the presence of `isfinite()` in the configure script, and fall back to `finite()` if we have no `isfinite()`. MSVC builds can assume that `isfinite()` is not present for the time being and use `finite()`.

[2020-03-03 15:48] szhorvat commented on #1349
As far as I can tell by googling, `finite` was never standard, only an extension.

MSVC 2013 and later is claimed to support `isfinite`: https://devblogs.microsoft.com/cppblog/c99-library-support-in-visual-studio-2013/

[2020-03-03 17:21] ntamas commented on #1349
FWIW we already check `finite()` and `isfinite()` in the `configure` script so we have `HAVE_FINITE` and `HAVE_ISFINITE` macros in `config.h`. We can make use of these and get rid of the warning.

[2020-03-03 17:40] ntamas commented on #1349
@szhorvat I have committed a change that should address this; on my machine `random.c` compiles without warnings now. Can you please test on your side after re-running `./bootstrap.sh` and `./configure`?

[2020-03-03 18:56] szhorvat commented on #1349
It looks fine now (no warning). I only tested on macOS 10.14 with Xcode11.3.1.

[2020-03-03 19:11] ntamas commented on #1349
I guess we could catch these in the future if we ensured that igraph compiles with no warning on the CI platforms and then enabling `-Werror` in the CI environment. (Probably I wouldn't enable `-Werror` unconditionally as there will always be people with esoteric build environments where some warnings might be inevitable).

[2020-03-03 19:45] szhorvat commented on #1349
I see lots of compiler warnings from f2c and lapack. Those are not worth bothering with. Some examples:

[code]

[code]

----

The following are actually serious, but it only affects the `float` and `char` versions of a rarely used function.

[code]

----

There are quite a few warnings from `community_leiden.c` (@vtraag):

[code]

 - `igraph_i_vector_binsearch_slice` will be fixed soon by Vincent

[2020-03-04 08:56] szhorvat opened #1350 "--with-external-arpack does not detect that ARPACK is not available"
When I tried to compile using `--with-external-arpack`, I got a linked error at the very end:

[code]

Ideally, the `./configure` step would have detected that ARPACK was missing.

This is on macOS.

[2020-03-04 09:14] szhorvat commented on #1284
It seems the only thing here that we don't already have a configure flag for is the SuiteSparse stuff.

@ntamas I don't have the expertise to judge why changes were needed for the stuff that we already have a `--with-external-xxx` option for.  See the linked patch. Opinions?

Linking to bliss and cliquer is a no-go.

prpack and plfit: I don't know. prpack is no longer being developed. We control p

[2020-03-04 09:32] szhorvat opened #1351 "Make GMP non-optional"
GMP is extremely useful for graph theory, and I have already done some work I want to contribute that relies on it.

We should make GMP be non-optional. Currently, the only user of GMP is Bliss, which falls back to using a `long double` (i.e. an ugly hack) when GMP is not available.

For the eventuality that an external GMP is not available, we can bundle "mini-gmp". mini-gmp comes with GMP and is

[2020-03-04 09:37] vtraag commented on #1351
This sounds very useful @szhorvat ! Would `mini-gmp` also provide an alternative to `MPIR` on Windows? Or does that not work?

I agree that it would be preferable to rely on an externally maintained library over something that should be maintained by us.

[2020-03-04 10:09] szhorvat commented on #1351
Would work, but not a good idea because it does not have good performance.

At this moment, this is not a problem because we do not yet use GMP in any performance-critical way. But later it will be.

[2020-03-04 10:42] ntamas commented on #1350
Same on other platforms; I guess that we trust what the user is doing and we don't check whether the libraries we need to link to indeed exist on the user's system.

[2020-03-04 10:56] vtraag commented on #1351
OK, so in the end we will then have a (non-optional) dependency on `GMP` on Linux/macOS, with `mini-GMP` as a backup, and `MPIR` on Windows? Would using `MPIR` for all platforms and having `mini-GMP` as a backup be easier?

[2020-03-04 10:57] ntamas commented on #1349
Okay, closing this - we'll deal with the other warnings later. Lots of the warnings are coming from vendored sources which I'd rather not touch.

[2020-03-04 10:57] #1349 closed

[2020-03-04 11:05] szhorvat commented on #1351
I don't think it makes any difference. MPIR is basically indistinguishable from GMP to the program that uses it. If it is compiled with `--enable-gmpcompat`, it produces a `gmp.h`, `libgmp` library, etc.  igraph doesn't need to know about MPIR at all. It just needs to look for GMP, and doesn't have to care if what it finds is not the original, just a lookalike.

[2020-03-04 11:26] ntamas commented on #1284
I think the key difference is that igraph's current configure script simply assumes that the external library can be found by passing a certain linker option (e.g., `-llapack`), and it uses that linker option only. It even attempts to use the linker option if for some reason the configure script reports that a naive compilation attempt won't work (in the hope that the makefile machinery would solv

[2020-03-04 11:36] vtraag commented on #1284
On a related note: is this something that we would need/like to address now in the current `autotools` build system, or could we leave it until we switched to a `CMake` build system?

[2020-03-04 11:37] ntamas commented on #1284
It would be nice to address this now so igraph can be updated in Gentoo.  Right now AFAIK it's stuck at 0.7.1.

[2020-03-04 11:38] vtraag opened #1353 "Warnings when compiling community_leiden"
_Originally posted by @szhorvat in https://github.com/igraph/igraph/issues/1349#issuecomment-594133566_

There are quite a few warnings from `community_leiden.c` (@vtraag):

[code]

 - `igraph_i_vector_binsearch_slice` will be fixed soon by Vincent's PR
 - I just fixed the ones about `igraph_vector_ptr_set_item_destructor`
 - The `const` stuff is fixable, but I didn't want to mess with the code an

[2020-03-04 11:44] vtraag commented on #1284
OK, that is true. But then strictly speaking we should also create `--with-external-*` options for `amd`,  `cholmod` and `colamd`, right? As @szhorvat said, `bliss` and `cliquer` are no-go's. If we solve the issue for `suitesparse` only (and not for `amd`,  `cholmod` and `colamd`) would that satisfy Gentoo policy so that it could be updated there? Or would the difficulty with `bliss` and `cliquer`

[2020-03-04 11:46] szhorvat commented on #1284
Those are all parts of SuiteSparse

[2020-03-04 11:49] szhorvat commented on #1284
I would not say that there is any difficulty. It was merely a misunderstanding about how these programs can be used as part of another tool.

[2020-03-04 12:00] vtraag commented on #1284
Ah, right, sorry, I did not realise that! That clarifies it, thanks.

From the earlier [comment](https://github.com/igraph/igraph/issues/1284#issuecomment-592193150) by @orlitzky

This refers to `bliss` and `cliquer` as well, right? There is no reply yet by @orlitzky to your explanation that `bliss` and `cliquer` cannot be linked to, so I am wondering if this will not pose a problem when including

[2020-03-04 12:03] szhorvat commented on #1284
As I understand, there is no hard *technical* problem, merely a preference to reduce duplication.

[2020-03-04 12:43] vtraag commented on #1284
I understand there is no technical problem.

I mean, it might be a waste of time to fix using SuiteSparse as an external dependency, if it turns out that Gentoo is not willing to accept `igraph` with a bundled version of `bliss` and `cliquer`. Perhaps you find it sufficiently useful to introduce `--with-external-suitesparse` now (i.e. before switching to `CMake`), in which case go for it. But if t

[2020-03-04 13:58] orlitzky commented on #1284
What problem is there with using the system copies of bliss and cliquer? I don't know about bliss personally, but SageMath is able to link against the system cliquer without problems -- that's why we have cliquer in the first place.

Since we already have packages for bliss and cliquer, it looks especially bad if you've bundled _those_ libraries, because the hypothetical "what if `sci-libs/bliss`

[2020-03-04 15:50] szhorvat commented on #1284
This is one of the major problems. We don't have the resources to spend on something like this.  As a maintainer for Gentoo, please consider igraph to stay in the current state for a while.

Do note that most libraries which make sense to be unbundled already *can* be, with the above mentioned configure flags.  If we are going to tackle more of these, I think it makes sense to start with SuiteSpar

[2020-03-04 15:59] MF-git commented on #987
looks like weighted knn still gives: knn^w[nn,i] = 1/(s[i])  * sum a[ij]*w[ij]***s**[j] instead of Barrat's formulation knn^w[nn,i] = 1/(s[i])  * sum a[ij]*w[ij]***k**[j]

this leads to knn[nn,i]<knn^w[nn,i] for all nodel i with degree k=1 - but should be knn[nn,i]=knn^w[nn,i]

[2020-03-04 16:08] orlitzky commented on #1284
Several of those improvements look useful generally. To beat a dead horse: the fact that you've bundled them in igraph rather than sending them "upstream" prevents us from sharing the benefits. The first step should be to try to send the fixes the original authors. If they're no longer interested in maintaining the project, then a fork is an eventual plan (b). That's what happened with cliquer to

[2020-03-04 19:25] MF-git opened #1354 "i_graph (weighted) nearest neighbor degree/strength; ref#987/#1214"
#987 and #1051 argue igraph_(weighted)_nearest_neighbor_degree is not inline with Barrat et.al (2004); #1214 claims problem fixed

looks like weighted-knn still gives:
knn^w[nn,i] = 1/(s[i]) * sum a[ij]*w[ij]***s**[j] (weighted nearest neighbor strenght)

instead of Barrat's formulation:
knn^w[nn,i] = 1/(s[i]) * sum a[ij]*w[ij]***k**[j] (weighted nearest neighbor degree)

this leads to knn[nn,i]<k

[2020-03-04 19:50] szhorvat commented on #1354
Which version of igraph are you using?

[2020-03-04 19:59] MF-git commented on #1354
1.2.4.2

[2020-03-04 20:01] szhorvat commented on #1354
That is the version number of the R interface. This is the repository of the C core of igraph, where this issue was fixed.  The R interface has not yet been updated to the latest C core, but [eventually it will be](https://github.com/igraph/rigraph/pull/372).

[2020-03-04 20:01] #1354 closed

[2020-03-04 20:05] MF-git commented on #1354
Sorry and thanks anyway!
Any idea on update date?

Best,
MF

From: Szabolcs Horvát <notifications@github.com>
Sent: onsdag 4. mars 2020 21.02
To: igraph/igraph <igraph@noreply.github.com>
Cc: Müller Falko <Falko.Muller@himolde.no>; Author <author@noreply.github.com>
Subject: Re: [igraph/igraph] i_graph (weighted) nearest neighbor degree/strength; ref#987/#1214 (#1354)

That is the version number o

[2020-03-04 20:29] szhorvat commented on #1354
Personally I don't know as I have not been working on the R interface, but you can follow the work in the PR I linked to.

[2020-03-04 20:36] Tesla9999 opened #1356 "Leiden algo: igraph_vector_size: Assertion `v != ((void *)0)' failed."
Got an error when running Leiden algo for community detection. Here is the error message. Thanks.

python: /project/vendor/source/igraph/src/vector.pmt:485: igraph_vector_size: Assertion `v != ((void *)0)' failed.

[2020-03-04 20:43] MF-git commented on #1354
Thanks again!

Sendt fra min BlackBerry – den sikreste mobilenheten
Fra: notifications@github.com
Sendt: 4. mars 2020 21:29
Til: igraph@noreply.github.com
Svar til: reply@reply.github.com
Kopi: Falko.Muller@himolde.no; author@noreply.github.com
Emne: Re: [igraph/igraph] i_graph (weighted) nearest neighbor degree/strength; ref#987/#1214 (#1354)

Personally I don't know as I have not been working on

[2020-03-05 09:09] szhorvat commented on #1356
Here's the edge list of a 10 vertex graph (vertices indexed from 1..10) on which it crashes:

[code]

[2020-03-05 09:17] szhorvat commented on #1356
Here's the smallest one I could manage:

[code]

![image](https://user-images.githubusercontent.com/1212871/75966366-7ce4de00-5eca-11ea-80e1-2d0bb80d226e.png)

Code in Mathematica for reference:

[code]

[2020-03-05 14:05] szhorvat commented on #1356
From address sanitizer:

[code]

[2020-03-06 11:13] vtraag commented on #1356
I'm sorry, but I can't replicate the error from `C` code.

The below test code runs without any issue (on Ubuntu at least):
[code]

@szhorvat, I assumed that `BernoulliGraphDistribution` translates to `igraph_erdos_renyi_game(&graph, IGRAPH_ERDOS_RENYI_GNP, 7, 0.5, IGRAPH_UNDIRECTED, 0)`, if not, please let me know what the corresponding `C` code should be.

@Tesla9999, perhaps you can report the

[2020-03-06 12:08] szhorvat commented on #1356
No, it doesn't. It's a Mathematica built-in. Even if it did, the results would be different because when generating these examples, Mathematica's random number generator is hooked up to igraph. I am mentioning this because it will apply also when you experiment with Python.

I included that as a reference for myself.

I'm sorry, I should have let you know that yesterday I wrote basically the same

[2020-03-06 12:11] vtraag commented on #1356
OK, thanks for the clarification!

I'll try to see if I can find any problems with the Python interface of the C code, or if I can still identify some problem in the C code itself.

[2020-03-06 12:12] szhorvat commented on #1356
I'll take a careful look at how the Mathematica interface calls the C core and will try to make a C example based on that. It must be some very small difference.

[2020-03-06 12:14] vtraag commented on #1356
Actually, I just identified a reproducible example in C, so I will investigate that:
[code]

[2020-03-06 14:43] #1353 closed

[2020-03-06 14:43] #1356 closed

[2020-03-07 15:14] szhorvat opened #1358 "Implement directed modularity"
`igraph_modularity` should support directed graphs.

@vtraag I need your input on whether there are multiple variations on this concept.

[2020-03-08 18:19] szhorvat opened #1360 "Documentation: DECLRDIR should not be included in prototoype"
Ideally, `DECLDIR` should not be included in prototypes in the documentation.

This is one example where it is included:

https://igraph.org/c/doc/igraph-Error.html#igraph_warning

![image](https://user-images.githubusercontent.com/1212871/76168599-9fe4eb80-6171-11ea-8c60-33b9cace721c.png)

Is this easy to fix @ntamas ?

[2020-03-08 18:29] szhorvat opened #1361 "Documentation: misformatted sections"
This part of the documentation is misformatted. It's unclear to me what's wrong.

https://igraph.org/c/doc/igraph-Data-structures.html#VECTOR

![image](https://user-images.githubusercontent.com/1212871/76168789-1f26ef00-6173-11ea-8062-ff1336442af3.png)

[2020-03-08 18:46] szhorvat commented on #1361
Doc comment is here:

https://github.com/igraph/igraph/blob/master/include/igraph_vector_pmt.h#L43

Removing the indent does not help.

[2020-03-09 10:14] ntamas commented on #1360
![Hopefully yes, I'll look into this.](https://cdn-media-1.freecodecamp.org/images/1*w-_7zxjx3gZgx_rLNVq60A.png)

[2020-03-09 10:18] ntamas commented on #1360
Done; it will be fixed "properly" in 0.8.1 (I have updated `docs/c-docbook.re` to strip DECLDIR from declarations), until then I just patched the docs on the homepage.

[2020-03-09 10:18] #1360 closed

[2020-03-09 10:21] #1361 closed

[2020-03-09 10:23] ntamas commented on #1361
It does help, you just need to be sure that there is a space before the `*` from the second line onwards.

[2020-03-09 15:51] szhorvat commented on #1360
Thanks for the quick fix!

A small undesired effect is that it will cause the argument list not to be as nicely aligned as it was.

If it was

[code]

it will become

[code]

But I think this should be the smallest of our concerns right now.

[2020-03-09 15:58] ntamas commented on #1360
Unfortunately fixing that is beyong my regex-fu at the moment :)

[2020-03-10 16:25] vtraag commented on #1358
I am only familiar with the definition provided by [Leicht and Newman (2008)](https://doi.org/10.1103/PhysRevLett.100.118703), Eq. (3), and I haven't come across any other definition. This is also the definition that makes most sense, which should be straightforward to implement. Similar adjustments need to be made for the weighted case, but these are again quite straightforward. I'll put it on my

[2020-03-25 09:53] szhorvat commented on #8
Related: https://github.com/igraph/igraph/issues/1237

[2020-03-25 09:55] szhorvat commented on #545
@gaborcsardi Is there anything that still needs to be done here? The tests pass on both 32- and 64-bit.

[2020-03-26 15:30] #900 closed

[2020-03-31 16:04] szhorvat opened #1363 "igraph_all_st_mincuts should not allow zero capacities"
`igraph_all_st_mincuts` does not complain about zero capacities, but simply drops zero-capacity edges from the result. It should not allow zero capacities.

Example graph with capacities:

![image](https://user-images.githubusercontent.com/1212871/78048306-d3cebd80-7379-11ea-80cf-3ede7d75e031.png)

Asking for all minimum cuts from 1 to 2:

[code]

Notice that `1 -> 2` is not a cut. `{1 -> 2, 1 ->

[2020-03-31 16:29] szhorvat commented on #1363
On a related note, we should add a warning to the docs:

This finds all cuts with minimum total capacity. In a weighted graph, there is usually only one, as the weights break the symmetry. Of course, it is possible that some cuts happen to have the same total capacity. But even if it is so, the function will likely not find them all because the total capacities end up being slightly different due

[2020-03-31 18:57] szhorvat opened #1364 "igraph_all_st_mincuts: implement for undirected graphs"
`igraph_all_st_mincuts` and `igraph_all_st_cuts` are only implemented for directed graphs. It would be nice to implement them for undirected ones too.

Am I mistaken that converting the undirected graph to a mutually connected directed one is sufficient (though likely more than necessary) for this?

Possibly related: #204

[2020-03-31 19:59] vtraag commented on #1364
In the original publication, [Provan and Shier](https://dx.doi.org/10.1007/s004539900020) describe in section 3.1 a particular approach for st-cuts in undirected graphs. It would probably be best to implement that. Most of the groundwork is already there for the st-cuts in directed graphs anyway (their framework is reasonably general).

It is probably possible to to convert an undirected graph to

[2020-03-31 20:18] vtraag commented on #1363
I believe that the whole procedure devised by [Provan and Shier](https://dx.doi.org/10.1007/BF01961544) is based on the assumption that the capacities are strictly positive. It cannot distinguish between an edge that is not present and an edge with zero capacity. The most straightforward solution would be to simply include a check on the capacities. Shall I implement this?

[2020-03-31 21:19] szhorvat commented on #1363
Please go ahead if you want to.

[2020-04-01 11:32] szhorvat commented on #1364
First, let me make it clear that I agree with this.

But I do not think this is true. This function does not find arbitrary cuts. It only finds s-t cuts. The order of s-t (not t-s) defines the direction. Therefore, no two directed cuts will be equivalent in the undirected sense.

Example on a small random graph:

![image](https://user-images.githubusercontent.com/1212871/78132415-ffef4a80-741c-11e

[2020-04-02 10:57] #1363 closed

[2020-04-05 15:45] #539 closed

[2020-04-06 20:52] vtraag commented on #1364
Yes, @szhorvat, I believe you are correct. I didn't yet think of the fact that the cut itself is directed of course. That should work as a work around.

[2020-04-09 10:07] szhorvat opened #1367 "igraph_lattice creates a 1-vertex graph with empty dimvector"
I am not yet sure whether to call this a bug or not. In any case, it should be documented.

`igraph_lattice` will create a zero-vertex graph if given a dimvector like `(0,0)` or `(0)`. This is fine.

But it creates a one-vertex graph if given an empty dimvector `()`.

Do you think this behaviour is correct? Should it be changed, or should it be documented? I'd probably just document it because it

[2020-04-09 11:20] ntamas commented on #1367
Nope, please go ahead. I think your reasoning is correct; this is probably what's going on behind the scenes anyway.

[2020-04-11 08:56] vtraag opened #1368 "Interruption of community_leiden crashes"
When interrupting `community_leiden` this may result in crashing the Python session. Presumably it is a memory-related issue. I am not yet sure whether this is a problem of the Python interface or the C core. If it involves the latter I'll transfer the issue.

[2020-04-11 10:05] vtraag commented on #1368
Thanks for the quick fix @szhorvat !

[2020-04-11 17:42] szhorvat commented on #1291
@vtraag Is `igraph` okay on conda-forge now and can we close this?

[2020-04-11 18:12] vtraag commented on #1291
Yes, it is merged.

[2020-04-11 18:12] #1291 closed

[2020-04-15 16:59] #1368 closed

[2020-04-15 18:25] tillea opened #1370 "Test suite issues on different Debian release architectures"
Hi,
there is a new [bug report](https://bugs.debian.org/956821) concerning different Debian release architectures.  For example the [arm64 build log](https://buildd.debian.org/status/fetch.php?pkg=igraph&arch=arm64&ver=0.8.1%2Bds-1&stamp=1585576245&raw=0) is mentioning the following errors:

    128: Merging layouts 2 (igraph_i_layout_merge):      FAILED (layout.at:68)
    195: Infomap community s

[2020-04-15 18:43] szhorvat commented on #1370
Can you please upload the full contents of `tests/testsuite.dir`?

[2020-04-15 18:49] tillea commented on #1370
On Wed, Apr 15, 2020 at 11:44:09AM -0700, Szabolcs Horvát wrote:

As I tried to express: I have no access to these data of Debian autobuilders but I try to do a build on an i386 emulation and will upload the result of this (hopefully reproducing the same issues).

[2020-04-15 19:08] tillea commented on #1370
This is the build in i386 emulation.  It has the same tests failing as on the real hardware.
[i386_testsuite_dir.zip](https://github.com/igraph/igraph/files/4483267/i386_testsuite_dir.zip)

[2020-04-15 19:14] szhorvat commented on #1370
Thanks for the report Andreas!

The bug you linked seemed to suggest that these failures started to happen only with 0.8.1. That would be strange, as these functions were not touched, at least not in any meaningful way. If it is not too much trouble, could you please try the same with 0.8.0 on the very same system (same hardware, same compiler)?

[2020-04-15 19:18] szhorvat commented on #1370
Was there anything else that changed than going from igraph 0.8.0 -> 0.8.1? I assume you built igraph with all external packages (external arpack, lapack, blas, etc.) Did those dependencies change?

Since some of these look like they may be due to numerical issues, could the compiler (different compiler version or different optimizations) be at least partly responsible?

[2020-04-15 19:51] vtraag commented on #1370
This problem was already observed previously in issue #678. There, the discussion lead us to relax the testing because it does not seem to be possible to guarantee consistent output always (but feel free to suggest possibilities). We have not yet gotten around to correcting this. I presume this is necessary to be able to include the new `igraph` release in Debian? If so, we should treat this with

[2020-04-16 09:11] tillea commented on #1370
On Wed, Apr 15, 2020 at 12:52:06PM -0700, Vincent Traag wrote:

I can confirm that it really affects the Debian distribution.  The build that passed before were in 0.7.1.  If you do not change the tests the new 0.8.? series will not migrate to Debian testing and will finally not be released with the stable distribution.
Kind regards, Andreas.

[2020-04-16 09:40] szhorvat commented on #1370
@tillea A lot of the affected code was already present in 0.7.1, so it is surprising that the tests passed before, but they are failing now. If it is not too much trouble, could you please help figure out what exactly changed? I strongly suspect that it is not just igraph, but it's the way you build it (dependencies, compiler, hardware).

I can't speak for others, but personally I am stuck at home

[2020-04-16 09:57] tillea commented on #1370
On Thu, Apr 16, 2020 at 02:40:47AM -0700, Szabolcs Horvát wrote:

Speaking about me: I have my fingers in about 1000 packages in Debian.  Currently those packages that are highly relevant for COVID-19 have high priority.  I have no time to dig deeper into this issue.  If the solution is simply relaxing the testing criteria a bit (which is completely in line with your suspicion that compiler or har

[2020-04-16 10:17] ntamas commented on #1370
My proposal: let's try to get this sorted out for i386 in some simulated environment (if we can reproduce this) and try the build again if it passes on i386. Maybe the relaxations that we build into the tests would also make them pass on other architectures.

@szhorvat when testing on Raspbian, did you build it with external LAPACK/ARPACK libraries? If so, did you use the official packages in Rasp

[2020-04-16 10:33] szhorvat commented on #1370
@ntamas No, I didn't build with external packages. This issue is almost certainly not because of i368, but because of using external packages. I do see some failures on macOS when using *all* external packages.

[2020-04-16 10:36] szhorvat commented on #1370
It would be better to start with fixing up the tests so that they do not depend on the behaviour of the external dependencies (when those behaviours are correct). I suggest doing this first, and leaving the i386 stuff for later.

Doing this would take quite a bit of work because none of us have a full understanding of all functionality included in igraph. E.g., several of the SCG tests fail. One w

[2020-04-16 11:36] AdrianBunk commented on #1370
There might be several problems, and one of them is related to i386:
The Debian i386 port still supports relatively old hardware, and therefore uses only the x87 FPU.
The x87 FPU has excess precision (80bit), which can result in different floating point results.
I am getting fewer (but not 0) failures when rebuilding the Debian package with "-msse2 -mfpmath=sse".

[2020-04-16 12:35] szhorvat commented on #1370
@AdrianBunk Do you know if x87 FPU instructions are supported at all on x86_64?

On macOS, if I use [`-mfpmath=387`](https://gcc.gnu.org/onlinedocs/gcc-9.3.0/gcc/x86-Options.html), I get

I do not know if this is a limitation of clang, a limitation of macOS, or a limitation of the x86_64 instruction set.

[2020-04-16 12:59] ntamas commented on #1370
Judging from [this page](https://buildd.debian.org/status/package.php?p=igraph&suite=sid), some problems are not related to test cases but indicate a general compilation failure (e.g., [this one](https://buildd.debian.org/status/package.php?p=igraph&suite=sid#problem-2)). It looks like on certain platforms the linker is not trying to link to the standard C++ library, which might be a misconfigurat

[2020-04-16 13:00] szhorvat opened #1371 "Test failures with x87 floating point arithmetic"
Splitting off part of #1370, this issue is for test failures when using x87 arithmetic.

I can reproduce these on macOS 64-bit (so no 32-bit system needed!), as follows:

I use gcc, not clang. I used gcc from MacPorts. Before running `./configure`, set

[code]

If you do not use MacPorts, or you are on a different OS, you will need to adjust the compiler names (`CC` and `CXX` lines above).

I did

[2020-04-16 13:01] szhorvat commented on #1370
Split off the x87 issues into #1371

[2020-04-16 13:02] AdrianBunk commented on #1371
Works with gcc. All x86_64 CPUs support SSE2, so noone would really care whether clang supports x87 there. "-m32 -mfpmath=387" works with clang if the 32bit libraries are installed.

[2020-04-16 13:07] AdrianBunk commented on #1370
Ignore these symbol errors, this is a Debian packaging issue. Debian has a way to track what symbols a shared library provides and when they were introduced, and can generate versioned dependencies in packages using the library based on the versions when the symbols used from the library were introduced instead of enforcing a dependency on the latest version of the library.
https://sources.debian.

[2020-04-16 13:13] AdrianBunk commented on #1370
Since i386-specific problems moved elsewhere, the problem in question is:
testsuite: 128 195 251 failed

Failing architectures for that:
- arm64
- i386
- ppc*
- s390x
- ia64
- riscv64

The ppc failures alone cover big/little endian and 32/64 bit, there is no obvious pattern which architectures fail.

[2020-04-16 14:09] szhorvat commented on #1371
@gaborcsardi Would you be able to look at the SCG ones, since none of us have much familiarity with that yet?

[2020-04-16 14:15] szhorvat commented on #1370
@tillea Small not: I believe you do not need to pass `--with-external-f2c` to `./configure` when you already have `--with-external-blas --with-external-lapack --with-external-arpack`. f2c simply won't be used.

[2020-04-16 14:21] szhorvat opened #1372 "Test failures with external BLAS, LAPACK"
Another followup for #1370

I get test failures when compiling using

[code]

Failures:

[code]

I am not able to separate these options and still compile successfully on macOS.

Full test output:

[testsuite.dir.zip](https://github.com/igraph/igraph/files/4487698/testsuite.dir.zip)

<details><summary>System information</summary>

macOS 10.14

Compiler:

[code]

Packages are from MacPorts. Version

[2020-04-16 14:22] gaborcsardi commented on #1371
They are probably just numeric precision failures, so just increase precision, or allow the "new" result as well.

[2020-04-16 14:26] szhorvat commented on #1372
Correction: `--with-external-arpack` can be omitted. The failures will be the same.

[2020-04-16 17:05] tillea commented on #1370
On Thu, Apr 16, 2020 at 03:33:28AM -0700, Szabolcs Horvát wrote:

Debian is definitely using all external packages that are packaged for Debian.

[2020-04-16 17:09] tillea commented on #1370
On Thu, Apr 16, 2020 at 03:18:10AM -0700, Tamás Nepusz wrote:

I think this is a pretty sensible approach.

The Debian build process is usually done in a clean chroot installing those packages only that are needed for the build.  There is some way (which I forgot, sorry) to create a multiarch-i386 chroot to build for i386 on amd64 machine.  I think you are better served with QEMU (which I don't ha

[2020-04-16 17:12] tillea commented on #1370
On Thu, Apr 16, 2020 at 07:15:31AM -0700, Szabolcs Horvát wrote:

Fixed in Git.  Thanks for the hint, Andreas.

[2020-04-16 17:50] szhorvat commented on #1370
Another followup: https://github.com/igraph/igraph/issues/1372  This still doesn't cover all issues reported here.

@tillea Can you let us know the precise versions of blas, lapack, arpack you use and link to?

[2020-04-16 18:03] ntamas commented on #1372
I have even more failures on my Mac; I'll start working on this and sort a few of these out, let's see what remains.

[2020-04-16 18:25] AdrianBunk commented on #1370
They are downloaded and installed at the beginning in the build logs at https://buildd.debian.org/status/package.php?p=igraph&suite=sid

[code]

[2020-04-16 18:36] AdrianBunk commented on #1370
Not sure whether it is related to any of the test failures, but some of the compile warnings in the build logs seem to point at real bugs.

[code]

Something like this or code causing ``may be used uninitialized`` warnings can easily create the kind of bugs that appear or disappear based on random changes like compiler/architecture/optimization/...

[2020-04-16 18:51] ntamas commented on #1370
Thanks @AdrianBunk , nice catch! I'll fix this soon, although it's probably unrelated (it is triggered only when reading GML files, and none of the problematic test cases do that).

I have fixed two test case failures on my computer (for the external ARPACK case) in https://github.com/igraph/igraph/commit/e3f48fe9241a6ff97b439f58720123c07b2aebb4 and https://github.com/igraph/igraph/commit/55f88af6

[2020-04-16 19:29] ntamas commented on #1370
https://github.com/igraph/igraph/commit/f03d9142577f035a878e81b0cdab334974d35d00 fixes the issue raised by @AdrianBunk ; https://github.com/igraph/igraph/commit/c7fa48790b35a5c5bcd2739ee4f177084061a454 probably fixes test case 128 (129 in the develop branch). Test case 251 is most likely fixed as well. Test case 195 seems to be unrelated to BLAS / LAPACK / ARPACK (the Infomap algorithm uses none o

[2020-04-16 19:34] ntamas commented on #1372
The failures reported by @szhorvat are now fixed in the develop branch (at least on my machine). However, test cases 247 (`Solving the SCG problem, stochastic matrix (igraph_scg_grouping)`) and 250 (`SCG semi-projectors, stochastic (igraph_scg_semiprojectors)`) also fail on my machine so I keep this open for the time being.

[2020-04-16 21:32] vtraag commented on #1370
I believe that Informal uses some eigenvector to get the stationary probabilities for a random walk. Presumably that then also relates to some of the external libraries?

[2020-04-17 08:48] szhorvat opened #1373 "Implement "harmonic centrality""
The harmonic centrality of a vertex is the average inverse distance to all other vertices.

https://en.wikipedia.org/wiki/Closeness_centrality#In_disconnected_graphs

https://igraph.discourse.group/t/user-defined-distance-for-unconnected-node-in-closeness-and-harmonic-centrality/183

[2020-04-17 12:07] Silmathoron commented on #1373
To give a bit of context, the harmonic definition of closeness centrality (sometime only called "harmonic centrality") provides a slightly different formula by taking the sum of the inverse distances instead of taking the inverse of the sum.

This definition is associated to the convention of infinite distance between non-connected nodes such that the inverse distance is zero.

Contrary to the ari

[2020-04-17 12:18] Silmathoron commented on #1053
To give some update on this issue, I'll summarize here [a discussion on discourse](https://igraph.discourse.group/t/user-defined-distance-for-unconnected-node-in-closeness-and-harmonic-centrality/183) on this issue.

The arithmetic definition of the closeness centrality leads to significant "awkwardness" regarding how to compute it for graphs where the in- or out-component of some nodes does not c

[2020-04-17 12:45] Silmathoron commented on #1053
Here is an illustration for a graph where one node has zero out-degree
![graph](https://user-images.githubusercontent.com/8523051/79570122-279b0f80-80b9-11ea-8594-67d58485be03.png)

| Definition / Lib | Networkx                     | Graph-tool                   | IGraph                     |
|------------------|------------------------------|------------------------------|------------------------

[2020-04-17 12:58] Silmathoron commented on #1053
And here are the results for a "fully disconnected" undirected graph
![graph](https://user-images.githubusercontent.com/8523051/79571326-50240900-80bb-11ea-996a-37434d166851.png)

| Definition           | Closeness                                        |
|----------------------|--------------------------------------------------|
| Arithmetic (d=0)     |        [1, 1, 1, 2/3, 2/3, 2/3, 2/3, 2/3]

[2020-04-17 14:39] ntamas commented on #1370
Hmmm, you may be right. Nevertheless, I still need to reproduce the issue somehow before I can proceed further. I'll try an i386 chroot somewhere and see if the bug surfaces there.

[2020-04-17 14:58] 12yy88 commented on #331
Is there a way to do it in R?

[2020-04-17 16:29] ntamas commented on #1370
Managed to reproduce the failures in an i386 chroot. Most of these (the ones that I actually understand) seem to be numerical inaccuracies and/or changes in labeling of clusterings that are semantically equivalent. I'll try to make them pass by modifying the test cases.

[2020-04-17 17:50] tillea commented on #1370
On Fri, Apr 17, 2020 at 09:30:09AM -0700, Tamás Nepusz wrote:

Thanks for this effort and the good news, Andreas.

[2020-04-18 10:32] szhorvat commented on #1318
We need a prioritized list to keep track of what's interruptible and to know when this issue can be closed.

[2020-04-20 14:01] ntamas commented on #1370
@tillea All tests pass now on i386 with the recent patches I have committed to the `develop` branch -- these will be merged back to `master` soon as well.

Is there a way to re-run all the tests on the Debian build architecture without making a new upstream release first? Say, if I send you a tarball with these 9 patches, can they be applied in the Debian build process temporarily until we have a

[2020-04-20 14:11] ntamas commented on #1371
Made quite a few changes to test cases recently (tests are now fixed on i386 in Debian) - maybe these got solved as well.

[2020-04-20 14:27] szhorvat commented on #1371
There is one remaining failure,

[code]

`testsuite.log`:

[code]

[2020-04-20 15:02] szhorvat opened #1374 "Test failures with -ffast-math"
Some tests fail when compiling with `-ffast-math`. Which ones fail precisely depends on the compiler used, and the specific compiler options (e.g. `-march`). The following is with:

[code]

and all defaults except adding `-ffast-math` to `CFLAGS` and `CXXFLAGS`.

Of course `-ffast-math` is non-compliant, but the fact that some tests fail with it can indicate true problems with the code, or just th

[2020-04-20 15:05] szhorvat commented on #1374
Hm, `61` was actually a crash ...

[2020-04-20 15:34] tillea commented on #1370
On Mon, Apr 20, 2020 at 07:01:29AM -0700, Tamás Nepusz wrote:

Great.

I could use your patch inside the package as `quilt patch` and upload.  This would give us the full matrix of the build architecture failures.

Kind regards
     Andreas.

[2020-04-20 15:39] ntamas commented on #1370
That's great -- here are the patches: [patches.tar.gz](https://github.com/igraph/igraph/files/4504539/patches.tar.gz).

[2020-04-20 15:46] tillea commented on #1370
On Mon, Apr 20, 2020 at 08:39:39AM -0700, Tamás Nepusz wrote:

I'll do my best - but it might be it will take me until tomorrow to apply this.  Thanks a lot in any case, Andreas.

[2020-04-20 17:54] ntamas commented on #1371
_*sigh*_

This failure is due to the fact that the LU factorization solver does not recognize a random singular matrix (two rows are intentionally set to the same values) with the limited floating point precision offered by the x87 instruction set. I'm not really sure what to do with it.

I don't think that we really need to test the LU solver here - that would be the job of the LAPACK variant tha

[2020-04-20 18:08] ntamas commented on #1374
`-ffast-math` does [quite a few scary things](https://stackoverflow.com/a/22135559/156771) but it definitely shouldn't crash the library. I'll take a closer look at these, though.

[2020-04-20 18:46] szhorvat commented on #1374
Just a note that today I built igraph with `-fsanitize=address -O2 -ffast-math` to try to figure out what crashes in `61` (without `-O2`, test 61 passes). This time it didn't crash, but the memory usage kept increasing without bound, quickly exhausting by 16 GB.

[2020-04-20 18:56] szhorvat opened #1375 "igraph_lattice: granular periodicity control"
This is a proposal to either introduce a new function or generalize `igraph_lattice` (IMO preferred) to provide granular control of periodicity.

`igraph_bool_t circular` could be changed to an `igraph_vector_bool` of the same length as `dimvector`. This would control periodicity independently along each direction.

Downside: it will be more complicated for the C interface used to construct this f

[2020-04-20 18:58] szhorvat commented on #1371
Doesn't x87 provide *higher* precision, 80 bits instead of 64 bits? I thought it always worked with 80 bit registers internally, but maybe I'm wrong.

I think this would be fine.

[2020-04-20 19:16] ntamas commented on #1374
Same as what I saw when building with `-ffast-math`. I think that the edge list of the graph being generated keeps growing; the algorithm might be generating the same edge over and over again. I think this is the only issue that we should really be worried about -- the other test failures seem to be using heavy math-dependent routines from BLAS / LAPACK / ARPACK that probably rely on "proper" IEEE

[2020-04-20 19:24] ntamas commented on #1371
Committed a patch to the LU solver test case, FYI. Can you check whether it still fails for you?

[2020-04-20 19:34] tillea commented on #1370
On Mon, Apr 20, 2020 at 08:39:39AM -0700, Tamás Nepusz wrote:

Just uploaded including your patches.  Feel free to observe
   https://buildd.debian.org/status/package.php?p=igraph
in the next couple of hours when the autobuilders will pick the new upload.
Thanks a lot for your cooperation, Andreas.

[2020-04-20 19:34] szhorvat commented on #1371
It does not fail now.

[2020-04-21 07:11] tillea commented on #1370
Hi,
as you might have noticed the results became better when considering the number of failed tests but the issue is not solved finally.  I'm attaching the testlog from the i386 build (hmmm, my interface does not like tar - so I use zip :-( )
[tests_log_i386.zip](https://github.com/igraph/igraph/files/4508244/tests_log_i386.zip)
I'll compare with my arm64 (pinebook I just reactivated for this purp

[2020-04-21 07:35] ntamas commented on #1370
Okay, this remaining issue will be easy to fix; it is simple a printing issue (the test case prints `-0+0i` instead of `0+0i`). I'll try to fix it in the afternoon.

[2020-04-21 07:36] vtraag commented on #1374
You all seem to be much more aware of the details of the various CPU architectures than I am. But in the previous discussion on problems with external packages in issue #678, we came to the conclusion that at least some tests involved a limited set of eigenvectors from a degenerate subspace. I'm not sure whether it is possible to guarantee consistent output of such eigenvectors across all architec

[2020-04-21 08:09] szhorvat commented on #1374
For verifying an eigenvector `v` of a matrix `A`, the most reasonable thing is probably to check that `A.v == something * v`.

[2020-04-21 20:30] ntamas commented on #1370
I'm a bit baffled by this; I have no idea how the test case managed to end up with `-0+0i`, but here's a stab in the dark: https://github.com/igraph/igraph/commit/6fb8f810e6b5aa7a1c8f48a0e86b05afedfd3f17 . I cannot reproduce the issue in my i386 chroot so I don't know whether it would work or not.

[2020-04-22 05:33] tillea commented on #1370
On Tue, Apr 21, 2020 at 01:31:11PM -0700, Tamás Nepusz wrote:

I can only confirm that the test ended up perfectly the same on arm64.  I'll try this patch and let you know.  Thanks for working on this.

[2020-04-22 07:00] tillea commented on #1370
On Tue, Apr 21, 2020 at 01:31:11PM -0700, Tamás Nepusz wrote:

For me it remains:

    cat tests/testsuite.dir/251/testsuite.log
    #                             -*- compilation -*-
    251. scg.at:71: testing SCG of a graph, stochastic matrix (igraph_scg) : ...
    ./scg.at:73: ${CC} ${CFLAGS} ${abs_top_srcdir}/examples/simple/scg2.c -I${abs_top_srcdir}/include -I${abs_top_builddir}/include -L${

[2020-04-22 09:25] dnieuw opened #1376 "Implementing "spanning edge betweenness" for edge reliability calculation in MST"
Dear Igraph team,

I'm working on a nursing home and hospital transmission study of SARS-CoV-2 using your igraph package to create and calculate with graphs. My current results are based on the creation of interaction networkds by using genome sequence and patient data and creating an MST for cluster analysis. I have been looking for a way to calculate edge reliability in MSTs and found this recen

[2020-04-22 10:51] ntamas commented on #1376
Are there any performance problems with the Java implementation? If there aren't any, a quick workaround would be to write the edge list from igraph into a simple edge list file (one edge per line, source-target vertex IDs), call the Java implementation, and parse the results. It is probably easier than reimplementing the algorithm in C, and time is the essence when it comes to SARS-CoV-2-related

[2020-04-22 11:55] dnieuw commented on #1376
I understand, stupid to not think about that first, I'll have a look at the execution speed of the algorithm. In the thesis, she mentions that small networks take seconds but large networks can take an hour, so have to see how that translates to my data. She indicates that it has O(n^2.5) complexity in the worst case.

FYI, I'm currently using the R interface to your C core to run igraph, if you c

[2020-04-23 09:10] dnieuw commented on #1376
The algorithm runs for about an hour on a 444 vertex fully connected network on 4 cores, which is quite slow, but doable.

The issue is though that the "generic network" java implementation does not support weighted MSTs, which is crucial for the network I have, which is generated from an all vs all sequence distance matrix. Therefore the results assigned a very low probability to all edges since

[2020-04-23 09:17] szhorvat commented on #1376
Can you give a concise, but complete and mathematically precise definition of this measure you requested?

[2020-04-23 10:44] dnieuw commented on #1376
I am not a mathematician myself so I'm sorry if this is not what you were asking for, but this is how she describes the algorithm in her thesis:

[code]
The Theorems and Equation 3.1 do not lend themselves well for posting here because of the mathematical formulas they contain, they can be found described in detail in her thesis in chapter 3.1:
https://www.researchgate.net/publication/324504497_Mo

[2020-04-23 19:45] ASTeixeira commented on #1376
Dear all, I'm happy to help.

I was the one developing it and I even created a Python notebook with the same calculations: https://github.com/ASTeixeira/SpanningEdgeBetwenness/

Regarding publications there are already three publications with the measure as you can see in the GitHub repository. So it was already peer reviewed and has been used. The original publication "Spanning Edge Betweenness"

[2020-04-23 20:00] ntamas commented on #1370
Okay, I think I'll just bite the bullet and write a custom matrix printer function for the test cases that replaces all occurrences of `-0+0i`, `-0-0i` and `0-0i` with `0+0i`.

[2020-04-23 20:09] szhorvat commented on #1370
@ntamas Maybe a macro in the test utilities would help? Something like:

[code]

Then this could be used in all functions that print `double`s to quickly canonicalize results.

[2020-04-23 20:11] szhorvat commented on #1370
@ntamas  On my machine, `a = -0.0;` then `a + 0.0` results in a positive zero. Tested with `cling`. Maybe that's an even simpler workaround. No `CANON` needed.

[2020-04-23 20:13] ntamas commented on #1370
I suspect that it won't help here; what probably happens is that we end up with a small value in the real or the imaginary part of the complex number that is smaller than the printing accuracy but larger than the epsilon value that I use to force "small" values to zero. Therefore, the number would not satisfy the `x == 0.0` condition but would nevertheless appear as `0` when printed to stdout. Not

[2020-04-23 20:15] szhorvat commented on #1370
Could be, but I'd expect most tiny numbers to print like `1.23e-300` (big negative exponent). Still, there's a lot of weirdness in floating point implementations, such as denormal numbers.

[2020-04-23 20:30] ntamas commented on #1370
@tillea I hope this will be the last one: https://github.com/igraph/igraph/commit/ead7e0c59b8bb1745e0e50c892d986f9ccdb7f4f.patch

Can you please try adding this to the patchset? It should explicitly avoid printing `-0` in the test case.

[2020-04-23 20:44] szhorvat commented on #1376
@ASTeixeira Welcome, and thanks for the offer to help!

I have to apologize in advance for not having read the paper yet, but I am a bit overwhelmed at the moment. I was hoping that you could clarify a few things, to make this go faster.

I'm looking at http://snap.stanford.edu/mlg2013/submissions/mlg2013_submission_14.pdf

Also looking at the unweighted part of your Python code, basically you cou

[2020-04-23 20:52] ntamas commented on #1376
@ASTeixeira Could you please point me towards the implementation that handles weighted graphs? I was looking at the [code on Bitbucket](https://bitbucket.org/phyloviz/popsim-analysis/src/99c006a95b974664a9cd866e72dfb039bba6bff3/src/net/phyloviz/msn/TreeStatsGeneric.java#lines-51), but it seems to ignore the third column in the input file. Is there an alternative implementation I should look at?

[2020-04-23 20:53] ASTeixeira commented on #1376
Yes it is. We take a row and columns in the Laplacian for the total number of MSTs and then we take rows and columns of a given edge to obtain the number of MSTs the it is part of. Then we do the ratio.

Hum. I'll have to think about this. For the multiplications in weighted networks I have, and I actually have to update the Python repository. I can do the calculation in a log way, so I have sum o

[2020-04-23 20:59] ASTeixeira commented on #1376
Oh, I see.  I checked. This must have been a weird update of the repository.
This:
`				int src = new Integer(s[0]);
				int target = new Integer(s[1]);
				EdgeMST edge = new EdgeMST(src, target, 1);	`

should be:
`int src = Integer.parseInt(s[0]);
				int target = Integer.parseInt(s[1]);
				int weight = Integer.parseInt(s[2]);
				EdgeMST edge = new EdgeMST(src, target, weight);	`

I'm not sure

[2020-04-23 21:00] szhorvat commented on #1376
So basically what you need to replicate your *current* implementation in C is a library that is able to compute the determinants of sparse matrices efficiently. Or better: the logarithm of the determinant. Is this correct?

[2020-04-23 21:03] szhorvat commented on #1376
@ntamas Determinant (or log-determinat) calculations for sparse matrices should be available in the part of SuiteSparse that's included in igraph, right? I've never worked with SuiteSparse. Do you have any experience with this?

[2020-04-23 21:04] ASTeixeira commented on #1376
Yes. The rest are a bunch of data structures (Disjoint Sets) and so on that have to be used to implement each step of the weighted graphs. For unweighted is pretty straitforward.

[2020-04-23 21:15] ntamas commented on #1376
Thanks, with your modification it seems to work now!

I think we are dealing with two separate issues here. One is the inclusion of this measure into igraph; the other one is helping @dnieuw to be able to use this measure from his code that is using igraph (from R, I guess) - assuming that he is willing to quantize the edge weights in his networks to reduce heterogeneity, otherwise it is very like

[2020-04-23 21:19] szhorvat commented on #1376
@dnieuw Please check the comments above on there being usually only one minimum spanning tree in a general weighted graph. You only gave a very short description of your problem, but based on that I am quite sceptical about whether this measure is suitable for your use case ...

Something closely related that I tried on a few occasions was randomly perturbing the weights slightly and looking at ho

[2020-04-23 21:46] ASTeixeira commented on #1376
@ntamas  The repository should be updated now: https://bitbucket.org/phyloviz/popsim-analysis/src/master/src/net/phyloviz/msn/TreeStatsGeneric.java
Thank you for pointing the problem!

Regarding @dnieuw work I've applied this in phylogeny analysis before. If the weights are distances between sequences, it should be ok. In the end it would be a complete graph with integer distances representing how

[2020-04-24 08:51] tillea commented on #1370
On Thu, Apr 23, 2020 at 01:30:22PM -0700, Tamás Nepusz wrote:

Seems to work.  I'll upload to the autobuilders network soon and will observe
    https://buildd.debian.org/status/package.php?p=igraph
in a couple of hous quickly.
Thanks a lot, Andreas.

[2020-04-24 09:07] dnieuw commented on #1376
Great to see your responses here.

Regarding your questions about the nature of the distances, the distances are integer values representing mutation counts and indel events so no need to quantize. I can, however, see some application of floating-point weights in phylogenetic analyses, such as with evolutionary model based sequence distances.

Regarding the applicability, since the weights are oft

[2020-04-24 14:40] ntamas commented on #1370
Yay, passed everywhere except the `kfreebsd` ones - should we be worried about those? (It is due to missing build deps).

If this is okay, we will release 0.8.2 soon and then Debian can ship an unpatched 0.8.2 release to get the same result.

[2020-04-24 15:29] tillea commented on #1370
On Fri, Apr 24, 2020 at 07:40:40AM -0700, Tamás Nepusz wrote:

Yes, you can not do anything about missing Build-Depends.

That would be nice.  However, if you plan any more changes - the patches do not really hurt in practice.  So take your time and feel free to close this issue.

Thanks a lot for your support, Andreas.

[2020-04-27 11:13] #1370 closed

[2020-04-28 08:16] tillea opened #1377 "Please use consistent version number"
Hi,
as you can read in a [Debian bug report](https://bugs.debian.org/958999) the version tuple encoded in the library and in the pkg-config metadata does not match.  While there is a patch attached for Debian I think it makes more sense if you solve this in your upstream code since you are planing a new release anyway.
Kind regards, Andreas.

[2020-04-28 11:23] ntamas commented on #1377
Not sure what's wrong there -- I took a look at the official tarball of 0.8.1 and `igraph.pc` as well as `IGRAPH_VERSION` includes the correct version number (i.e. 0.8.1). Is there something else going on in the Debian build process?

[2020-04-28 12:29] tillea commented on #1377
On Tue, Apr 28, 2020 at 04:24:07AM -0700, Tamás Nepusz wrote:

I remember when I did the testsuite issue related builds I stumbled upon strings saying 0.9.0-pre or something like this.  The Debian build does not randomly bump version strings, thought.
I've found

    $ cat tools/NEXT_VERSION
    0.9.0

No idea where this is used.

[2020-04-28 12:34] ntamas commented on #1377
That file should only be present in the development version if you do a checkout from the `develop` branch. The idea is that `tools/getversion.sh` generates a version number like `${NEXT_VERSION}-pre+${commithash}` if you are compiling things from the development branch, but it uses `${CURRENT_VERSION}-post+${commithash}` if you are compiling things from the master branch -- unless you are standin

[2020-04-28 12:40] tillea commented on #1377
OK, than you should not include that file into the tagged download tarball:

    wget http://github.com/igraph/igraph/archive/0.8.1.tar.gz
    $ tar taf igraph-0.8.1.tar.gz | grep NEXT_VERSION
    igraph-0.8.1/tools/NEXT_VERSION

The file is definitely inside the tagged download which Debian is using.  Its surely possible to exclude that file explicitly to be safe.
Kind regards, Andreas.

[2020-04-28 12:46] ntamas commented on #1377
Hmmm, that's not the released tarball, that's the snapshot of the Git repo corresopnding to the revision tagged by 0.8.1. The official tarball is this one:

https://github.com/igraph/igraph/releases/download/0.8.1/igraph-0.8.1.tar.gz

The source of confusion is probably the fact that if you navigate to the release page on Github, it shows "Source code (tar.gz)" at the bottom of the release box whe

[2020-04-28 12:47] ntamas commented on #1377
Nevertheless, I'll try to patch the build process so it does not use `NEXT_VERSION` if you use the snapshot from Github. It should use `NEXT_VERSION` only if the file is actually part of a Git repository (which is not true if you simply extract the tarball).

[2020-04-28 13:07] tillea commented on #1377
On Tue, Apr 28, 2020 at 05:46:24AM -0700, Tamás Nepusz wrote:

Uhhhh, how can this automatically detected.  In Debian there is tool uscan which parses a website for a regexp string to detect new versions.  For all github projects I know it is save to parse

    https://github.com/igraph/igraph/releases

If you have some alternative page linking to what you call "official tarball" I could point usc

[2020-04-28 13:10] tillea commented on #1377
On Tue, Apr 28, 2020 at 05:48:07AM -0700, Tamás Nepusz wrote:

That would be helpful, Andreas.

[2020-04-28 13:48] szhorvat commented on #1377
I just checked what MacPorts does and it seems to be able to use the release tarball. One can choose to get the source from "release" (which is this) or from "archive" (which Debian uses).

https://guide.macports.org/#reference.portgroup.github.distfilestrategy

One can use the GitHub releases API to get the release, but I think MacPorts simply makes assumptions about the name of the tarball based

[2020-04-28 13:49] ntamas commented on #1377
https://igraph.org/c/#downloads contains a link that links to the correct Github URL.

The Git repo contains lots of stuff that is not necessary for building igraph from source. Nevertheless, it does not hurt to have these in the Github archive and it won't disturb the build process, apart from the presence of the `tools/NEXT_VERSION` file.

I have now committed a change to `tools/getversion.sh` s

[2020-04-29 12:15] vtraag opened #1378 "COPYING file is missing from MSVC zip"
The `COPYING` and `ACKNOWLEDGEMENTS.md` files are missing from the MSVC source zip. This should also be included to ensure proper licences are always included. Similarly, we could perhaps also include the `CHANGELOG.md`.

[2020-04-30 18:20] ltbyron opened #1380 "Confusing results of topological_sorting"
I suppose the topological_sorting function will return a list whose length equals the number of vertices in the graph. However, when I run the following codes I get unexpected results. The behavior is rather confusing. I know the topological order is not unique in general, but I can not find out why this function returns these results. Specifically, maybe the list obtained by mode='IN' should be t

[2020-04-30 18:30] szhorvat commented on #1380
This graph is not acyclic, therefore topological sorting makes no sense.

igraph's current behaviour is start the sort, then stop as soon as it finds a cycle and return a partial result:

https://igraph.org/c/doc/igraph-Structural.html#igraph_topological_sorting

Personally, I am not very happy with this behaviour. I would rather have it return an error and no result at all. I guess this is up for