[2020-11-26 09:25] #1535 closed

[2020-11-26 09:37] ntamas commented on #1507
I think most of the warnings are gone; closing this.

[2020-11-26 09:37] #1507 closed

[2020-11-26 09:51] ntamas commented on #1490
I decided to skip the `tls2` test if ARPACK is vendored. This should fix the all-external builds on Linux.

[2020-11-26 09:59] ntamas commented on #1481
Closing this as the request is now implemented in the `develop` branch.

[2020-11-26 09:59] #1481 closed

[2020-11-26 10:03] ntamas commented on #1351
Fixed by #1549.

[2020-11-26 10:03] #1351 closed

[2020-11-26 10:04] ntamas commented on #297
igraph now compiles without warnings with recent `gcc` and `clang` versions, even with `-Wall -Wextra -pedantic -Werror`.

[2020-11-26 10:04] #297 closed

[2020-11-27 18:16] tillea commented on #1469
[tests.zip](https://github.com/igraph/igraph/files/5609189/tests.zip)
I've finally managed to reproduce the issue on a mips64el machine.  Here are the logs.

[2020-11-27 20:00] szhorvat commented on #1469
Thanks @tillea! That result is super-weird: some of the results are zeros when they shouldn't be. *Something* is definitely broken, but this is going to be very hard to debug without access to a machine where the issue is reproducible.

I also wonder if the issue is in igraph, or in ARPACK (which igraph uses for this specific calculation).

[2020-11-27 20:01] szhorvat commented on #1469
Here's the diff so others don't have to download the archive:

[code]

[2020-11-27 20:54] tillea commented on #1469
On Fri, Nov 27, 2020 at 12:00:38PM -0800, Szabolcs Horvát wrote:

The fact that it took me such a long time is a sign that I'm busy with lots of other stuff to provide more help than I did just now.

I need to admit that I have no idea about neither about igraph or ARPACK.  I just remember that there was once an issue with ARPACK in conncetion with igraph.

Kind regards, Andreas.

[2020-11-28 18:24] szhorvat opened #1555 "degree_sequence_game: using a non-graphical degree sequence with the VL method results in too many errors"
**Describe the bug**

Passing a non-graphical degree sequence to `degree_sequence_game` results in two errors instead of one:

<img width="853" alt="image" src="https://user-images.githubusercontent.com/1212871/100523208-f63a0480-31ae-11eb-84af-a92ec3a8e143.png">

The first one (the only one shown by R, see https://github.com/igraph/rigraph/issues/88) is an `EINTERNAL` which is misleading: it says

[2020-11-28 20:29] szhorvat opened #1556 "Double-check that all tests are part of the cmake build"
I just re-added one missing test from the cmake build. We need to check that all tests are indeed used and run.

[2020-12-01 19:02] szhorvat opened #1560 "Make sure that passing in NaN weights do not cause a crash"
Passing NaNs as weights will cause some functions to crash, see e.g. https://github.com/igraph/rigraph/issues/415

Functions which can't handle NaN should check the weight vector for NaNs.

Note that some functions may only access a small part of the weight vector in some cases. Ideally, they should not loop over the entire weight vector just to check for NaNs then.

----

List of functions that a

[2020-12-02 13:50] ntamas commented on #1551
I was thinking about it a bit more and I am pretty convinced that you cannot simply calculate betweenness for "a subset of vertices" without calculating all the shortest paths, assuming that your goal is to get the accurate betweenness of a given vertex _i_. What you _can_ do is to calculate a betweenness-like measure for each vertex based only on paths that satisfy a certain condition, for instan

[2020-12-02 14:40] ntamas commented on #1469
Some update: I managed to boot a `mips64el` Debian image with QEMU (thanks to [these images](https://people.debian.org/~jcowgill/qemu-mips/)) so I'll look into this soon.

[2020-12-02 14:47] szhorvat commented on #1551
Of course you're right that computing betweenness for a subset of vertices is not going to be any faster. I agree, my suggested was flawed.

Now the question is if there are any uses for only taking shortest paths among a subset of vertices, as you describe. As you point out, one use is parallelization, but it's a rather weak motivation to implement this (and we have another issue already for para

[2020-12-02 14:47] #1551 closed

[2020-12-03 16:08] szhorvat commented on #1550
Since it is easy to make a correction and get the non-standard modularity OP was looking for, it is not worth adding an option to control this. (At least not until this alternative modularity definitions starts to see widespread use.)

Thus, closing.

[2020-12-03 16:08] #1550 closed

[2020-12-03 19:56] szhorvat commented on #1556
Fixed by 889f5852d510e378415bbeb3577ab47e761ccb3d

[2020-12-03 19:56] #1556 closed

[2020-12-03 20:30] ntamas commented on #1539
I went through the codebase to check where we are calling `igraph_is_connected()` for any reason. These are the places that I've found:

* Fruchterman-Reingold layout: does not seem to cause any problems as most of the function body is skipped when the graph is a null graph. The only place where we might run into problems is the initialization of vectors with zero lengths, but that's a different t

[2020-12-03 20:39] szhorvat commented on #1539
Agreed with everything, except the modularity. I don't _disagree_ with that either, I just need to think it through, as it's divided by the number of edges, which is zero even for the singleton graph, or any graph consisting of isolated vertices.

[2020-12-03 21:01] ntamas commented on #1539
Hmmm, you have a point there. Zero divided by zero is usually `NaN`, so how about `NaN` then?

[2020-12-07 11:26] szhorvat opened #1566 "Davidson-Harel layout is not interruptible"
**Describe the bug**
`igraph_layout_davidson_harel` is not interruptible. It should be.

**To reproduce**
Apply the layout to a large graph in a high-level igraph interface, and try to interrupt the computation.

[2020-12-07 11:45] szhorvat commented on #1566
Fixed by 96075932554171b8e02195a73da9881f8acd29c5.

[2020-12-07 11:45] #1566 closed

[2020-12-08 08:08] ntamas commented on #1539
@szhorvat Did you have time to think it through? I'm torn between 0 and `NaN`; `NaN` seems logical from a mathematical point of view, but 0 aligns better with my intuition.

[2020-12-08 10:03] vtraag commented on #1539
Sparse graphs can have a high modularity:

Bagrow, J. (2012). Communities and bottlenecks: Trees and treelike networks have high modularity. Physical Review E, 85(6), 9. https://doi.org/10.1103/PhysRevE.85.066118

Hence, the limit depends on the exact partition that you take. The expected modularity will be 0 for a random graph over any fixed partition of course, however, for any given graph there

[2020-12-08 10:12] ntamas commented on #1539
`NaN` it is then -- I will link the documentation to this issue so we will remember what the reasoning behind the decision was.

[2020-12-08 10:20] szhorvat commented on #1539
In the stochastic block model graph example I gave, the modularity necessarily goes to zero as p decreases, as for very low p, we will have mostly zero-degree vertices and a handful of degree-1 vertices. The probability that any partition would have more than one degree-1 vertex goes to zero.  However, this breakdown happens only when the number of non-zero-degree vertices becomes comparable to th

[2020-12-08 10:25] szhorvat commented on #1539
The next user complaint will be: "I generated a billion random graphs and computed the average modularity and why is it NaN!?!" Because just one of those billion happened to be an edgeless graph. Still, I do support returning NaN.

[2020-12-08 10:30] ntamas commented on #1539
We can print a warning for edgeless graphs, something along the lines of `Modularity is not well-defined for graphs without edges` -- at least the user would know that some edge case was not considered when the first edgeless graph is generated out of those one billion.

[2020-12-08 10:37] szhorvat commented on #1539
I think just going with NaN is fine.

[2020-12-08 20:40] #1539 closed

[2020-12-10 16:00] szhorvat commented on #1499
There were two separate issues causing a test failure.

The first one, which only occurred when using x87 math, was that the `p` vector was calculated as the leading eigenvector of the stochastic matrix. The corresponding eigenvalue is 1 and the vector's elements all have the same sign. However, some LAPACKs on some platforms may return all-negative values instead of all-positive.

This is now add

[2020-12-10 16:08] szhorvat commented on #1499
The second problem is different: the partitions that are returned seem to depend on the LAPACK that we use.  Specifically, in the `igraph_scg_grouping3` test, this concerns the `V` 1-by-n matrix which contains the 3rd eigenvector of the stochastic matrix.

This is what various LAPACK implementations return:

[code]

This was printed using the following code in the test:

[code]

I only see a failu

[2020-12-10 21:18] ntamas commented on #1499
Fixed by #1568 so closing.

[2020-12-10 21:18] #1499 closed

[2020-12-11 06:32] StutiV commented on #1322
Hello, @vtraag . I'd like to contribute to this issue. Can I get some guidance?

[2020-12-11 08:02] szhorvat commented on #1322
@StutiV Most of the work that needs to be done to resolve this issue does not involve programming. Instead, we need to go through the existing functions, see whether they check their arguments, and if not, decide what checks are necessary.

If you would like to contribute to this issue, start by choosing a function (e.g. `igraph_establishment_game`), then:

 - Read its documentation and understand

[2020-12-13 21:30] jgmbenoit commented on #1469
Apparently the issue is fixed in version 0.8.5.

[2020-12-13 21:35] jgmbenoit commented on #1469
May be I was to fast: I confused  ppc64el with mips64el . My mistake. Let see.

[2020-12-13 21:36] szhorvat commented on #1469
No related code was touched in 0.8.5. I suspect that this isn't even an igraph problem, but an ARPACK one.

[2020-12-14 07:19] jgmbenoit commented on #1469
igraph version 0.8.5 built well on mips64el arch: https://buildd.debian.org/status/package.php?p=igraph&suite=sid
So I guess that this issue can be closed.

[2020-12-14 07:44] ntamas commented on #1469
This is consistent with what I've seen on my machine in a QEMU `mips64el` instance. Closing it for now; feel free to reopen if the issue resurfaces.

[2020-12-15 03:37] chenzhiw opened #1569 "will Graph.get_shortest_paths() support bellman_ford algorithm"
Graph.get_shortest_paths() also supports edge weights (**only Dijkstra's algorithm yet**)
Will it support bellman_ford algorithm for negative weights in the future?
I have to convert it to SciPy CSR matrix first, and traceback myself now.

[2020-12-15 09:43] ntamas commented on #1569
There are no immediate plans to implement `igraph_get_shortest_paths_bellman_ford()` yet; pull requests are welcome. I have added this to the wishlist.

[2020-12-16 13:03] MingwuDuan opened #1570 ""polygon()" error when setting "edge.width" to a vector in R-3.6.3"
**Describe the bug**
When setting "edge.width" to a vector, the terminal shows the error message:
`Error in polygon(p[1, ], p[2, ], border = color, lwd = width, lty = lty) : `
`invalid value specified for graphical parameter "lwd"`

**To reproduce**
library(igraph)
data <- matrix(sample(0:1, 100, replace=TRUE, prob=c(0.8,0.2)), nc=10)
network <- graph_from_adjacency_matrix(data, mode='undirected',

[2020-12-17 08:48] ntamas commented on #1490
Moved all remaining CMake-related issue to the 0.9.0 milestone -- we now consider the CMake transition to be done.

[2020-12-17 08:48] #1490 closed

[2020-12-17 09:04] szhorvat commented on #865
This will be solved not by adding bigint support but by eliminating the possibility of overflow through using floats to count paths.

[2020-12-17 09:12] szhorvat opened #1571 "adjlist and inclist constructors should have option to control duplicating self-loops"
adjlist and inclist constructors should have a new parameter that controls whether self-loops are included once or twice in the result.

The functions which were used to remove such duplicates (e.g. `igraph_(inclist|adjlist)_remove_duplicate`) can then be deprecated.

[2020-12-17 09:14] szhorvat opened #1572 "Ensure all tests have VERIFY_FINALLY_STACK"
All tests should call `VERIFY_FINALLY_STACK()` at the end.

#1574 should be completed before starting with this.

[2020-12-17 09:16] szhorvat commented on #1181
No longer happens after the cmake transition.

[2020-12-17 09:16] #1181 closed

[2020-12-17 09:22] szhorvat commented on #1497
The draft is here: https://igraph.discourse.group/t/draft-document-for-installation-with-cmake/504

[2020-12-17 09:45] ntamas commented on #1560
This issue is a bit vague in the sense that it's hard to tell whether the goal outlined in the title has been achieved or not (cf. the [halting problem](https://www.wikiwand.com/en/Halting_problem)). Maybe we should come up with an explicit list of functions to check/test (the ones that we think might be affected by this problem) so we know that the issue can be closed when we have gone through th

[2020-12-17 09:47] szhorvat commented on #1560
Yes, the intention was to put a list with checkboxes in the top post. Part of the task is to identify affected functions.

[2020-12-17 17:33] ayanginet commented on #1569
I am a bit confused. Isn't it already implemented?
https://github.com/igraph/igraph/blob/520ee0c550cf7f9b4d6dd379e6f20f8000c03792/src/structural_properties.c#L5396-L5401

[2020-12-17 17:35] ntamas commented on #1569
That function will only give you the _lengths_ of the shortest paths, not the paths themselves. `get_shortest_paths_bellman_ford()` should give you the paths as well.

[2020-12-17 17:37] szhorvat opened #1573 "MinGW32 tests hang sometimes"
MinGW32 tests hang sometimes and the CI job times out. It seems to be completely unpredictable which test will hang.

Here are some examples:

 - https://github.com/igraph/igraph/runs/1571724909
 - https://github.com/igraph/igraph/runs/1571967929

[2020-12-17 17:39] szhorvat commented on #1573
@jannick0 @jankatins Have either of you seen anything like this when working with MinGW?

[2020-12-17 17:42] szhorvat opened #1574 "Separate tests from examples"
Right now the `examples/simple` directory contains both tests and examples linked from the documentation. Many of these "examples" are not actually useful as sample code. These should be identified and moves to `examples/tests`.

Additional;y, files in `examples/tests` should be moved to `tests/unit`.

[2020-12-17 17:44] szhorvat opened #1575 "Break up large files"
Look for any files named `src/<something>/<something>_other.c` and break them up into smaller chunks of manageable size.  Figure out how to do this without losing git history.

Checklist:

- [x] `centrality/centrality_other.c`
- [x] `community/community_other.c`
- [x] `constructors/constructors_other.c`
- [x] `games/games_other.c`
- [x] `io/io_other.c`
- [x] `isomorphism/isomorphism_other.c`
- [x]

[2020-12-17 17:53] ntamas commented on #1574
`examples/tests` is no more, all the relevant files are now in `tests/unit`

[2020-12-17 18:09] szhorvat commented on #1573
The MinGW tests are now switched to use internal BLAS/LAPACK to see if the hangs have anything to do with OpenBLAS.

[2020-12-17 18:18] jannick0 commented on #1573
Actually no. If switching libraries does not help, you could check
- if this happens locally, too
- if it always hangs at the last test (by permuting the test order)
- use MSYS's cmake which - as of now - is at version 3.18.4 (while MINGW32's cmake is at 3.19.1)

(I have not yet had a look at the entire cmake machinery in the repo.)

[2020-12-17 18:25] jannick0 commented on #1573
Thanks. I am not so deep in cmake, but what is the interpretation that the hanging test changed from one run to the other - or did a commit kick in here? ... just wondering to help.

[code]

[code]

[2020-12-17 18:36] jannick0 commented on #1573
[That run](https://github.com/igraph/igraph/runs/1572138018) succeeded.

[2020-12-17 19:02] vtraag commented on #1573
I experienced a similar problem with OpenBLAS when building on MSVC, see https://github.com/igraph/igraph/issues/1491. Note that a more  recent version of OpenBLAS (0.3.10) I did no longer encounter such issues. Perhaps the version in MinGW32 is lagging behind?

[2020-12-17 19:05] jannick0 commented on #1573
This is unlikely: The versions of MINGW32 and MINGW64 packages are always in sync. OpenBlas is at 0.3.12.

[2020-12-17 19:19] vtraag commented on #1573
Then I'm not sure what is causing the problem. Given that it now ran successfully, it suggests there might still be some problem with OpenBLAS on MinGW, even with more recent versions.

[2020-12-17 20:49] szhorvat commented on #1573
The problem is intermittent though, so this doesn't tell us much _yet_. Let us see if it comes back. I just triggered a re-run and will do it a few more times.

That's the strange thing ... No, there was no commit. The problem is random. However, I have seen `igraph_barabasi_game` get stuck more than once, which is suspicious.

I have seen a hang when I accidentally removed the random seed from a

[2020-12-17 21:00] vtraag commented on #1573
The problem with MSVC was also completely random, it sometimes got stuck on `igraph_version` :). The problem seems to be in the exit procedure (see https://github.com/igraph/igraph/issues/1490#issuecomment-715383082), when it probably does a join/wait for threads, which apparently goes wrong.

[2020-12-17 21:56] ntamas commented on #1573
Tests without OpenBLAS passed four times in a row without getting stuck, so I consider this fixed.

[2020-12-17 21:56] #1573 closed

[2020-12-18 09:28] szhorvat commented on #1573
There's something more going on here. Today I re-enabled building with external BLAS/LAPACK but I used NetLib LAPACK. It seems to be hanging again.

Also, I noticed that `igraph_barabasi_game` does not actually set a random seed. The randomness may be coming from there. Still, I don't see why it would hang only on 32-bit, especially considering that on 64-bit it does not hang, and that Windows, bo

[2020-12-18 09:54] szhorvat commented on #1573
However, the latest failure has nothing random in it.

[2020-12-18 21:37] szhorvat commented on #865
Effectively solved by #1576.

[2020-12-18 21:37] #865 closed

[2020-12-18 21:57] szhorvat commented on #1573
Correction to the above: Actually I enabled using an external ARPACK, and MSYS2's ARPACK links to OpenBLAS. Thus, igraph was still indirectly linked to OpenBLAS.  Eliminating this indirect OpenBLAS dependency resolves the hangs.

[2020-12-18 23:20] vtraag commented on #1560
Shortest path functions in principle work OK with `NaN` values. That is, they do not crash. However, they are not consistent in their output and handling of `NAN`. I use a simple graph (0 - 1 - 2 - 3 - 0) where the last edge has weight NAN and the others have weight 1.

The results are as follows:

[code]

It is debatable whether this answer is correct. If the edge 2-3 would also be `NAN` `igraph_

[2020-12-19 08:52] ntamas commented on #1574
I went through the files in `examples/simple` and moved those that were not explicitly referenced from the docs to `tests/unit`. I don't know when I will have time to continue this so I'll just put it back to the common stack.

[2020-12-19 18:30] szhorvat opened #1577 "Write tests for igraph_heap_ functions"
There are no tests for the `igraph_heap_` functions.

https://github.com/igraph/igraph/blob/develop/tests/unit/heap.c#L28

These functions are part of the public API, and generally useful for graph algorithms. They should have tests.

[2020-12-20 09:31] vagabond12 opened #1578 "Error in cluster_optimal(net): At optimal_modularity.c:85 : GLPK is not available, Unimplemented function call Traceback: 1. cluster_optimal(net)"
Error in cluster_optimal(net): At optimal_modularity.c:85 : GLPK is not available, Unimplemented function call
Traceback:

1. cluster_optimal(net)

[2020-12-20 20:58] szhorvat opened #1582 "Fix incomplete tests/examples"
The following tests and examples have missing parts or other issues that need to be fixed. We should not have un-useful examples included in the docs.

 - [x] `examples/simple/igraph_write_graph_lgl.c` is all commented out (#1601).
 - [x] `examples/simple/igraph_star.c` is empty (24509484b72ed057c71a3361dbf2191e71cb79de)
 - [x] `examples/simple/igraph_rewire.c` uses internal functions yet it is in

[2020-12-22 12:52] jgmbenoit commented on #1582
Let continue discussion [#1580 ](https://github.com/igraph/igraph/pull/1580) here. Please note that my point is not meant to be Debian centric. Here I am regular user centric. If I am a user who want to use the igraph library and who want to try some examples provided in the  manual, I want to be able to play with the them without diging in the the source code: I just want to use related packages

[2020-12-22 16:14] szhorvat opened #1585 "Create small example programs"
igraph has some examples in the documentation. We need more short educational example programs. Contributions of such examples are very welcome.

----

If you would like to contribute, please post in this thread and ask for guidance.

----

In short,

 - Contributions should target the `develop` branch
 - See how examples appear in the documentation e.g. at [igraph_small](https://igraph.org/c/doc/

[2020-12-22 16:23] szhorvat commented on #1582
@jgmbenoit:

As for your first point, I fully agree. Over time, examples have become more like unit tests than actually useful examples. For 0.9 we're trying to separate those programs which are purely tests from those that may be useful as examples. It would also be nice to write better educational examples, but as usual, there is little time for that ... I just created a new "good first issue" i

[2020-12-22 16:25] szhorvat commented on #1322
@StutiV If you are looking for tasks that require more actual programming, but is still very simple, check out #1585

[2020-12-22 17:15] jgmbenoit commented on #1582
"You should be aware that all examples are run as tests". I am. There are tests a building time, and periodic tests to check that every is fine within the distribution (libraries, compilers, ...).

[2020-12-22 17:28] jgmbenoit opened #1586 "bliss: please export"
I have noticed that the coming minor version 0.9 uses a slightly modified version of bliss. These changes are not mathematical ones, but they concern the interface. I would suggest to submit a patch to the upstream maintainer of bliss as your change may interest other developers. This will allow you to externalize bliss. This is better for everyone: as developer, you get ride of a external piece o

[2020-12-22 17:28] szhorvat commented on #1586
Yes, I am in contact with the maintainer and this is currently in progress.

[2020-12-22 17:51] szhorvat commented on #1582
This was not actually true. I fixed that now and made sure that all examples are run with the tests.

[2020-12-22 17:58] szhorvat commented on #1575
One way to break up a large file into smaller pieces by preserving git history is this two step method:

 1. Make multiple copies of the file, but do not change their contents. Make a commit. This ensures that git sees that the files are the same.
 2. Remove the unwanted parts of each copy. Make the second commit.

[2020-12-22 17:59] szhorvat commented on #1574
Related: #1585.

[2020-12-22 18:02] szhorvat commented on #1572
All tests in `tests/unit` that needed this now have this. This issue should be revisited when more tests are moved to `tests/unit` (#1574 and #1585). I'm done with it for now, so anyone else feel free to continue.

[2020-12-26 08:04] jgmbenoit commented on #1586
I can see that the bliss material in version 0.8.5 has been touched as well. So bliss cannot be exported for version 0.8.5 too.
I am considering to export cs stuff in 0.8.5: is it a good idea ?

[2020-12-26 09:30] ntamas commented on #1586
CS can probably be exported; we already support linking to an external CS in 0.9.0 with CMake and as I recall we did not need to modify anything to make it work.

T.

[2020-12-26 12:41] jgmbenoit commented on #1586
Thanks for the reply. Indeed the exporting is easy.

[2020-12-26 15:40] szhorvat commented on #1586
As Tamás said, this is probably fine for CXSparse. However, please do not do it for any of the other libraries, and definitely do not do it without asking. It is not as easy as it looks. For example, CXSparse uses the random number generator, which means that normally it would need to be modified to use igraph's own RNG (if you look in the sources, it *is* modified). It could be externalized only

[2020-12-26 16:26] jgmbenoit commented on #1586
I suspected something like that. Hence my question.

[2020-12-27 13:19] jgmbenoit commented on #1469
Actually the issue is still there. The test randomly failed.

[2020-12-27 13:24] jgmbenoit commented on #1469
In the related igraph code in src/centrality.c, I can see a RNG_BEGIN/RNG_END blocks: is there a way to get the seed ? a set a seed ?How can we check the RNG_ machinery ?

[2020-12-27 13:42] szhorvat commented on #1469
To set the seed in a test, add this at the beginning:

[code]

`42` is the seed.

----

You are right that the starting vector for ARPACK is set with a tiny random perturbation, and this might be responsible for the erratic behaviour. However, the result is grossly wrong in a way that can't be explained by the use of randomness here. Something is wrong on that platform, most likely not in igraph b

[2020-12-27 13:58] jgmbenoit commented on #1469
The failures continue to be random.

[2020-12-27 14:19] jgmbenoit commented on #1469
Is there an easy way to get the entities actually send to arpack ?

[2020-12-27 14:20] szhorvat commented on #1469
Thanks for checking! You mean that even after setting a seed, the failures are non-deterministic, right?

[2020-12-27 14:27] szhorvat commented on #1469
I have to say that I'm not experienced with ARPACK, and only looked into it when trying to debug this.

The relevant function is `igraph_arpack_rssolve`, which calls ARPACK's `dsaupd` to find the leading eigenvector/value of a real symmetric matrix.  ARPACK does not use the matrix explicitly. Instead, it wants a function that can multiply a given vector with the matrix. For this problem, the funct

[2020-12-27 14:29] jgmbenoit commented on #1469
We want some simple arpack code that may produce the issue.

[2020-12-27 14:30] jgmbenoit commented on #1469
Concerning the seed, I meant exactly that.

[2020-12-27 14:52] szhorvat commented on #1469
First, try this in Octvate:

[code]

All elements of `v` should be non-zero and identical (except for the first, which is larger).

[2020-12-27 15:01] jgmbenoit commented on #1469
I am not familiar with octave. So I just enter the data blindly. The result on my amd64 laptop and the mips64el porter are the same.

[2020-12-27 15:06] jgmbenoit commented on #1469
I have some experience with BLAS material from GSL. I thought it would be something similar with ARPACK.

[2021-01-04 12:16] tillea commented on #1469
I admit I have no idea what to do with the Debian package.  No matter whether the issue is in ARPACK or not - the test fails on one release architecture currently and thus igraph is not migrating to the next Debian stable release.  Do you have any suggestion what should be done?

[2021-01-04 12:34] ntamas commented on #1469
I'm not sure whether this is the best course of action, but probably the one that takes the least effort, so I thought I'd bring it up. The failing test cases all belong to the "spectral coarse graining" functionality of igraph. This is a fancy algorithm whose aim is to reduce the size of a graph while keeping its spectral properties (eigenvalues / vectors of the adjacency matrix etc). It is not p

[2021-01-04 12:37] jgmbenoit commented on #1469
I am planning to try to isolate further the issue on the mips64el porter soon. I just need time before me. Once isolated furhther, I would be time to make a decision.

[2021-01-04 12:45] tillea commented on #1469
On Mon, Jan 04, 2021 at 04:38:12AM -0800, Jérôme Benoit wrote:

Thanks for working on this.  While I think the `--without-scg` on mips64el is an appropriate solution for the issue I'm fine with any solution you might come up.  The only thing that is a bit unfortunate is that this issue is closed.  Thus our automatic tracker for the Debian bug does not work.
Kind regards, Andreas.

[2021-01-04 12:49] ntamas commented on #1469
@jgmbenoit Do you have a rough estimate about when you can investigate this further on `mips64el`? Adding the `--without-scg` option and then making a new patch release would not take more than a few hours for me so if you don't have time for this in the near future, I'm happy to proceed with the `--without-scg` option for the time being, some time this week, and then we can get back to this later

[2021-01-04 13:32] jgmbenoit commented on #1469
Let adding this option so that I do not feel under pressure. The best idea would be a new release in order to not confuse the end users.

[2021-01-04 13:37] szhorvat commented on #1469
This failure is not in SCG but in the eigenvector centrality computation.

[2021-01-04 13:38] szhorvat commented on #1469
A possible (and potentially much easier) solution is to try to build igraph with the bundled ARPACK and see if that fixes the issue. Additionally, this would make igraph thread-safe. Is this an acceptable solution for Debian?

[2021-01-04 13:42] jgmbenoit commented on #1469
I can try this and see. Concerning Debian, one simple solution is to remove support for the mips64el arch (temporarily).
For now, I guess that the best is to isolate the issue.

[2021-01-04 14:13] tillea commented on #1469
On Mon, Jan 04, 2021 at 05:38:21AM -0800, Szabolcs Horvát wrote:

Per Debian policy code copies should be avoided and we have even way to
much code copies which is a huge burden for the security team who needs
to track down all these while beeing understuffed.  So I would really
be in favour of other solutions (efen disabling mips64el architecture
would be a better approach.

Do you see any way to

[2021-01-04 15:06] ntamas commented on #1574
Phew, I started thinking about this, but I had to realize that this is going to be pretty subjective. I propose sorting the `.c` files in `examples/simple` by size in descending order, and then to start processing the list from the top. The reasoning is that files that are large are more likely to be tests than real examples. Ideally, we should limit ourselves to including small examples in the do

[2021-01-07 16:34] szhorvat opened #1590 "Default RNG's state is not thread local"
The default RNG's state is not thread-local despite the misleading IGRAPH_THREAD_LOCAL qualifier here:

https://github.com/igraph/igraph/blob/develop/src/random/random.c#L500

Notice that it references `igraph_i_rng_default_state`, which is not thread local:

https://github.com/igraph/igraph/blob/develop/src/random/random.c#L482

It cannot be made thread-local in a straightforward way because its

[2021-01-08 13:48] szhorvat opened #1591 "Hub and authority score calculation has no tests"
`igraph_hub_score` and `igraph_authority_score` are not exercised anywhere within the tests (either directly or indirectly).

Fix #1424 before fixing this.

[2021-01-08 14:22] szhorvat opened #1592 "Public functions that are never used/tested"
This is a list of public non-deprecated functions that are never used either directly or indirectly in the main codebase or the tests/examples.

Tests should be written for some of these functions.

If you are looking to contribute to igraph, fixing some of these is an easy way to get started. If you are unsure which one to take, just ask.

 - [ ] igraph_adjlist_fprint
 - [ ] igraph_inclist_print

[2021-01-09 11:04] GroteGnoom commented on #1592
I would like to work on this. I looked at `igraph_st_mincut`, which only calls `igraph_maxflow`, which is already tested via `igraph_maxflow_value`. But the resulting cut is not actually checked there.
Shall I add an output test of the cut in examples/simple ?

I just started at the sort-of top of the list, so if there are other tests which are a better starting point, please tell me.

[2021-01-09 11:25] szhorvat commented on #1592
@GroteGnoom Certainly, you can get started with `igraph_st_mincut`. Be sure to work on the `develop` branch ([instructions to compile](https://igraph.discourse.group/t/draft-document-for-installation-with-cmake/504))! There are two options:

 - Add an _example_ in `examples/simple` which will be included in the documentation. This should be simple and educational.
 - Add a _test_ in `tests/unit` w

[2021-01-09 12:19] GroteGnoom opened #1593 "Cmake target check fails on @VERSION@"
**Describe the bug**
After
```cmake --build . --target check```
Cmake fails with:

(dot)
[code]

(gml)
[code]

(cattributes2)
[code]

[code]

**To reproduce**
Follow the instructions here:
https://igraph.discourse.group/t/draft-document-for-installation-with-cmake/504

**Version information**
48886a514eb424c333d21cdf860be6d41a11094
The current develop version.
cmake version 3.16.3

[2021-01-09 12:27] szhorvat commented on #1593
I can't reproduce this on macOS with CMake 3.19.2.  Are you sure you are using a clean source tree? Please try a `git clean -fdx`. That 0.8.5 doesn't look right: it should be showing `0.9.0-dev+48886a51` in the `cmake .. ` output.

[2021-01-09 12:52] GroteGnoom commented on #1593
Yes, `git clean -fdx` on the igraph root fixed it.

[2021-01-09 12:52] #1593 closed

[2021-01-11 11:01] GroteGnoom commented on #1592
I made a wiki addition about adding tests here:
https://github.com/GroteGnoom/igraph/wiki/Adding-tests
But you can't really do wiki pull requests, and I also can't add new topics to the `discourse`. What's the right way to add things to the wiki?

[2021-01-11 16:05] szhorvat commented on #1592
Thanks so much for this! It's fine this way, and feel free to keep working on this wiki page. What I originally meant was that I would create the wiki page based on your feedback, but this is a perfect start. If it needs fixes, we can always edit and polish it later.

That is unexpected. Can you open a new GitHub issue for that (for lack of a better discussion space) and describe what happens when

[2021-01-12 13:20] vtraag commented on #1560
OK, I now identified some problems. `igraph_vector_min` (and presumably some other functions) will return `nan`. Hence, checks on positivity for example do not work correctly when `nan`'s are involved.

There is then a question on what counts as valid input. Should we allow positive weights with occasional `nan`? Or should we not allow `nan` at all? As you can see from the results above, the algor

[2021-01-12 13:27] szhorvat commented on #1560
Please don't make changes to `vector_min` or `vector_min`'s usage until the harmonic centrality PR is merged.

[2021-01-12 13:51] vtraag commented on #1560
No, I think that making changes to `igraph_vector_min` would not be the right direction. There are some other ways of checking the negative entries though, perhaps doing it manually. I am not sure yet of the best approach. For now the question is, do we want to allow `nan` values or not?

[2021-01-12 14:21] szhorvat opened #1599 "igraph_is_same_graph: a function that checks if two graphs are the same"
**What is the feature or improvement you would like to see?**

Detect if two graphs are the same, i.e. have the same vertex and edge sets. This is not the same as isomorphism.

`1-2-3` and `1-3-2` are isomorphic but not the same (edge sets differ).

`1-2-3` has potentially multiple representations, e.g. `1-2, 2-3` or `2-3, 1-2` (different edge order). The function should detect that these are the

[2021-01-12 14:35] szhorvat opened #1600 "igraph_residual_graph and igraph_reverse_residual_graph are not documented"
`igraph_residual_graph` and `igraph_reverse_residual_graph` are public functions that are not documented. It should be verified that they work correctly, and they should be documented.

[2021-01-13 00:16] iosonofabio commented on #1599
I'd be happy to implement this, it seems easy enough. It is a little more tricky is you also want to check all vertex and edge attributes, but still should be doable.

[2021-01-13 08:13] szhorvat commented on #1599
Thanks @iosonofabio.  Can you first please write a purely topological version that ignores any attributes? This is what I was looking for.

Additionally, it would be useful to have a function that canonicalizes the representation (i.e. makes it possible to directly compare two instances after both were canonicalized). Let me know if you want to tackle this related problem at the same time or leave

[2021-01-13 08:35] iosonofabio commented on #1599
Ok no attributes for now. Just to make sure, all we have got to do is:

- check the number of vertices and edges is the same
- check both graphs are directed/undirected
- for loop over edges and check that source/target of each is the same

If all pass return true, else false

That correct?

On Wed, Jan 13, 2021, at 19:14, Szabolcs Horvát wrote:

[2021-01-13 08:47] szhorvat commented on #1599
Yes, having that as a simple first function would be really great!

[2021-01-13 08:49] szhorvat commented on #1599
Sorry, scratch what I wrote.

This is not correct.

If we compare the edge lists, they need to be sorted first. That's the main point. But that is not the only possible way (and not necessarily the most efficient way—but I wouldn't worry about that for now).

If we have two graphs, one with edge list `1-2, 2-3`, the other with `2-3, 1-2`, they are the same graph, but we can't just loop over edges

[2021-01-13 09:00] iosonofabio commented on #1599
That was my question. But I guess if the main goal of this function is tests, e.g. two functions giving the same graph, we might actually want the order of edges to be exactly the same. In other words, same edge id requires same source and target.

So it sounds like we need two functions, one for topological equivalence and one for additional equivalence for every edge id. Each test can use either

[2021-01-13 09:03] szhorvat commented on #1599
Testing that the *representations* are the same is trivial. In tests, one can often just print the graph. IMO there is no need to have a function for this.

The challenge is to test that two graphs are the same even if they don't have the same representation. This is what we need a function for.

[2021-01-13 12:22] vtraag commented on #1599
Note that the edges are already sorted internally in the current representation of `igraph_t`. If we consider this `igraph_is_same_graph` to be an "internal" function, i.e. which is part of the `igraph_t` API, we can easily check this by looking at this sorted order (i.e. `oi` and `ii`). Alternatively, you can simply check all the neighbours of each node (which amounts to using `oi` and `ii` inter

[2021-01-13 12:53] vtraag opened #1602 "Cannot copy code from examples in online documentation"
**Describe the bug**
When I try to copy code from the examples provided in the documentation, the block containing the example code folds back in again. This prevents me from copying example code.

**To reproduce**
Open any documentation page that contains an example (e.g. https://igraph.org/c/doc/igraph-Basic.html). Open the example (e.g. Example 4.1) by clicking on it. Now when trying to copy co

[2021-01-13 13:17] ntamas commented on #1602
This is now fixed :)

[2021-01-13 13:17] #1602 closed

[2021-01-14 13:58] GroteGnoom commented on #1592
igraph_write_graph_lgl can be crossed off the list because of #1601

[2021-01-14 17:00] szhorvat opened #1606 "erdos_renyi_game: random test failure"
**Describe the bug**
In one of the test runs, Address Sanitizer found a leak in `igraph_erdos_renyi_game()`

https://dev.azure.com/igraph-team/igraph/_build/results?buildId=201&view=logs&j=4c3a8381-b9de-5463-904f-918810769be8&t=a906eab8-d2a3-5e54-d199-606dbbfb0805&l=132

It is unclear if this is a false positive. The test does not currently set a random seed, so it *may* be real.

**To reproduce**

[2021-01-14 18:59] szhorvat commented on #1606
What I believe happened here is that the program exited either on line 113 or 117. It would have exited with code 77, which indicates "skip test". I am not sure why this is done here, but it does not seem right to me. It was done in this commit:

https://github.com/igraph/igraph/commit/e197f9dc29f012f70c82a11ee210fd78fb0c8019

Now the problem is that due to early exit, the leak sanitizer kicks in

[2021-01-14 19:28] #1606 closed

[2021-01-14 19:32] szhorvat commented on #1606
Many of the existing tests use `if (this_is_not_okay) return 1; if (that_is_not_okay) return 2;`  If these fail, the leak sanitizer will also start complaining in many cases, masking the true cause of the failure.

It is much better to use `assert(this_is_okay); assert(that_is_okay);`. `assert` exits with `abort` and will prevent the leak sanitizer from kicking in. More usefully, when things fail,

[2021-01-14 20:53] iosonofabio commented on #1606
Thanks @szhorvat for this digging. It is good to know the best practice with this. In the `same_graph` function I started using:

[code]

pretty much everywhere.

[2021-01-14 20:56] ntamas commented on #1606
Many of these tests were developed in the time when leak sanitizers were an oddity at best (I think we've only had `valgrind` at that time and it was very hard to set it up properly), and we did not anticipate that most of our tests will be executed in the future with a leak sanitizer that loudly complains if we don't free something properly.

I think that the most important case is that we should

[2021-01-14 20:59] ntamas commented on #1606
@szhorvat The `return 77` was probably there because there is still a small but nonzero probability that the Erdos-Renyi generator does not generate a full graph even with such a high edge probability. I agree that a better solution would be to generate another graph if this happens.

[2021-01-15 12:51] szhorvat commented on #1599
Fixed by #1604.

[2021-01-15 12:51] #1599 closed

[2021-01-16 11:02] szhorvat opened #1608 "Code coverage report creation is broken"
**Describe the bug**
Trying to create a code coverage report results in an error.

**To reproduce**
[code]

At the end of the process, I see the error:
[code]

**Version information**
45895c7e4a56a64d0efb74aa08bb4e15dc29e927

[2021-01-16 17:45] ntamas commented on #1608
I need more information about how to reproduce it as it works completely fine on my machine; I get something like this:

[code]

The `coverage.base` file that you are missing contains ~150K lines in my case.

[2021-01-18 12:57] szhorvat commented on #1373
This is now implemented (#1583) and will be part of the 0.9, planned for later winter.

[2021-01-18 12:57] #1373 closed

[2021-01-18 23:26] ntamas commented on #1575
Phew! I think it's done; the structure is much better now.

[2021-01-18 23:26] #1575 closed

[2021-01-18 23:41] ntamas commented on #1521
Fixed all the function prototypes explicitly listed in the issue description. @szhorvat can you think of a structured way to find more of these prototypes before we close the issue?

[2021-01-19 10:10] szhorvat commented on #1521
I manually  checked all the tests that were marked as "internal". If any other than these used non-public functions, they would fail with the DLL build on Windows. Thus I am sure that there are no others.

I think this can be closed.

However, there are several *public* functions with `_i_` naming, and we should make a decision about what to do with those before 0.9.

[2021-01-19 10:24] ntamas commented on #1521
Moved the discussion about the `_i_` functions to Slack and closing this.

[2021-01-19 10:24] #1521 closed

[2021-01-19 10:24] #1262 closed

[2021-01-19 11:25] szhorvat commented on #1608
As discussed in chat:

While a sole `make coverage` did not work, `make` followed by `make coverage` did.

There is now a new wiki page with instructions on how to create coverage reports: https://github.com/igraph/igraph/wiki/Generating-test-coverage-reports

[2021-01-19 11:32] ntamas commented on #1608
Also, for the record: it seems like the CMake version is unrelated; the cause of the issue is that the `.gcno` files that hold structural information about the object files are not present until `make` is called. Furthermore, `make clean` does not clean them up so a `make && make clean && make coverage` sequence gives the false impression that `make coverage` works in a clean build dir while in fa

[2021-01-19 11:32] #1608 closed

[2021-01-19 15:52] szhorvat commented on #1497
This is basically complete, it just needs to be put on the website.

Currently, the `INSTALL` file points to the website. Therefore, we should archive the pre-0.9 instructions instead of completely removing them. In fact, it might not be a bad idea to have everything in the `INSTALL` file after all, just in case someone needs to come back to the old instructions 10 years from now ...

[2021-01-19 16:52] GroteGnoom opened #1614 "Code coverage fails on io/*-lexer.l not found"
**Describe the bug**
When generating code coverage, I get a

I used a clean build directory, and the type of lexer switches. Sometimes it's ncol, sometimes dl, sometimes pajek.
The file

does exist.

**To reproduce**
Follow the steps in
https://github.com/igraph/igraph/wiki/Generating-test-coverage-reports

**Version information**
The current develop version at 665d22206cfe46e03adb82c4a2096ab37f35

[2021-01-20 14:00] GroteGnoom opened #1618 "Barabasi aging game crashes on negative index from psumtree_search"
**Describe the bug**
A specific barabasi_aging_game call will crash.

**To reproduce**
[code]
This crashes with a double free/corruption on
`igraph_vector_destroy(&degree);`
or if I remove that, it crashes on the igraph_create, because of negative indices:
If I print the edges I get this:
`1 0 1 0 2 1 2 1 3 2 3 2 4 -1 4 -1`
which is because
`igraph_psumtree_search(&sumtree, &to, RNG_UNIF(0, sum));

[2021-01-21 11:16] GroteGnoom commented on #1618
Maybe this is a solution:
igraph_sumtree_update should return IGRAPH_EINVAL if new_value is negative.
igraph_barabasi_aging_game should use a IGRAPH_CHECK for the igraph_sumtree_update calls.

Additionaly, either igraph_sumtree_search should return IGRAPH_EINVAL when the search parameter is outside the range of zero to the root value of the tree, or it should always return -1 if the value is not f

[2021-01-21 12:36] ntamas commented on #1560
@vtraag Please update the checklist above now that #1617 is merged. Thanks!

[2021-01-21 13:01] szhorvat commented on #1171
Fixed by #1615.

[2021-01-21 13:01] #1171 closed

[2021-01-21 13:13] ntamas commented on #1614
Can you please try this?

[code]

The important part is the output of `VERBOSE=1 make coverage` -- I would like to know what arguments are passed to `genhtml` when the coverage report is about to be generated.

[2021-01-21 13:30] GroteGnoom commented on #1614
I think these are the calls:
[code]
[code]
[code]
Is that the info you wanted?

[2021-01-21 13:40] ntamas commented on #1614
Yes, thanks. For comparison, the output on my machine looks like this:

[code]

Clearly, the paths in `coverage.info` are probably wrong in your case, there is no file named `io/lgl-lexer.l` in the source distribution, only `src/io/lgl-lexer.l`.

Actually, I also had problems with these files on my machine, that's exactly why we are setting up the coverage analysis like this in `CMakeLists.txt`:

[2021-01-21 13:46] GroteGnoom commented on #1614
Allright, I'll try that!

[2021-01-21 13:54] pacalet opened #1619 "Broken link to PDF documentation of version 0.8.5"
**Describe the bug**
The [https://igraph.org/c/doc/igraph-docs.pdf](https://igraph.org/c/doc/igraph-docs.pdf) link to the PDF documentation for C/igraph 0.8.5 is broken.

**To reproduce**
Click on [https://igraph.org/c/doc/igraph-docs.pdf](https://igraph.org/c/doc/igraph-docs.pdf).

**Version information**
C/igraph 0.8.5, no need to obtain it.

[2021-01-21 14:31] ntamas commented on #1619
Thanks for the heads up. I have updated the homepage and it should be there now, but for some reason I'm still getting a 404 from Github Pages when visiting via the browser (but it works when I download it from the command line with `wget`). Maybe we just need to wait a bit more for the updates to propagate everywhere.

[2021-01-21 14:38] ntamas commented on #1619
In the meantime you can get the docs from [here](https://github.com/igraph/igraph.org/raw/master/docs/c/doc/igraph-docs.pdf).

[2021-01-21 17:16] szhorvat commented on #1170
There is no choice of heuristic that is best for all cases. It looks like in IGraph/M I went with FirstLargest as the default. According to the above benchmarks, it does very well on many graphs. I'll change the C core of igraph to that as well.

There are two places this affects igraph:

 - In `igraph_isomorphic`
 - In the documentation of the Bliss functions, where we can make a suggestion. I'll

[2021-01-21 17:33] szhorvat commented on #1170
Fixed by 12c4634c550578e058a653b94462c5d89a1c4049

[2021-01-21 17:33] #1170 closed

[2021-01-21 19:10] szhorvat opened #1620 "Redundant parameters in some random graph generators"
`callaway_traits_game`, `establishment_game`, `preference_game` all have both a `types` (number of vertex types) and `type_dist` (distribution of types) parameter. It is necessary that `types == igraph_vector_size(type_dist)`. Therefore, `types` is redundant—the number of types is already defined by the type distribution vector.

`asymmetric_preference_game` is similar, but it has a `type_dist_mat

[2021-01-21 19:21] szhorvat commented on #1620
Also, in the case of `asymmetric_preference_game`, it is unclear to me why it is enforced that the number of in-types and out-types be the same. In principle they could be different.

[2021-01-21 19:23] szhorvat commented on #1620
Regarding `igraph_preference_game` with `fixed_sizes` set, isn't this exactly the same as a stochastic block model?

[2021-01-22 11:28] szhorvat commented on #1586
Thinking about this, I am not in favour of trying to link to an external Bliss for the following reasons:

 1. It provides absolutely no benefits to users.
 2. It theoretically provides some benefits to us (developers) by making library upgrades easier, but this potential benefit is conditional on assumptions that might not hold, just as Bliss keeping a stable API (unlikely). At the moment, as the

[2021-01-22 11:36] szhorvat commented on #1620
`preference_game` does in fact allow for `type_dist` to be `NULL`, in which case it takes the distribution to be uniform. `callaway_traits_game`, `establishment_game` do not currently allow this in the C interface (only in R).

[2021-01-22 12:18] vtraag commented on #1620
Yes, that makes a lot of sense to me.

Yes, I agree.

[2021-01-22 14:07] GroteGnoom commented on #1620
It also seems to me like the callaway_traits_game is equal to the establishment_game (except for error handling).

[2021-01-22 16:05] szhorvat commented on #1620
There are three types of games based on "traits":

 - `callaway_traits`: In each step, add 1 vertex, then try adding edges between existing vertices `k` times (succeeding with probability based on their types).
 - `establishment`: In each step, add 1 vertex, then try adding edges between the just-added vertex and another ones (succeeding with probability based on their types).
 - `preference`: Fir

[2021-01-22 16:54] szhorvat commented on #1620
Here are the changes I want to make to these functions:

----

I would like to make `callaway_traits_game`, `establishment_game`, and `preference_game` more consistent with each other in how they use the `types` (no. of types) and `type_dist` argument. There are two reasonable choices:

 1. Remove the `types` argument since the number of types is already communicated by the length of `type_dist`.

[2021-01-22 19:55] szhorvat opened #1623 "tree_game test fails on Raspberry Pi"
**Describe the bug**
`tree_game` test fails on Raspberry Pi (32-bit) with the output `free(): invalid pointer`

**To reproduce**
Just run the tests as usual.

**Version information**
`develop` branch, 01dd666d1f2ec28c80d7e80c8cb8ce8d8b794a4c

[2021-01-22 20:21] szhorvat commented on #1623
It turns out that this happened only in Release mode because failed to change some uses of `assert` to `IGRAPH_ASSERT`, resulting in critical parts of the test not running when `NDEBUG` is defined.

Fixed by 0aa7fbab2a41433e81dd656b83d47a87392885a9

[2021-01-22 20:21] #1623 closed

[2021-01-22 21:24] ntamas commented on #1619
Seems to be okay now.

[2021-01-22 21:24] #1619 closed

[2021-01-22 22:17] ntamas commented on #1620
Going from top to bottom :)

Yes, that was the intention and I think it's pretty convenient if you can just pass in `NULL` as the `type_dist` and igraph creates an all-ones vector on its own. No need to allocate and initialize a vector and destroy it afterwards (or forget to destroy it and introduce a memory leak).

(This also implies that I would vote for option (2) in your comment).

Indeed.

Ye

[2021-01-23 10:38] szhorvat commented on #1620
The remaining question is then: Where do these models come from? What is a more reasonable naming for high-level interfaces? What references should we include?

[2021-01-23 15:09] ntamas commented on #1620
You have found the correct reference for the Callaway traits game. As for the establishment game; I have no idea :(

[2021-01-23 17:31] vtraag commented on #1560
Note to self: some other vector functions should also be checked still. Most notably `igraph_vector_(which)_minmax`, but perhaps also some others that should work correctly for NaN input still.

[2021-01-23 19:39] szhorvat commented on #1620
In the latest version of the R interface, `establishment` is called `sample_traits` and `callaway_traits` is called `sample_traits_callaway`.

[2021-01-25 11:15] ntamas commented on #1618
I think that a negative `deg_coef` does not make sense because this would mean that the _probability_ of odd-degree nodes receiving a new edge would be negative, and I can't quite wrap my head around negative probabilities. (I'd appreciate a confirmation here from @szhorvat or @vtraag ). So I think we are dealing with two issues here:

1. `igraph_barabasi_aging_game` should disallow negative value

[2021-01-25 11:45] szhorvat commented on #1618
I agree.

----

Let's spell out how it works:

In the standard (non-aging) game, the probability of connecting to a vertex is

    weight = degree ^ pa_exp + zero_deg_appeal

The aging version modifies this to

    weight = deg_coef * (degree ^ pa_exp + zero_deg_appeal)  +  age_coef * (age ^ age_exp + zero_age_appeal)

Thus, to guarantee that this value is non-negative, `deg_coef` and `age_coef` m

[2021-01-25 14:50] ntamas commented on #1618
This is now fixed in 1d422e68c

[2021-01-25 14:50] #1618 closed

[2021-01-25 14:59] ntamas commented on #1614
Okay, I've added `io/*.l` to the coverage excludes now. Please confirm that it solves the problem on your end and then I'll close this issue.

[2021-01-25 15:48] ntamas commented on #1497
I will put these on the website when 0.9 is released.

The only part that seems to be missing from the installation instructions is the MSVC part. Can anyone take the responsibility of writing that up? I still don't have a Windows machine that I could test on, although it would probably be time to get one...

[2021-01-25 15:53] szhorvat commented on #1497
I think the only difficulties are installing bison/flex, which will not be needed for the release package anyway. Otherwise the instructions should be the same. I'll take a look at this later.

[2021-01-25 15:54] szhorvat commented on #1497
Any opinions on also putting the instructions in `INSTALL`?

Motivation: At some point in the future someone might want to compile an old igraph version to reproduce something. The instructions from the website will be gone by then. It would be good to bundle the instructions with the release.

[2021-01-25 15:56] ntamas commented on #1497
They used to be there and then we moved them to the website :) But you are right, ideally the release should contain the installation instructions. One problem right now is that we need to duplicate the instructions in both places, but since hopefully we won't change them once the migration to CMake is complete, I'm okay with this one-time duplication.

[2021-01-25 16:28] GroteGnoom commented on #1614
make coverage now fails on
[code]
so I'm not sure.

[..]/igraph/examples/simple/test2.gxl is created, which seems strange.

[2021-01-25 16:41] #1614 closed

[2021-01-25 18:17] szhorvat opened #1628 "Edge betweenness test causes internal error in MSVC"
**Describe the bug**
Compiling the test with MSVC in Release mode crashes the compiler with fatal error C1001:

https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/fatal-error-c1001?view=msvc-160

**To reproduce**

[code]

results in

[code]

Line 105 of this file is actually just `int main() {` so I'm really stumped on this.

**Version information**

`cl /?` says version 19.28.2

[2021-01-26 08:46] szhorvat commented on #1628
It is the very long `igraph_small` that causes the problem. It seems MSVC chokes on the large number of arguments.

[2021-01-26 09:06] #1628 closed

[2021-01-27 12:56] GroteGnoom commented on #1592
#1622 fixes rewire_directed_edges
#1625 fixes lastcit_game

[2021-01-27 15:42] vtraag opened #1633 "Randomize the Louvain algorithm"
**What is the feature or improvement you would like to see?**
At the moment, the Louvain algorithm (`igraph_community_multilevel`) is deterministic. Currently, all nodes are considered in the algorithm simply in the order of the node indices. However, it makes sense that this is randomized. At the moment, one always gets the same result for any graph, perhaps leading people to erroneously believe

[2021-01-27 15:47] szhorvat commented on #1633
We have `igraph_permute_vertices` to change the node order and `igraph_vector_shuffle` and `igraph_vector_init_seq` to generate a random permutation, so it's easy to do it at least in a naive way (probably there's a better/faster way to achieve the same outcome by changing the internal workings of `igraph_community_multilevel`).

[2021-01-27 15:50] vtraag commented on #1633
The implementation is straightforward, I just don't have time to do it now, so I created the issue instead.

[2021-01-27 18:45] ntamas commented on #1633
Worth to mention that the label propagation algorithm already uses randomization.

It might also be helpful to provide a function that simply takes a list of clusterings for the same graph and attempts to provide a consensus clustering.

[2021-01-27 22:04] szhorvat commented on #1633
This is an interesting reading regarding that: https://www.nature.com/articles/s41598-019-50739-3

[2021-01-28 08:57] szhorvat opened #1634 "Several tests fail on Windows because of MSVC printf bug"
Several test fail on Windows, in short because of this printf bug: https://stackoverflow.com/q/65900619/695132

In short, `printf("%#g\n", 0.0)` prints one more digit with MSVC than other compilers. Note that this is almost certainly dependent not on the compiler, but the standard library.

Problem comes from here, we will likely need to change the testing code:

https://github.com/igraph/igraph/b

[2021-01-28 08:58] szhorvat commented on #1634
I'll post a list of failing tests when I get access to a Windows machine later.

[2021-01-28 12:27] ntamas commented on #1571
@szhorvat Do you see any occurrences where `igraph_(inclist|adjlist)_remove_duplicate` are being called? I can't find a single place in the codebase where they are being called now.

[2021-01-28 12:38] szhorvat commented on #1571
My IDE says that they are not used. But I still think that this capability should be added.

They used to be used, but they had problems, so we changed the functions that used them so that they would not call `remove_duplicates` anymore. As I remember, this was the eigenvector centrality. Generally, with spectral-style measures, as well as in some other cases, we need to decide which kind of adjac

[2021-01-28 12:49] vtraag commented on #1571
Whatever we settle on should also become a standard for other functions, one suggestion made here: https://github.com/igraph/igraph/issues/1193.

[2021-01-28 12:50] szhorvat commented on #1571
There is no one correct choice for duplicating or not duplicating entries. It is application-dependent. Previously, igraph's approach was to:

 - Always duplicate self-loops
 - Provide functions to remove duplicates

The problem is that duplicates cannot be removed from the adjlist. Just from an adjlist, one cannot tell if a vertex is self-adjacent twice because a self-loop was duplicated or becau

[2021-01-28 12:57] ntamas commented on #1634
Damn, I accidentally assigned this to myself and now I can't de-assign myself for some reason.

[2021-01-28 13:09] ntamas commented on #1571
Note that there are two things that you can still do:

1. If you _know_ that self-loops are always present twice, and that you haven't removed them already, then you can simply remove every second occurrence of a node in its own adjacency list and you are done.

2. `igraph_adjlist_remove_duplicate()` receives the whole graph as its argument so you can still decide even if you don't know whether se

[2021-01-28 13:13] szhorvat commented on #1571
No. I'm fine with whatever for as long as we get the possibility to control loop duplication in the constructor.

Just a reminder that this applies only in the undirected case.

Then for the lazy case, would you have two arguments, one controlling loops and one controlling multi-edges?

[2021-01-28 13:13] ntamas commented on #1571
The only problem is that we apparently have an unused enum in the public interface named `igraph_i_loops_t`, defined like this:

[code]

The enum itself is not used anywhere as a type, but its constants (i.e. `IGRAPH_NO_LOOPS` and `IGRAPH_LOOPS`) are. To make it consistent with @vtraag's proposal, we could rename `igraph_i_loops_t` to `igraph_loops_t` and define it like this:

[code]

Code that is

[2021-01-28 13:14] szhorvat commented on #1193
(CC @ntamas ) If we start using this in most functions where loops need to be controlled, one possibility is to make `IGRAPH_NO_LOOPS = 0, IGRAPH_LOOPS_1 = 1, IGRAPH_LOOPS_2 = 2`. This way it also effectively functions as a bool (loops: yes/no).

Just an idea, no strong opinions on this from me :-)

[2021-01-28 13:16] szhorvat commented on #1571
@ntamas I'm going offline now. If you do that, test with C++ (not C!) if the compiler freaks out about the duplicated value in the enum list.

[2021-01-28 13:16] ntamas commented on #1571
Either that, or to leave the current simplification argument as is, and when it is set to `IGRAPH_SIMPLIFY`, then we ignore the loop argument.

[2021-01-28 13:18] szhorvat commented on #1571
There are many good applications for simple-loopy graphs, i.e. one self-loop allowed, multi-edges not allowed. Thus it's useful to control multi-edges separately. (I don't have an immediate example for adjlist/inclist. I made this distinction in the degseq functions though.)

[2021-01-28 13:20] ntamas commented on #1571
Will do, but I'm pretty sure it will work. I have routinely used code like this in other C++ projects before:

[code]

the idea being that you can test the severity of a message by comparing it with the `CATEGORY_` placeholders (or by taking the two MSBs).

[2021-01-28 13:26] ntamas commented on #1193
FWIW I'm probably going to go for `IGRAPH_LOOPS_ONCE` and `IGRAPH_LOOPS_TWICE` unless there are objections, for sake of readability. (I mean, if we have `NO_LOOPS` instead of `LOOPS_0`, we should probably spell things out for all the constants).

[2021-01-28 13:30] #1208 closed

[2021-01-28 13:30] #1053 closed

[2021-01-29 09:00] vtraag commented on #1492
@szhorvat , I checked again building the current `develop` branch against the latest version of `suitesparse` from `vcpkg`, but I again run into the problem that the `.dll` is not copied to the build directory (when building a shared library obviously). You said that you did not run into this problem. Might that perhaps have been because you have been building a static library? If not, we will hav

[2021-01-29 09:04] szhorvat commented on #1492
That's probable. I'll try again and will let you know.

[2021-01-29 10:12] szhorvat opened #1636 "Write documentation for psumtree functions"
The `psumtree` functions should be documented.

https://github.com/igraph/igraph/blob/master/include/igraph_psumtree.h

[2021-01-29 15:17] szhorvat opened #1637 "Hook up HAVE_WORKING_ISFINITE to CMake"
`random.c` seems to have code borrowed from R and uses the `HAVE_WORKING_ISFINITE` macro, which will never be defined. We need to test for `isfinite` with CMake, set our own macro, and use it.

See e.g. https://github.com/igraph/igraph/blob/develop/src/random/random.c#L1536

[2021-01-29 17:20] jgmbenoit commented on #1469
I finally isolated the place where the issue emerges. It is indeed arpack issue.

In src/arpack.c in function igraph_arpack_rssolve the dsaupd_ loop works fine
in the sense that the loop keeps giving the same output when the random seed is fixed.
The issue emerges at the postamble of the loop, dseupd_ gives random output in the same conditions.
I will submit a bugreport to the debian maintainer of

[2021-01-29 17:52] tillea commented on #1469
On Fri, Jan 29, 2021 at 09:21:10AM -0800, Jérôme Benoit wrote:

Do you see any chance to provide a patch for arpack?  I could forward it to the Debian arpack maintainer.

[2021-01-29 17:54] jgmbenoit commented on #1469
I can extract a C code that reproduces the issue, but not a patch as I am not familiar with the arpack library.

[2021-01-29 18:26] szhorvat opened #1639 "PageRank: ARPACK and PRPACK results are different when self-loops are present"
**Describe the bug**
For a graph with self-loops, the ARPACK and PRPACK methods of `igraph_pagerank` return different results.

**To reproduce**
Illustration using the Mathematica interface:

[code]

<img width="142" alt="image" src="https://user-images.githubusercontent.com/1212871/106313008-d1721400-6267-11eb-9290-212e0a5f96a7.png">

[code]

**Version information**
Latest `develop` as of writing

[2021-01-29 18:45] szhorvat commented on #1639
A direct verification based on the formula from Newman's book gives the same result as PRPACK, not as ARPACK.

[2021-01-29 21:27] szhorvat commented on #1639
Fixed by afb6eb023736172335de2004a6b45d0b3442f3dc

[2021-01-29 21:27] #1639 closed

[2021-01-29 21:36] szhorvat commented on #1637
Fixed by c5fbeb8a24235e3f208aafbbec22645277dad23a

[2021-01-29 21:36] #1637 closed

[2021-01-30 06:37] jgmbenoit commented on #1469
A patch for arpack is the best path. I will give it a try.

[2021-01-30 06:41] jgmbenoit commented on #1469
Meanwhile, I have noticed `#if HAVE_GFORTRAN` ... `#else` ... `#endif` in src/arpack.c  but I could not figure out where `HAVE_GFORTRAN` is acually set. Is it dead code ?

[2021-01-30 07:11] tillea commented on #1469
On Fri, Jan 29, 2021 at 10:41:26PM -0800, Jérôme Benoit wrote:

I have no idea?  What about opening an according issue arpack upstream?

[2021-01-30 08:01] szhorvat commented on #1469
I believe this is used by the R interface of igraph (just like all the `#ifdef USING_R`). It is not dead code.

[2021-01-30 08:37] vtraag commented on #1469
Note also that `src/arpack.c` is part of `igraph` not of ARPACK (it provides the interface between `igraph` code and ARPACK). If there is any error in that part of the code, it should not be patched upstream but here in the `igraph` library.

[2021-01-30 09:00] jgmbenoit commented on #1469
@vtraag The error emerges after a call to dseupd_ which is an arpack function.

[2021-01-30 09:10] szhorvat commented on #1469
I believe @vtraag was responding to Andreas about the `HAVE_GFORTRAN` thing.

[2021-01-30 16:43] szhorvat opened #1641 "PageRank: ARPACK method sometimes fails and produces negative values"
**Describe the bug**
`igraph_pagerank()` with the ARPACK method sometimes fails, produces an eigenvalue that is not 1, and produces negative results or even non-finite values (not sure if NaN or Infinity).

**To reproduce**
This is easy to reproduce with fuzzing: create a directed random graph with at least 8 vertices, and run the function many times. Be sure to check if the eigenvalue differs fro

[2021-01-30 16:48] szhorvat commented on #1641
@ntamas I discovered this by finally implementing a warning in the Mathematica interface for when the eigenvalue is not 1, and fuzzing a bit to see if the tolerance I put in was good enough. If you don't already check this in the Python interface, it would be a good idea to do it ...

I chose to check allowing for up to 5 binary digits of difference, using `fabs(value - 1.0) > 32*DBL_EPSILON`. `32

[2021-01-30 17:26] szhorvat commented on #1641
The above test was with the vendored ARPACK. It also happens with an external ARPACK 3.8.0, but less frequently. However, the tolerance of 5 binary digits is not sufficient with the external ARPACK, and it also tends to run into convergence problems (ARPACK itself reports no convergence).

[2021-01-30 19:24] ntamas commented on #1469
My two cents: if `dseupd_` gives random output for the same input then it is most likely a bug in ARPACK, although it would be good to have an isolated test case that does not involve igraph. @jgmbenoit have you managed to produce such a test case, or do you need a hand with creating one? If you have submitted a bug report to ARPACK, can you add the link here so I can keep an eye on it?

Re the `-

[2021-01-30 20:41] szhorvat commented on #551
Reasons for moving away from ARPACK: #544, #1641 .

[2021-01-31 01:01] moldach opened #1643 "fatal error: gmp.h: No such file or directory #include <gmp.h>"
I'm getting a `gmp.h` error when trying to install `igraph` on `R`:

[code]

[2021-01-31 06:42] jgmbenoit commented on #1469
I am working a test case.

[2021-02-01 09:03] GroteGnoom commented on #1592
I am going to work on the communities, starting with igraph_compare_communities. Just for some variation :slightly_smiling_face:

[2021-02-01 22:11] ntamas commented on #1636
Fixed by 0424b8ccf

[2021-02-01 22:11] #1636 closed

[2021-02-02 18:37] jgmbenoit commented on #1469
I finally get a test case. I submitted the bug to the arpack[-ng Debian maintainer ([#981646](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=981646)). It is a regression as the test works for the previous package 3.7.0. It might be a gcc-10 or a arpack 3.8.0 issue, but not a numerical issue.

[2021-02-02 19:03] ntamas commented on #1469
Awesome @jgmbenoit , thanks a lot, we are very grateful for your work on this!

I'll keep an eye on the Debian issue.

[2021-02-03 16:33] jgmbenoit commented on #1469
I forwarded the issue to upstream: [#294](https://github.com/opencollab/arpack-ng/issues/294).
They are not willing to fix it. On my side, I have no idea to step forward. Any hint is welcome.

[2021-02-03 17:51] szhorvat commented on #1469
Wow, that response ... and after @jgmbenoit spent all those hours to track the issue down ... there are certainly less discouraging ways to say "no" ...

I am concerned about two things:

 1. What is needed for igraph to be included in Debian? Can you please clarify the rules? As I understand, the test failure was a problem.
 2. I don't want users to get broken software. In my opinion, the biggest

[2021-02-03 18:22] szhorvat commented on #1641
The result ARPACK returns here is not actually an eigenvector / eigenvalue pair at all. I am not sure why ARPACK won't detect the problem. I would have assumed that it attempts to verify it results.

[2021-02-03 18:34] szhorvat commented on #1469
I am wondering, since [ARPACK seems a bit unstable](https://github.com/igraph/igraph/issues/544#issuecomment-28630209), and since [sometimes it returns a completely wrong result](https://github.com/igraph/igraph/issues/1641#issuecomment-772719968) (not the wrong eigenvector, but something that is not an eigenvector), would it make sense to verify the result in cases like eigenvector centrality?

C

[2021-02-03 19:16] jgmbenoit commented on #1469
I am in favour of 1, namely, to remove igraph from the mips64el Debian distribution, at least temporarily (The issue can disappear as it appears). For a scientific software, it is reasonable. For a administrative software, it will be necessary to be able to build it (build + test + no serious issue) on  all the [architectures supported by Debian](https://wiki.debian.org/SupportedArchitectures). A

[2021-02-03 19:47] szhorvat commented on #1469
Thanks @jgmbenoit, sounds good!  Hopefully this can be re-evaluated when a new ARPACK version (or Fortran compiler?) comes out.

[2021-02-04 10:27] ntamas commented on #1469
I have never been really convinced that we are using ARPACK correctly and not missing something obvious. After all, Octave uses ARPACK and does not seem to double-check ARPACK's results either. (I've spent lots of time reading the C code of Octave when I was trying to track down ARPACK-related errors in igraph back in the old days).

Adding a check does not hurt (performance-wise) and it is simple

[2021-02-04 11:15] ntamas commented on #1641
Most of the examples that you have shown above have sinks or sources; the Arnoldi method might have a problem with these, although in theory it shouldn't of course. PRPACK works around this by decomposing the graph to strongly connected components, calculating the PageRank scores in each of them, and then using some clever math to merge the PageRank scores of all SCCs so the result is consistent.

[2021-02-04 11:32] szhorvat commented on #1641
Yes, that is absolutely necessary, to handle both zeros (relative tol doesn't work) and non-zeros (absolute tol not good).

Luckily, for PageRank we only need to test the eigenVALUE, as we know it should be one. So this function is fine.  In the Mathematica interface, I do not return the eigenvalue, but I added a check which show s warning if it differs from 1 in more than 5 binary digits (see the

[2021-02-04 11:34] szhorvat commented on #1641
To clarify, I was suggesting verifying ARPACK's result in other cases than PageRank, such as with eigenvector centrality.

[2021-02-04 16:12] szhorvat commented on #1301
@ntamas :

 1. Can you check if the Python interface uses any of these except `igraph_i_bfs`?
 2. What do we do with `igraph_i_bfs`? Do you want to rename it before 0.9 or leave as is for the moment?
 3. Do you want to rename `igraph_i_sparsemat_view` before 0.9 and if yes, can you do it?

[2021-02-04 19:31] ntamas commented on #1301
I think that `igraph_i_bfs()` should be renamed to `igraph_bfs_simple()` and exported. It is clearly useful as a simplified variant of `igraph_bfs()` when one only needs minimal information about the result of the traversal but does not need any of the more advanced functionality that `igraph_bfs()` offers.

`igraph_i_sparsemat_view()` will be dealt with soon; it will be exposed as `igraph_sparsem

[2021-02-04 20:10] ntamas commented on #1301
`igraph_i_sparsemat_view()` is now public in e7e8de3fe; `igraph_set_attribute_table()` is also public in 361fa0e01

[2021-02-05 11:32] szhorvat commented on #1582
@jgmbenoit A release candidate of 0.9 is planned not for next week, but for the week after. We're pretty close. It would be really great if you could test it and let us know about any problems Debian might have, or changes Debian might need. Since the build system has changed, there's a risk of things going wrong.

[2021-02-05 11:51] szhorvat opened #1650 "The packaged version cannot be built because of missing documentation source files"
**Describe the bug**
The packaged version ("`make dist`") cannot be configured / built because of missing documentation source files.

**To reproduce**

For completeness, I'm doing this on macOS with the Ninja generator.

In `build`,

[code]

There are a bunch of errors about missing XML files such as

[code]

These seem not to be included in the package.

[2021-02-05 11:52] szhorvat commented on #1650
@ntamas Would it be feasible (i.e. how much work would it be) to include the _already built_ HTML documentation into the source package? Since doc building requires lots of tools, this would actually be more useful than just copying over the missing xml files.

[2021-02-05 12:11] ntamas commented on #1650
Yes, I guess it's possible. What about the PDF documentation then, shall we also include that?

One thing that we should watch out for then is to prevent building a source tarball if `DOC_BUILD_SUPPORTED`, `HTML_DOC_BUILD_SUPPORTED` or `PDF_DOC_BUILD_SUPPORTED` is falsey in `doc/CMakeLists.txt`.

I'm wondering why `fdl.xml` is not copied into the source tarball. `etc/cmake/packaging.cmake` declare

[2021-02-05 12:15] szhorvat opened #1651 "Release timeline/checkist for 0.9"
Release candidate is planned for Feb 16 Tuesday.

----

Pre-release-candidate checklist:

 - [x] Complete changelog
 - [x] Make sure source package can be compiled on all platforms *without* bison/flex/git/diff.
 - [x] Update Mathematica and Python interfaces, run their test suites (preferably with address sanitizer and "verify finally" enabled).
 - [x] Final check for issue #1572
 - [x] Complete

[2021-02-05 12:33] szhorvat commented on #1650
It's not just `fdl.xml`, but _all_ `.xml` files. I only showed one of the error messages.

[2021-02-05 12:45] GroteGnoom commented on #1592
igraph_vss_adj only has a declaration, but nothing else, so I think its declaration and its mention here can be removed.

[2021-02-07 18:34] GroteGnoom commented on #1592
I'll take a look at the iterators next.

[2021-02-08 09:34] ntamas commented on #1571
This was implemented in the `feature/adjlist-inclist-loop-handling` branch, which is now merged.

[2021-02-08 09:34] #1571 closed

[2021-02-08 10:57] szhorvat opened #1654 "igraph_convergence_degree should be documented"
There is an undocumented but public and tested `igraph_convergence_degree` function. What does it do? This should be documented.

It is exposed through the Python interface, but not documented there either:

https://igraph.org/python/doc/igraph.GraphBase-class.html#convergence_degree

[2021-02-08 12:28] ntamas commented on #1301
`igraph_i_bfs()` is now renamed to `igraph_bfs_simple()` in 13c2ed6a5 and is now part of the public API.

[2021-02-08 12:28] #1301 closed

[2021-02-08 12:31] ntamas commented on #1582
`examples/simple/igraph_bfs_simple.c` was added to show a usage example for the newly exposed `igraph_bfs_simple()`. The former tests for `igraph_i_bfs()` were moved to `tests/unit/igraph_bfs_simple.c`. `examples/simple/igraph_bfs.c` will be sorted out soon to be more like an example and not a unit test.

[2021-02-08 13:03] ntamas commented on #1582
I have no idea what the `TODO` comment meant in `examples/simple/cattributes4.c`, but the entire function was unused. It was probably copied accidentally from `examples/simple/cattributes3.c` before it was completed there. Anyway, I've removed the entire function.

[2021-02-08 13:03] #1582 closed

[2021-02-08 14:26] #1650 closed

[2021-02-08 19:54] #1343 closed

[2021-02-08 19:57] szhorvat commented on #1255
Fix in 65f459a401e496c2e03e576bcfc347a9ec5afb15

[2021-02-08 19:57] #1255 closed

[2021-02-08 19:58] ntamas commented on #1255
Oh, nice :)

[2021-02-08 20:07] szhorvat commented on #1158
Noting that now we require from the compiler:

 - C++11 support
 - Partial C99 support, in particular C99 standard library support.

Suggested baseline is VS 2015 (i.e. compiler version 19.0). Links to docs are here: https://stackoverflow.com/a/48615212/695132  Note that VS focuses on C++: it has excellent C++ standards conformance, but tends to only support those C features which are required by

[2021-02-08 20:23] szhorvat commented on #1158
Added a note about language standards to https://github.com/igraph/igraph/wiki/Tips-on-writing-igraph-code  This resolves the problem in the original post above, so closing this (the discussion got a bit derailed). Re-open if you disagree.

[2021-02-08 20:24] szhorvat commented on #1413
Fixed by #1649.

[2021-02-08 20:24] #1413 closed

[2021-02-08 20:47] szhorvat commented on #183
Re-opening because non-simple graphs should be supported by this function. With the new adjlist/inclist constructor a fix may be easy.

[2021-02-08 20:50] szhorvat commented on #183
Actually, this function does not use adjlists, but `igraph_neighbors`. Supporting multigraphs in functions like these is an argument in favour of making either `igraph_neighbors` or an internal version of it have fine-grained self-loop controls (ignore, take once, take twice). The weighted version uses `igraph_incident`.

[2021-02-09 21:13] szhorvat commented on #1572
Easy way to check which files do not have `VERIFY_FINALLY_STACK` using bash:

[code]

[2021-02-09 21:16] szhorvat commented on #1572
Currently, these do not have it and do not need it:

[code]

[2021-02-09 21:16] #1634 closed

[2021-02-09 21:45] szhorvat commented on #1492
Yes, I used the static library.

[2021-02-10 10:08] RamySaied1 commented on #1577
I would like to work on this

[2021-02-10 10:35] szhorvat commented on #1577
Welcome! You will find guidance for getting started in the wiki: https://github.com/igraph/igraph/wiki Be sure to work on the `develop` branch. The first step is to learn [to build igraph](https://igraph.discourse.group/t/draft-document-for-installation-with-cmake/504). For general questions, you can use the forum at https://igraph.discourse.group/  As you go, please also verify that the documenta

[2021-02-10 12:11] ntamas commented on #1650
HTML docs are now in the tarball.

[2021-02-11 09:49] ntamas commented on #1497
As agreed in this morning's dev talk: most of the instructions will be moved to the user manual and the website will have a short "for the impatient" section only, with a link to the corresponding section of the HTML docs.

I'll convert the instructions to DocBook format.

[2021-02-12 11:13] ntamas commented on #1555
An easy fix would be simply to check for graphicality before calling the original VL method. Would that work?

[2021-02-12 11:37] szhorvat commented on #1555
Yes, I think so, haven't looked in detail yet ... we have an exceptionally efficient graphicality checker, the extra computational time spent on this is very likely negligible. :-)

[2021-02-13 09:26] #1577 closed

[2021-02-13 21:35] vtraag commented on #1491
I just retried to compiling with OpenBLAS  (version 0.3.10) from `vcpkg` using the latest development commit (bbd39f37ea55adb1f390eedc71a0a737f646fc9a). This results still in the previously identified test errors

[code]

However, there is one additional error however for the `edge_selector`, namely that `v_to` is being used without being initialized (I assume the same will hold for `v_from`). Thi

[2021-02-13 21:44] szhorvat commented on #1491
This is a warning, not an error. Since the function where they're used is unimplemented, it's really just a placeholder for a future test.

But why does it fail at runtime? Is there any additional output? This cannot be related to the uninitiailzed variables.

[2021-02-13 21:49] vtraag commented on #1491
It is really raised as an error, not a warning. I don't know why it is treated as an error on my system, and not on the CI. It might have to do with differences in VS version or defaults or something, not sure. I know the function is not implemented (that is what the test checks), but it would not be a problem to fix it by initialising `v_to` and `v_from`, would it?

[2021-02-13 21:50] vtraag commented on #1491
You are right, it is not related to this, it just happened to come up here as I was testing this.

[2021-02-13 21:51] szhorvat commented on #1491
I could just reproduce it here, in *release* mode even. This is a weird run-time check to do in release mode ...

[2021-02-13 21:51] vtraag commented on #1491
Yup.

[2021-02-13 21:53] szhorvat commented on #1491
I mean it would require serious instrumentation to even detect such a thing at runtime ... Anyway, we can init them to zero, easy fix as you said.

[2021-02-13 21:59] szhorvat commented on #1491
@vtraag CI didn't detect it because it was running in Release mode. In Debug mode, the Infomap test was timing out. I'll fix this and switch the CI over to Debug mode on Windows.

[2021-02-13 22:00] vtraag commented on #1492
I believe I solved the problem in `vcpkg`, I just pushed a PR: https://github.com/microsoft/vcpkg/pull/16210. Once it gets merged, this issue can also be closed.

[2021-02-13 22:07] vtraag commented on #1491
Hmm, perhaps I should double check as well then. I specifically reran, because I thought it ran in Release mode.

[2021-02-13 22:21] szhorvat commented on #1491
Which generator are you using?

[2021-02-13 22:26] szhorvat commented on #1491
With a multi-config generator, it should not print `Setting build type to 'Release'`. This is the responsible code:

https://github.com/igraph/igraph/blob/develop/etc/cmake/BuildType.cmake#L6

`CMAKE_CONFIGURATION_TYPES` should have a value with multi-config generators, so this code should never run.

[2021-02-13 22:37] vtraag commented on #1491
Using VS 16, 2019. Nope, `CMAKE_CONFIGURATION_TYPES` is not set, just double checked. We probably need to check it in some other way: [`GENERATOR_IS_MULTI_CONFIG`](https://cmake.org/cmake/help/latest/prop_gbl/GENERATOR_IS_MULTI_CONFIG.html) seems to be the way to go here?

[2021-02-13 22:46] szhorvat commented on #1491
I did think of that when I was looking at this code, and I _thought_ I checked that `CMAKE_CONFIGURATION_TYPES` was set here. I'll double-check tomorrow.

The CMake code, as we use it now, came directly from a CMake blog post, so I assumed they knew what they were doing ...

[2021-02-13 22:48] szhorvat commented on #1491
I wonder if `CMAKE_CONFIGURATION_TYPES` gets set only _after_ the `project` line ... that was ultimately the change I made, move this stuff before the `project` line to avoid `CMAKE_BUILD_TYPE` being set to `Debug` on Windows

[2021-02-13 22:51] vtraag commented on #1491
Yes, it probably has something to do with that. `GENERATOR_IS_MULTI_CONFIG` also does not get set in `BuildType.cmake`.

[2021-02-14 08:34] szhorvat commented on #1491
@vtraag Fixed: 6eef2e7ca93bbf9a43ede59aaf40fba0343b363e

[2021-02-14 09:37] szhorvat commented on #1491
Regarding the "being used without being initialized" runtime error:

This is cause by the `\RTC` flag which CMake adds to the Debug build by default. [See the MSVC docs](https://docs.microsoft.com/en-us/cpp/build/reference/rtc-run-time-error-checks?view=msvc-160)

I enabled Debug mode on the CI, only for the static build, to see how it would fail. Well, it seems to effectively hang, without any in

[2021-02-14 10:13] szhorvat commented on #1491
OK, I'm setting the Windows build with RelWithDebInfo mode, as apparently that will just print errors to the terminal, while Debug mode will keep popping up dialog windows: https://github.com/dotnet/llilc/issues/584#issuecomment-103956713

[2021-02-14 10:41] szhorvat commented on #1491
`igraph_sparsemat5` and `igraph_arpack_rnsolve` shouldn't even be using BLAC/LAPACK (should they?) so why do they fail?

[2021-02-14 16:34] szhorvat commented on #1491
@vtraag I rewrote the sparsemat5 test so we can actually see what is happening, please pull the latest version. It seems that the eigenvector returned by `igraph_sparsemat_arpack_rnsolve` is twice larger than what is "expected". I.e., it is correct, as constant factors don't matter, but I don't know why it would get multiplied by 2, and I don't know if `rnsolve` is supposed to give any guarantees

[2021-02-15 10:40] ntamas commented on #1491
ARPACK itself usually offers no guarantees about normalization as far as I know, so we should either normalize the vector in the test case, or add normalization to `igraph_sparsemat_arpack_rnsolve()` instead.

[2021-02-15 11:26] szhorvat commented on #1491
I would be careful here.

I tested with the internal ARPACK, so it is not ARPACK itself that was responsible for the change. This ARPACK function seems to use BLAS in some minor ways, so it is understandable that changing the BLAS changed the result. But this happens only on Windows. It does not happen on macOS/Linux (used the same OpenBLAS version on macOS). Something is fishy here.

[2021-02-15 22:09] szhorvat opened #1666 "community_spinglass returns empty membership vector for singleton graph"
**Describe the bug**
`community_spinglass` returns empty membership vector for singleton graph. Since the graph has one vertex, the membership vector should have length 1.

**To reproduce**
For example, in R:

[code]

**Version information**
Persisting up to current `develop`.

[2021-02-15 22:36] #1666 closed

[2021-02-16 13:21] ntamas commented on #1497
Installation instructions are moved to the manual; website updated, waiting for deployment. I consider this issue as done now.

[2021-02-16 13:21] #1497 closed

[2021-02-16 13:22] ntamas commented on #1492
Okay, that's great. I'll remove this issue from the 0.9.0 milestone so we can close the milestone after the release.

[2021-02-16 15:02] #1590 closed

[2021-02-16 15:39] szhorvat commented on #1651
0.9.0 is out in lieu of a release candidate.

@jgmbenoit Let us know if there are any issues from Debian, and if yes, 0.9.1 can follow shortly.

@jannick0 Same for MSYS2, let us know if there's any trouble.

[2021-02-16 16:47] szhorvat commented on #1651
Installation instructions are at https://igraph.org/c/doc/igraph-Installation.html

[2021-02-16 18:24] jgmbenoit commented on #1651
Thanks for your message. Debian is currently freezing in view to release Bullseye soon. I will stick to version igraph 0.8.5 for Bullseye. When I have time before me, I will bring versions 0.9 to Debian but for the release after Bullseye, namely Bookworm. Cheers.

[2021-02-17 15:17] limburgher opened #1672 "Incorrect solib installation path"
I maintain the Fedora igraph package. I'm attempting to upgrade to 0.9.0, which means changing to the cmake build system. This seems mostly to work, except that libigraph.so and libigraph.so.0 are being placed in /usr/lib, rather than /usr/lib64. I've tried passing -DLIBDIR to no avail. Is there a bug or am I doing it wrong? :)

[2021-02-17 15:22] ntamas commented on #1672
Hmmm, good question. Ultimately it is CMake's job to know where the libraries should go, and it seems like it defaults to putting them in `${CMAKE_INSTALL_PREFIX}/lib`, where `${CMAKE_INSTALL_PREFIX}` is `/usr`.

Try passing `-DLIB_SUFFIX=64` and/or `-DLIB_INSTALL_DIR=/usr/lib64` to the initial call to `cmake` and see whether it helps. I'll also try to check it on my machine to see what can be don

[2021-02-17 15:26] ntamas commented on #1672
Some more info: we use the `GNUInstallDirs` CMake module to tell CMake how to figure out where to install things. The documentation of that module, along with the configuration variables that it supports, is [here](https://cmake.org/cmake/help/latest/module/GNUInstallDirs.html). This is the place you need to poke around if you want to override the defaults.

[2021-02-17 15:56] limburgher commented on #1672
Hmm, not working for me. I'm using our %cmake macro, and it results in this line:
 /usr/bin/cmake -S . -B x86_64-redhat-linux-gnu -DCMAKE_C_FLAGS_RELEASE:STRING=-DNDEBUG -DCMAKE_CXX_FLAGS_RELEASE:STRING=-DNDEBUG -DCMAKE_Fortran_FLAGS_RELEASE:STRING=-DNDEBUG -DCMAKE_VERBOSE_MAKEFILE:BOOL=ON -DCMAKE_INSTALL_PREFIX:PATH=/usr -DINCLUDE_INSTALL_DIR:PATH=/usr/include -DLIB_INSTALL_DIR:PATH=/usr/lib64 -D

[2021-02-17 17:18] ntamas commented on #1672
Which version of CMake are you working with? (Mine is CMake 3.19.5). Is it complaining about any unused manually-specified variables after the initial `cmake` step? On my machine, I get this:

[code]

[2021-02-17 17:24] limburgher commented on #1672
3.18.4. Yes, exactly your list. Additionally, I've patched out include(version), so that it doesn't try to determine it's version from git, which fails on the rpm build environment.

[2021-02-17 17:59] szhorvat commented on #1672
Are you running it within a (subdirectory of a) git repo?

[2021-02-17 18:01] limburgher commented on #1672
Yes. The fedora packaging infrastructure uses git, one repo per package.

[2021-02-17 18:02] szhorvat commented on #1672
@ntamas It'd be good if we could sort out failures from running it within git repos ... It's bound to fail for someone else too.

[2021-02-17 18:09] szhorvat commented on #1672
@ntamas Should this `bin` and `lib` be `${CMAKE_INSTALL_LIBDIR}` and `${CMAKE_INSTALL_BINDIR}` instead?

https://github.com/igraph/igraph/blob/master/src/CMakeLists.txt#L444

[2021-02-17 18:22] ntamas commented on #1672
Well, we could make the presence of an `IGRAPH_VERSION` file in the root folder beat the presence of a `.git` folder so we would always use the version from `IGRAPH_VERSION` instead of trying to determine it from Git. Would that work for you @limburgher ?

Hmmm, yes, that's entirely possible. Let me test.

[2021-02-17 18:25] szhorvat commented on #1672
@limburgher Looking at your command line, I would strongly recommend specifying the configuration options explicitly instead of leaving them up to auto-detection. See [here](https://igraph.org/c/doc/igraph-Installation.html#igraph-Installation-notes-for-package-maintainers). I would also recommend building the shared library with link-time optimization enabled.

For reference, [these are the optio

[2021-02-17 18:27] ntamas commented on #1672
It worked! For what it's worth, the original version worked with static builds but not with shared ones for some reason, I'm not sure why. Anyhow, @limburgher, the [suggestion from @szhorvat](https://github.com/igraph/igraph/issues/1672#issuecomment-780745949) seems to work so you could go ahead and try that in your patch.

We are waiting for more feedback from package maintainers and then we will

[2021-02-17 18:38] szhorvat commented on #1672
@limburgher Another thing I noticed is the use of `-DCMAKE_C_FLAGS_RELEASE:STRING=-DNDEBUG`. Don't do this—it will replace the default compilation flags and thus disable all optimization and make the library slow ... I'd suggest leaving it at the default value, which is `-O3 -NDEBUG`.

[2021-02-17 19:19] limburgher commented on #1672
Looks like the above change worked, and I'll take a look at tuning the flags we pass. Thank you!

[2021-02-18 11:54] #1672 closed

[2021-02-19 12:23] szhorvat opened #1676 "Verify and improve tutorial"
The igraph tutorial ([here online](https://igraph.org/c/doc/igraph-Tutorial.html), [source file here](https://github.com/igraph/igraph/blob/master/doc/tutorial.xml)) should be reviewed:

 - Is it up to date?
 - Is it understandable by a newcomer?
 - Are essential points unexplained or missing?

Ideally, this should be done by someone who is new to using igraph, to get a fresh perspective. Thus, ma

[2021-02-19 12:42] szhorvat opened #1677 "community_to_membership dereferences possibly NULL membership argument"
**Describe the bug**
`igraph_community_to_membership` dereferences its `membership` argument when `membership == NULL` and `csize != NULL`. This will lead to a crash.

https://github.com/igraph/igraph/blob/develop/src/community/misc.c#L187

**Version information**
0.9.0

[2021-02-19 12:43] szhorvat commented on #1677
I see two ways to fix:

 1. When `csize != NULL` and `membership == NULL`, internally allocate a membership vector and use that
 2. Simply disallow this combination, i.e. throw an error when `csize` is requested but `membership` is not.

I prefer 2.

[2021-02-19 13:01] vtraag commented on #1677
There is also option 3: remove the `csize` argument from this function. Frankly, I would think that getting the sizes of the communities of the `membership` vector should be a separate function, e.g. `igraph_membership_csize`, which might be useful anyway. The funtion `igraph_community_membership` is primarily used to retrieve the actual membership from a dendogram, the `csize` is something that i

[2021-02-19 13:04] ntamas commented on #1677
If we want to fix this in 0.9.1, this would be an API breakage. But in general I agree with @vtraag -- getting the cluster sizes should be a separate function that can be applied to any membership vector. I can hardly imagine a community detection function where one can determine the cluster sizes efficiently without maintaining a membership vector in parallel, so there's pretty much zero overhead

[2021-02-19 13:05] vtraag commented on #1677
Yes, indeed, depending on our choice here it would be for 0.9.1 or for 0.10.

[2021-02-19 16:50] szhorvat opened #1679 "Tutorial example programs should be run with tests"
[The example programs from the tutorial](https://igraph.org/c/doc/igraph-Tutorial.html) should be directly included from external files which are run with the other tests. This way we can avoid these programs breaking when we make API changes (as it happened). By running them through source-highlight, we can also get documentation links.

[2021-02-20 09:06] vtraag commented on #1677
I am re-opening this to still fix it by removing the `csize` argument in 0.10.

[2021-02-20 09:47] szhorvat commented on #1677
That's really a different issue though. The title is very misleading now.

[2021-02-20 17:56] szhorvat opened #1682 "Build fails with newer flex/bison versions"
**Describe the bug**
With the flex/bison versions included with macOS 10.14, the build succeeds. But if I install newer versions, then it fails because of the unused `yy_fatal_error` function.

For example:

[code]

**To reproduce**
Build igraph with these or later versions:

[code]

[2021-02-20 17:57] szhorvat commented on #1682
Treating unused static functions as error has been bothering me for a while (and I had to comment out potentially useful internal functions because of this).

Any objection to disabling this warning globally @ntamas @vtraag ?  If you don't want to do this, then I disable it for the parsers.

[2021-02-20 20:14] ntamas commented on #1682
Well, we definitely need to turn these warnings off for generated code -- we cannot take responsibility for whatever code the generator puts there, so I'm okay with that.

As for turning off the warning in full -- I'm not so happy about that. For me it's just like the "unused import" warnings in higher-level languages like Python or JS, they warn me about potential extra stuff that used to be usef

[2021-02-21 09:11] szhorvat commented on #1682
Can you please fix this? Using `target_compile_options` on `parsersources` gives ` target_compile_options called with non-compilable target type`. We need something like:

[code]

----

In most cases these functions make sense in context. Try this to see some of them:

[code]

Commenting (`#if 0 ... #endif`) if probably better.

Not sure in what sense you use "linked", just noting that the compile

[2021-02-21 12:47] szhorvat opened #1683 "Add limited cross-compilation support, in order to better support Apple Silicon"
With Apple's transition from Intel to Arm, and their encouragement to build "universal binaries", there is going to be increased demand for cross-compilation. Whenever building a universal binary on macOS, we are effectively cross-compiling. Several package repositories will also want to cross-compile for Arm Macs (Anaconda does this, MacPorts does not—it natively compiles arm64 packages on Arm sy

[2021-02-21 12:53] szhorvat opened #1684 "community_to_membership: separate membership and community size computations"
`igraph_community_to_membership` takes a set of merges, and output:

 1. a membership vector
 2. community sizes

These are two separate operations which should be separated into two distinct functions, as discussed in [this comment](https://github.com/igraph/igraph/issues/1677#issuecomment-782060134).

In fact, the current function does step 1 first, and then does step 2 (which depends on the res

[2021-02-21 12:53] szhorvat commented on #1677
Continued in #1684.

[2021-02-21 12:53] #1677 closed

[2021-02-21 13:03] szhorvat commented on #1683
I looked briefly into whether we could generate `arith.h` using CMake's facilities instead, but it seems that CMake also determines the relevant information (such as [endianness](https://cmake.org/cmake/help/latest/module/TestBigEndian.html)) by running (not just compiling) an executable on the current system.

[It looks like CMake is receiving improvements regarding this in the upcoming version](

[2021-02-21 18:52] vtraag opened #1686 "Test fail for shared library on Windows"
**Describe the bug**
After successfully building `igraph` using CMake, all tests fail, presumably because the library cannot be found. This problem only appears on Anaconda. See https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=280259&view=logs&j=a70f640f-cc53-5cd3-6cdc-236a1aa90802&t=f5d15007-a01c-5ad8-c9ce-4d519d3b275f for a log of the failure.

**To reproduce**
I am stil

[2021-02-22 15:07] GroteGnoom commented on #1592
igraph_sparsemat_nonzero_storage is tested in #1680
all 6 rng functions are tested in #1675
igraph_progress_handler_stderr and igraph_set_progress_handler are tested in #1674
 igraph_layout_drl is tested in #1670
igraph_layout_graphopt is tested in #1668
igraph_layout_random_3d is tested in #1667
 igraph_arpack_unpack_complex is tested in #1660
igraph_lapack_dgetrs is tested in #1657

[2021-02-23 14:33] ntamas commented on #1682
@szhorvat this is your lucky day :) I have spent quite a bit of time trying to limit the warning to the generated parser sources only, but the amount of CMake code I had to write to achieve that was too big a price to pay for this. So I'll just turn off the warning globally.

[2021-02-23 14:34] #1682 closed

[2021-02-23 15:16] ntamas commented on #1683
Implemented support for providing an external `arith.h` file in 1077368

Is there anything else in the scope of this issue for the time being?

[2021-02-23 15:18] szhorvat commented on #1683
No, let's close it.

@vtraag Can you please try if cross-compilation for Apple Silicon works on Anaconda with this approach?

[2021-02-23 15:18] #1683 closed

[2021-02-23 15:21] szhorvat commented on #1651
@jannick0 I was wondering if you tried to update to igraph 0.9 in MSYS2. If there are any problems, do let us know, and we'll fix them before 0.9.1 (coming "soon").

[2021-02-24 08:34] vtraag opened #1694 "Some SCG tests fail on linux aarch64"
**Describe the bug**
Two tests fail when compiled on Linux aarch64. This is a build on Anaconda (`conda-forge`) using the following configuration:

<details>
<summary>Configuration</summary>

[code]

It links to blas `3.8 *netlib`, which is used as a stand-in package that can be replaced by MKL or OpenBLAS by a user, see `conda-forge` [documentation](https://conda-forge.org/docs/maintainer/knowled

[2021-02-24 08:35] vtraag commented on #1694
I will now first try to build the package with vendored libraries only.

[2021-02-24 09:55] vtraag commented on #1694
I can confirm that the problem is due to the external BLAS (netlib). @szhorvat, you have debugged some prior problems with SCGs. Do you have any suggestions? A simple possibility would be to simply build with the vendored BLAS / LAPACK.

[2021-02-24 21:39] szhorvat commented on #1686
Can this be closed now?

[2021-02-25 05:47] #1686 closed

[2021-02-25 10:33] #1679 closed

[2021-02-25 10:33] GroteGnoom commented on #1592
igraph_progress_handler_stderr and igraph_set_progress_handler can be crossed off the list.

[2021-02-25 12:49] szhorvat commented on #1592
Yes. It's good to prioritize. For example, I do not think that `igraph_adjlist_fprint` is very important.

It covers all of them.

----

I originally came up with this list by going through the headers and looking at which functions my IDE is complaining about that they are "not used". "Not used" here means that there was no call to them in the entire codebase.

This is a good starting point to de

[2021-02-25 12:50] szhorvat commented on #1592
Later I will add a `*` character next to a few of those functions in this list which I think would be nice to write tests for.  This is going to be somewhat subjective.

[2021-02-25 13:30] #1633 closed

[2021-02-25 13:37] GroteGnoom commented on #1592
Of course! :slightly_smiling_face: But much better than not prioritizing. You can also be 'conservative', but then at least skip testing things like [zeroin](https://igraph.discourse.group/t/the-unit-tests-thread/597/27).

Knowing priorities is definitely nice, also for issues in general.

[2021-02-25 21:13] #1555 closed

[2021-02-26 08:22] #1620 closed

[2021-02-26 08:27] szhorvat commented on #1455
My original ideas for this didn't work out, unfortunately.

[2021-02-26 08:27] #1455 closed

[2021-02-26 08:34] szhorvat opened #1702 "Documentation built on CI should be published immediately"
It would be useful to have the documentation of the dev version always available online. We already build the documentation on CI. This issue is to push the built documentation to a server immediately, as it gets built.

[2021-02-26 08:35] szhorvat commented on #1276
Continued in #1702.

[2021-02-26 08:35] #1276 closed

[2021-02-26 12:44] szhorvat opened #1706 "Lexicographic comparison of igraph_vector_t"
**What is the feature or improvement you would like to see?**
Two `qsort`-compatible functions that can do lexicographic comparison of `igraph_vector_(whatever)_t` objects. One should do it the standard way, the other should effectively consider the reverse of each vector.

**Use cases for the feature**
Canonicalizing the output of some functions, canonicalizing results in unit tests.

Why the rev

[2021-02-26 16:34] #1492 closed

[2021-02-26 21:39] vtraag commented on #1694
Closing, since the build in https://github.com/conda-forge/igraph-feedstock/pull/25 now passes on aarch64 with all external libraries. I do not know the exact cause for these particular failures. If they ever do resurface, we can always re-open the issue.

[2021-02-26 21:39] #1694 closed

[2021-02-26 21:57] szhorvat commented on #1694
Which version / which commit are you using on conda?

Shortly after 0.9.0 was released, I replaced all the `qsort` with `igraph_qsort` in the codebase, as `qsort`'s implementation is platform-dependent, and can in some cases lead to different results (when there are multiple equivalent sorting orders). The SCG stuff uses qsort extensively.

If you switched to a later commit, this could be the reas

[2021-02-27 07:06] vtraag commented on #1694
Conda only uses released version (which I patched for some building purposes, all of which are also in the `igraph` repository). There have been some changes with respect to package linking, perhaps that might have had something to do with it. In any case, I don't want to go back breaking things in order to try to reproduce the error again :)

[2021-02-27 14:03] vtraag commented on #1683
@szhorvat, I can confirm it works.

[2021-02-27 16:24] szhorvat commented on #1592
@GroteGnoom It looks like `igraph_transitivity_barrat` also suffers from assertion failures on the null graph. Are you planning to write tests for it within the upcoming days? If not, please let me know and I'll do it. If yes, please do this as well:

 - The "No weights given for Barrat's transitivity" warning should only be triggered if `no_of_edges > 0` (due to how some high-level interfaces wor

[2021-02-27 17:26] GroteGnoom commented on #1592
Yes, I'll do that one soon 🙂

[2021-02-28 18:29] szhorvat opened #1712 "igraph_diversity mishandles multi-edges"
**Describe the bug**
I believe `igraph_diversity` may be mishandling multi-edges (although I didn't read the associated paper).

**To reproduce**
In Python,

[code]

I believe the result should be either `[1,1,1]` or `[nan, 1, 1]` depending on interpretation.

I would expect the weights of the multi-edges to be added up. However, looking at the C code makes it clear that they are treated as if the

[2021-03-01 10:45] ntamas commented on #1712
For future reference, [this is the original paper](https://www.uvm.edu/pdodds/files/papers/others/2010/beep2010a.pdf) that the measure is based on. In the context that the paper is working (edges are mobile phone contacts, weight is total call volume), it makes sense to add up the weights. I guess the underlying C implementation does not handle multigraphs explicitly. If we go down this rabbit hol

[2021-03-02 15:19] GroteGnoom commented on #1706
I would like to work on this, can I be assigned?

[2021-03-02 15:43] szhorvat commented on #1712
Yes, this was a bug report for the C core. I just happened to use Python to illustrate.

This is not a widely used measure, and it's likely not worth bothering to make it work for multigraphs. Those who need that can just simplify the graph and add up edge weights explicitly.

I suggest adding a check for multigraphs. That will slow the function down a bit, but it will still be very fast (and even

[2021-03-02 15:44] szhorvat commented on #1706
I assigned you, not sure if GitHub sent a notification. You know why this is useful for tests, so please go ahead. This should go on the `develop` branch as it's a new public function.

[2021-03-02 16:18] szhorvat commented on #972
To clarify, the issue here is simply that PRPACK does not seem to support multi-edges and the code that converts igraph graphs to PRPACK graphs should combine parallel edges and add up their weights.

There is no problem with undirected edges, and no problem with self-loops either in the undirected or directed case.

[2021-03-02 16:29] szhorvat commented on #972
@ntamas Is it correct that currently `igraph_incident` returns edges such that parallel edges are always consecutive? You worked with this during the adjlist/inclist_init overhaul.

But even if this is the case, it is just a consequence of an implementation detail that we do not guarantee, right?

Summing up the weights of parallel edges would be so much simpler, both for PageRank, as well as for

[2021-03-02 16:45] szhorvat commented on #972
It's interesting to note that PRPACK only returns a wrong result when:

 - using weights
 - we have a multigraph
 - we use the `ge` method (Gaussian elimination)

For graphs with at least 128 vertices, it switches to a different method, which does not seem to be affected. Maybe it's not the case that PRPACK doesn't support multigraphs, but that PRPACK is buggy.

[2021-03-02 16:54] #972 closed

[2021-03-02 17:44] szhorvat commented on #1318
A good guideline is the complexity of the algorithms, which is usually noted in the docs. Only bother with those that are slower than linear.

[2021-03-02 21:37] #1072 closed

[2021-03-02 21:38] szhorvat commented on #1149
This appears to be already fixed.

[2021-03-02 21:38] #1149 closed

[2021-03-02 22:09] szhorvat commented on #1031
This still crashes if I flip the switch over to make it undirected. Note that this makes the graph a multigraph, which may have to do with the crash.

[code]

[2021-03-02 22:45] szhorvat commented on #1031
@ntamas @vtraag I need to discuss this before proceeding.

The crash is in `igraph_vector_order1`. This function appears to do a binsort, and it takes the largest element in its `nodes` parameter.

In this case, the function is used to order degrees in `igraph_i_minimum_size_separators_topkdeg`. The max degree can't normally be higher than the number of nodes, so this value is passed in. However,

[2021-03-02 22:55] szhorvat commented on #1480
Any fix to this must consider that this function is used internally in `igraph_minimum_size_separators`. We must not break that function (and we must verify whether it is already broken due to this).

[2021-03-02 23:06] ntamas commented on #1031
No objections; the PR seems okay for me. @vtraag should approve and merge the PR if he does not have any objections either.

[2021-03-03 09:13] ntamas commented on #1712
@szhorvat I have added a check for multiple edges in 57486de6d; however, there's still a corner case that we haven't treated: a directed graph with a mutual edge pair between two vertices. These will not be spotted by `igraph_has_multiple()` (and rightly so), but since the function treats directed graphs as undirected (it uses `igraph_incident()` with mode = `IGRAPH_ALL`), this will still produce

[2021-03-03 09:26] ntamas commented on #972
Yes. And yes, it's an implementation detail, I think we never promised that anywhere. But we can, if we want to, I just wonder how much it will restrict future implementations of alternative data structures.

[2021-03-03 09:38] GroteGnoom commented on #1526
I want to work on this one, should I add a 'directed' parameter to ignore edge directions?

[2021-03-03 09:49] vtraag commented on #972
I don't think we should promise this, it would indeed restrict our future possibilities too much.

[2021-03-03 09:53] vtraag commented on #1031
It also looks good to me.

I think we perhaps want to take some time as some point to think about how we handle parallel edges. Personally, I don't like any simplification happening inside functions, it obscures what is being done exactly. I would be in favour of simply disallowing parallel edges in functions that cannot handle them appropriately, so that a user would need to simplify a graph befo

[2021-03-03 09:55] #1031 closed

[2021-03-03 10:29] szhorvat commented on #1526
Please wait a bit with this, as this is part of a bigger project I have in mind. I need to recall the details and think it through again, but this week is super busy for me, so I might not get to it until Monday.

[2021-03-03 10:30] szhorvat commented on #972
@ntamas @vtraag Good news is that this was an easy fix after all.

Agreed. It will be a problem if we use a graph representation that supports efficient modification.

[2021-03-03 11:46] szhorvat commented on #1712
I vote for option 1: directed graphs should be disallowed, and it should go on `master`.  A directed graph with no reciprocal edges would be quite unusual as a real-world network.

Of course, there are applications for such graphs. Sometimes one just needs an orientation for undirected edge to have a reference for a direction of a flow. Sometimes we have a bipartite network, which can conveniently

[2021-03-03 15:12] #1569 closed

[2021-03-03 15:13] szhorvat commented on #1569
Indeed, this has been implemented by @guyroznb

[2021-03-03 16:27] szhorvat commented on #1526
The first thing to check would be that the function works as it should in the undirected case. I have not done this yet, and there are some subtleties. Below I describe what I would like this function to do, but I do not know if that is indeed what it does.

This function first marks each edge with probability `prob`. Then it takes the marked edges, removes them, and re-inserts them in a random pl

[2021-03-03 16:33] szhorvat commented on #1526
There is a related task that I'm not sure if I created an issue for, and you may be interested in: `rewire_directed_edges` should support avoiding multi-edges. The same requirement applies: the sampling should be uniform. I.e., each possible outcome should appear with the same probability.

[2021-03-03 17:26] #1712 closed

[2021-03-03 18:28] szhorvat commented on #1526
I would say no. Directed graphs should be handled as directed, and undirected as undirected.

[2021-03-03 21:12] ntamas commented on #1526
The sampling of the upper triangle plus the diagonal for a matrix of size N x N can be done easily: pick a random integer _n_ between 0 and N * (N+1) / 2 (upper bound exclusive), then calculate the edge endpoints _u_ and _v_ as follows (Python variant, based on [this SO answer](https://stackoverflow.com/questions/40950460/how-to-convert-triangular-matrix-indexes-in-to-row-column-coordinates), but

[2021-03-04 04:31] heavywatal opened #1721 "igraph_average_path_length() outputs unexpected values for directed graphs"
**Describe the bug**
`igraph_average_path_length()` outputs unexpected values for directed graphs. See the following minimal reprex.

**To reproduce**

[code]
[code]

The average path length of the smallest bifurcating tree (two edges with length 1) should be 1 if I understand correctly.

**Version information**
`0.9.0` and `master`

[2021-03-04 08:07] szhorvat commented on #1721
Can you double-check this please? I am unable to reproduce this on my machine. The output is 1.

[2021-03-04 08:44] heavywatal commented on #1721
Oops, now it works correctly after cleaning my `~/local/` and reinstalling new igraph. Maybe my lazy update left some old headers or library, which played a little trick. Sorry for bothering, thank you again.

[2021-03-04 08:44] #1721 closed

[2021-03-04 08:52] szhorvat commented on #1721
No problem, I'm glad it's not broken.

Added tests for this in 4019b1f299777605d2d8721f8e86a141244a0fb3 and b38239e988b630bf3bee83653fe141841a697402

[2021-03-04 10:49] GroteGnoom commented on #1526
Do you mean this one: https://github.com/igraph/igraph/issues/1527 ? I avoided that one because you are assigned to it. I'll fix #1527 if you want, :slightly_smiling_face:.

Something completely different: I think the process in igraph_rng_get_integer does not really get you a uniformly distributed integer in most cases. Is that an acceptable error? I think it's pretty hard to fix.

[2021-03-04 11:14] szhorvat commented on #1526
Why not?

The first branch does `(long int)(type->get_real(rng->state) * (h - l + 1) + l);`.  This implicitly assumes that `get_real` always returns numbers < 1, which may not always be the case and which I am not completely comfortable with. But the chance of failure (i.e. getting precisely 1) is very low.

The second branch does `(long int)(type->get(rng->state) / ((double)max + 1) * (h - l + 1)

[2021-03-04 11:20] szhorvat opened #1722 "min member of igraph_rng_type_t is never used"
`igraph_rng_type_t` has a `min` member, but it is never used, except in `igraph_rng_min()`.  All other functions, such as `igraph_rng_get_unif01`, implicitly assume that `min == 0`.

What shall we do with this?  The functions could be updated to take `min` into account, but this seems pointless. I would be surprised to see an RNG the lowest value of which is not 0.   Perhaps it would be better to

[2021-03-04 11:26] GroteGnoom commented on #1526
This gets you all the right numbers, but they're not uniformly distributed.
For example if your origininal uniform distribution has a max of 2, and you want numbers between 0 and 1, then any calculation like this wil have an ouput of 3 numbers mapped to 2, so you'll get one number 1/3 of the time, and the other 2/3. You can fix this by taking a random number multiple times in some cases, but there

[2021-03-04 11:53] szhorvat commented on #1722
For now I added a comment noting that `min` is required to be zero, just in case someone would try to implement a new generator with `min != 0`.

[2021-03-04 12:10] szhorvat commented on #1526
Of course, on a computer we must use discrete representations (a `float` and a `double` are also discrete), which leads to roundoff errors that might have significant effects in extreme cases. A usable RNG should have a large maximum value. The current generators in igraph have either 2^31 - 1 or 2^32 - 1 as the maximum, which should be sufficient in practice.

I guess one might come up with speci

[2021-03-04 14:41] szhorvat commented on #1479
Normally, all allocation in igraph uses `igraph_Calloc` or `igraph_Realloc` in `igraph_memory.h`, so those could be changed to ensure that at least _some_ memory is always allocated.

[2021-03-04 15:02] szhorvat commented on #1223
@GroteGnoom I'll assign you to this then.

[2021-03-04 16:34] GroteGnoom commented on #1479
If I want to use the current macro's of igraph_Calloc and igraph_Realloc and add some ternary conditional operator, this will cause a double evaluation. If I want to prevent that, I have to assign to a variable and then I can't return a value anymore in a platform-independent way. Can igraph_Calloc and igraph_Realloc be changed to functions? I don't see a reason why they should be macro's.

[2021-03-04 21:29] ntamas commented on #1722
Yes, and let's also mark it as deprecated. I don't see much point in it either.

[2021-03-04 21:47] vtraag commented on #1479
I remember there were some discussions about this, with @szhorvat also adding an `igraph_malloc` function instead of a macro in https://github.com/igraph/igraph/pull/933. The argument there is that `free` and `malloc` should always come in pairs that match with the runtime. The reason that there is (also) a macro is that using the macro ensures that the pointer will be set to `NULL`, while this ca

[2021-03-04 21:49] vtraag commented on #1479
Perhaps for the sake of consistency, it would be nice to have all pairs of `malloc`, `calloc` and `realloc`, `free` in both macros and functions.

[2021-03-05 10:53] GroteGnoom commented on #1479
Aha! That clears things up.

The biggest concern I guess is that with data structures where lots of single nodes are allocated, like the igraph trie, there will be about 50% more memory usage.

Yes, if I don't want to change the interface, and keep the capitalization consistent, the igraph_Calloc could call igraph_calloc, which then takes care of the always nonzero allocations. Or igraph_Calloc ca

[2021-03-05 11:03] vtraag commented on #1479
Yes, this is true. I am not sure how often this will be the case though. Perhaps it is worth looking into using a ternary operator still. Could you clarify what you meant by the "double evaluation" that you mentioned being problematic?

Yes, this is true, it should be properly documented. Perhaps for the allocation functions, we actually don't need a macro. At least, I don't immediately see the po

[2021-03-05 11:14] GroteGnoom commented on #1479
It's this problem:
https://stackoverflow.com/questions/39439181/what-is-double-evaluation-and-why-should-it-be-avoided
It occurs if you want to use a macro to first evaluate `n` to see if it is 0, and then possibly use `n` again if it is not 0. If someone then calls this macro with `igraph_Calloc(do_lots_of_things_and_return_a_number())`, then this function that returns `n` will be called twice. T

[2021-03-05 11:27] vtraag commented on #1479
OK, thanks for the explanation! So this would be an argument in favour of only having allocation functions, not macros, in which case this should not be a problem, correct? We could then still have a sort of `MAX` macro, if we want.

[2021-03-05 11:29] szhorvat commented on #1479
I'll read the thread in detail and chime in more over the weekend, I just wanted to say that:

 - I am not concerned about double evaluation. These are internal functions/macros that we know how to use correctly. Also, it will usually happen only when there's a function call, e.g. `#define MAX((a),(b)) ((a > b) ? (a) : (b))` will have no problem with `MAX(x+y, z)`: the compiler is smart enough not

[2021-03-05 11:38] vtraag commented on #1479
Right, this is a good point, I had not yet considered that. In `suitesparse` the approach that I mentioned [here](https://github.com/igraph/igraph/issues/1479#issuecomment-716055638) indeed requires one to always specify `sizeof( [type] )` on the part of the caller. Whether that is really problematic could be open to discussion of course.

The double evaluation does sound like a potentially thorny

[2021-03-05 12:22] ntamas commented on #1479
In general I agree with @szhorvat .

I think that C programmers working with macros (_any_ kind of macros) should be aware of the double evaluation problem as it is related to macros in general, not only to the type of macros we define here. All that we need is to make it damn clear that `igraph_Calloc`, `igraph_Free` et al are macros, and making them `ALL_CAPS_UNDERSCORE_CASE` should do the trick

[2021-03-05 12:52] vtraag commented on #1479
That is true of course, but we are making the situation more complex by nesting macros.

I think this should indeed be done.

[2021-03-06 09:08] szhorvat commented on #1479
It is not necessary to nest macros. A `? :` operator will do.

[2021-03-06 10:35] szhorvat commented on #1479
I went through (hopefully) all uses of `igraph_Calloc` and `igraph_Realloc` and checked if they are ever invoked with a function call, which could _potentially_ lead to double evaluation. I fixed all of these. There were only a handful. See 6ac0b0f0fcdeeba127cccb183851d2b2ddbef906  Note that if these were to result in double evaluation, the only ill effect would be a _potential_ but still negligib

[2021-03-06 10:38] szhorvat commented on #1479
As an experiment, I change `igraph_Calloc/Realloc` like this:

[code]

I can confirm that this makes all "Use of zero-allocated memory" Clang Static Analyzer warnings go away.

I should not that when I was looking at individual usages of `igraph_Calloc/Realloc`, I did notice that _some_ of code related to fundamental data structures (vector, stack, etc.) already had protection against zero-allocat

[2021-03-06 10:45] szhorvat commented on #1479
I just wanted to note that the motivation for `igraph_malloc` was entirely different:  `igraph_Calloc/Realloc` are really for internal use (and IMO we should eventually remove them from public headers). `igraph_malloc` is specifically for public use, to ensure that when the user allocates memory, but igraph itself frees it, it is possible to use a matching pair of `malloc`/`free` functions. One su

[2021-03-06 10:52] szhorvat commented on #1479
I would vote for:

 - Capitalizing `IGRAPH_FREE` and `IGRAPH_CALLOC`. These are in public headers, but they are really for internal use, so I'm fine with changing them on master.
 - Use the macro definitions from my post above: https://github.com/igraph/igraph/issues/1479#issuecomment-791909912
 - Keep them as macros, not functions.
 - Skim through the present uses if `igraph_Calloc/Realloc` and r

[2021-03-06 11:07] szhorvat commented on #720
A cutoff is already implemented for betweenness/closeness/harmonic centrality. One may look there for guidance to implement this feature. PRs are welcome!

[2021-03-06 16:01] vtraag commented on #1479
@szhorvat sounds good! Could we then also remove `IGRAPH_FREE` and `IGRAPH_CALLOC` from the public headers and move them to an internal header

 You would also include `IGRAPH_CALLOC` and `IGRAPH_REALLOC` I presume, by the way?

[2021-03-07 14:10] szhorvat opened #1727 "Build fails with older clang versions due to unsupported -Wno-varargs"
**Describe the bug**
The build fails with older clang versions due to the use of `-Wno-varargs`.

You can see a build log from MacPorts / OS X 10.7 here:

https://build.macports.org/builders/ports-10.7_x86_64-builder/builds/45964/steps/install-port/logs/stdio

There are many errors like these:

[code]

We need to find out if we can make clang more tolerant of these.

On the other hand, I am not su

[2021-03-07 14:17] szhorvat commented on #1727
I believe this will be `-Wno-unknown-warning-option`, but maybe we don't want this in the main distribution. However, it is a useful workaround for package managers.

[2021-03-07 14:53] #1706 closed

[2021-03-07 14:56] szhorvat commented on #1479
I thought some more about this, and I think we should in fact not do this.  I would keep them public but undocumented.

I would like to make it possible to implement most new functionality using only things exposed through the public header. I sometime implement new functions within the Mathematica interface, with the intention to move it to the C core later. There is value in being able to use th

[2021-03-07 20:26] ntamas commented on #1727
An alternative is to check for `-Wno-varargs` support explicitly with [this CMake macro](https://cmake.org/cmake/help/latest/module/CheckCXXCompilerFlag.html).

[2021-03-07 20:34] ntamas commented on #1479
This will be fixed by #1726. I'll push a regression test for this issue in #1726 so we don't get bitten by this again.

[2021-03-07 20:34] szhorvat commented on #1727
Yes, that's probably better. It can also be used to eliminate the exceptions for the Intel compiler.

[2021-03-07 21:15] #1479 closed

[2021-03-09 08:49] szhorvat commented on #1702
@iosonofabio You mentioned in #1276 that you could take a look at this. Would you have time to do so?

[2021-03-09 09:02] vtraag commented on #1702
I think it should be fairly straightforward to setup using GitHub actions. I also have setup something similar for the R interface (pushing build source package towards the `master` branch), see https://github.com/igraph/rigraph/blob/dev/.github/workflows/build-and-check.yml.

[2021-03-09 09:31] iosonofabio commented on #1702
No problem, I'll take a look

[2021-03-09 14:33] #1382 closed

[2021-03-09 16:39] asar1245 opened #1731 "GraphML: treat unknown data types as strings"
Hello everyone, I have an error reading graphml files. The error message is presented below:

Error in read.graph.graphml(file, ...) :
  At foreign-graphml.c:599 : Cannot parse GraphML file, unknown attribute type, Parse error

I'm working in Debian 10 buster, and R version 4.0.4.

I have installed the package libxml2-dev, but it does not help.

Thank you very much for your help.

[2021-03-10 08:57] ntamas commented on #1731
That is not possible in the general case because an attribute value can be a complex XML tree as well. The parser does not expect additional tags inside a `<data>` tag and just throws an error if it finds one, so we could not cover all corner cases by simply treating unknown attributes as strings.

Anyway, this is possible to some extent, and I would be willing to be more liberal in what we accept

[2021-03-10 09:18] szhorvat commented on #1731
Sadly, GraphML, as probably the most common format, is much abused. It's common to see slightly non-compliant files like this one. It would be practical, and useful, to be a bit lenient, if not too much work. (It's unclear to me how easy it is, as I never worked with libxml2).

All that said, @asar1245, I would now contact the author of the software that created this GraphML file, and complain to

[2021-03-10 16:35] szhorvat opened #1733 "Implement weighted pseudo-diameter computation"
This is a feature request to implement a weighted pseudo-diameter computation as `igraph_pseudo_diameter_dijkstra`.

Ref: #1223 and #1728

[2021-03-10 16:36] szhorvat commented on #1733
@GroteGnoom Would you like to be assigned to this?

[2021-03-11 09:50] GroteGnoom commented on #1733
Sure!

[2021-03-11 10:29] szhorvat commented on #1223
Thanks for implementing this. It's a nice addition that I wanted to see for a long time.

[2021-03-11 10:29] #1223 closed

[2021-03-11 11:06] GroteGnoom commented on #1733
should this have the same interface as diameter_dijkstra, but with a starting vertex added? So including vertex_path and edge_path?

[2021-03-11 12:05] szhorvat commented on #1733
I would use the same interface as `pseudo_diameter` but with weights. The `diameter` functions at the moment just call `get_shortest_path` to compute the actual path. They are not faster to use than first computing the starting points and then separately getting the path. While theoretically they _could_ be made faster, at the moment I am inclined to keep things simple, and not add the path argume

[2021-03-12 00:59] BrandonKMLee opened #1735 "Inclusion of Role and Structural Hole research"
**What is the feature or improvement you would like to see?**
Inclusion of Role Detection / Role Similarity algorithms, and Structural Hole Indices.

**Use cases for the feature**
Identify leaders and brokers of a community within a network for social research and marketing

**References**
See references in https://github.com/GiulioRossetti/cdlib/issues/137 and https://github.com/GiulioRossetti/cd

[2021-03-12 08:43] szhorvat commented on #1735
Just noting that Burt's constraint score is already included as `igraph_constraint`.

[2021-03-12 09:01] ntamas commented on #1731
I have changed the ttle of the issue and I'll keep it open for a while in case someone wants to pick this up.

[2021-03-12 09:21] szhorvat commented on #1735
As currently written, this request is very broad and vague. Please make it more concrete:

 - Which _specific_ metric are you requesting? You indicate an entire research area, but this is not really a tangible starting point for a potential contributor.

 -  Where is the metric best described, and where is the algorithm to compute it best described? Is this something that can be easily implemented

[2021-03-12 14:21] BrandonKMLee commented on #1735
From https://arxiv.org/pdf/1908.08572.pdf:

- [ ] Spectral embedding [Chung 1997]
- [ ] deepwalk [Perozzi et al. 2014]
- [ ] node2vec [Grover and Leskovec 2016]
- [ ] LINE [Tang et al. 2015]
- [ ] GraRep [Cao et al. 2015]
- [ ] ComE+ [Cavallari et al. 2019]
- [ ] GCN [Kipf and Welling 2017]
- [ ] GraphSage [Hamilton et al. 2017]
- [ ] MultiLENS [Jin et al. 2019c]
- [ ] deepGL [Rossi et al. 2017]
-

[2021-03-12 15:41] #1727 closed

[2021-03-13 11:43] szhorvat opened #1737 "neighbors() and incident() should allow controlling loop inclusion"
**What is the feature or improvement you would like to see?**
Similar to `adjlist_init()` and `inclist_init()`, `neighbors()` and `incident()` should allow controlling whether self-loops are included: not at all; once; or twice.

**Use cases for the feature**
The use case is the same as for `adjlist_init` and `inclist_init`. For many graph algorithms, it is necessary to have this control. `neighbo

[2021-03-14 18:39] TumbiSapichu opened #1738 "Implement TotalPersonalizedPageRank[] to calculate a "total" personalized page rank"
**What is the feature or improvement you would like to see?**
Traditionally, personalized page rank is calculated for a single value of the damping factor (most default cases use 0.85). In some applications, it is useful to explore different values for the damping factor, and more specifically, it is useful to calculate a "total rank", which is defined as the integral of all rank values through di

[2021-03-16 08:50] lucyharlow commented on #1676
hello! This sounds like a great first issue, may I take a look? I'm new to igraph -- in fact new to a lot of things right now so I'm VERY used to reading tutorials :)

[2021-03-16 09:59] szhorvat commented on #1676
Yes, please go ahead. Please let us know what operating system you are using.

The first thing you need to do is learn how to compile and install igraph: https://igraph.org/c/doc/igraph-Installation.html  Feedback on this is welcome as well.

At some point, you may want to build your own version of the documentation (instead of using the online one) in order to: (1) be able to read the latest deve

[2021-03-16 11:08] GroteGnoom commented on #1397
I will work on this :slightly_smiling_face:

[2021-03-16 16:35] lucyharlow commented on #1676
Hi! I will get to it tomorrow, looking forward to it! I'm using macOS Big Sur version 11.2, though I have access to a Linux computer as well.

[2021-03-16 16:37] szhorvat commented on #1676
macOS is perfectly fine. The easiest way to install tools you need is MacPorts (I used this) or Homebrew (some other igraph developers use this).

[2021-03-19 10:30] BrandonKMLee opened #1741 "inclusion of Centrality measures from R"
**What is the feature or improvement you would like to see?**
The inclusion of other centrality measures from certain R libraries that seems "dead" e.g. CentiServer http://www.centiserver.org/
(Also integration with Python for usability purposes.)

From CentiServe in https://rdrr.io/cran/centiserve/man/:
- [ ] averagedis | Find the average distance of a node
- [ ] barycenter | Find the barycenter

[2021-03-19 10:41] BrandonKMLee commented on #1735
@szhorvat
For the metrics I am requesting, they seemed to be bundled together with major survey papers like the ones I have cited.

The utility of these measures stems from the needs to identify roles within a network, it can be a biological network, a social network or a business network.

This is a tough question, but there has not been libraries that collect info for all algorithms provided. He

[2021-03-21 14:00] Mikeym41 commented on #1585
Hey, I would like to work on this if possible. I am new to iGraph and this would be my first issue contribution on Github as well , I would be using MacOS.

[2021-03-21 17:13] szhorvat commented on #1585
@Mikeym41 The first step is to compile igraph (the development version):

https://igraph.org/c/doc/igraph-Installation.html

Next, take a look at the tutorial:

https://igraph.org/c/doc/igraph-Tutorial.html

The issue for getting feedback on the tutorial if #1676. Feedback from multiple people is welcome.

A good model for an example program is here:

https://github.com/igraph/igraph/blob/master/e

[2021-03-21 18:41] szhorvat opened #1742 "Wishlist: Resistance distance"
**What is the feature or improvement you would like to see?**

Imagine that each edge of a graph represents an electric resistor, with resistance given by the edge weight. Then the resistance distance between two vertices is the effective resistance between them.

This requires only linear algebra, preferably using sparse matrices. igraph's `sparsemat` functionality is likely sufficient for an imp

[2021-03-22 10:05] Parakoopa opened #1743 "Unable to cross-compile"
**Describe the bug**
I am unable to cross-compile for Android, because it seems part of the generated Makefile tries to run the compiled `f2c/arith` which doesn't work since it's build for the target system.

**To reproduce**
In my case I have the following setup to run this, but other more simpler setups probably work too.

1. Clone python-igraph and update submodules
2. Have the Android SDK / ND

[2021-03-22 10:06] Parakoopa commented on #1743
For reference, the part of the src/Makefile.im that causes the issue:
[code]

Specifically `f2c/arith > f2c/arith.h`

[2021-03-22 11:58] szhorvat commented on #1743
A workaround for this is already included in the development version by allowing to specify a custom `arith.h` file. Set the `F2C_EXTERNAL_ARITH_HEADER` CMake variable to point to your custom `arith.h` file.

See here in the documentation: https://github.com/igraph/igraph/blob/master/doc/installation.xml#L479

It is your responsibility to ensure that the `arith.h` file you use is suitable for your

[2021-03-22 11:59] szhorvat commented on #1743
Alternatively, you can link to an external ARPACK, LAPACK and BLAS, in which case f2c is not used at all.

[2021-03-22 12:41] Parakoopa commented on #1743
But wait, maybe I misunderstand, but it's compiling fine for the target platform. The problem is that it tries to *run* it on the host platform after compiling.

[2021-03-22 12:46] #1743 closed

[2021-03-22 12:57] szhorvat commented on #1743
Yes, it runs the program `arithchk`, which then generates the header file `arith.h`.

Version 0.9.1 will allow you to provide your own `arith.h` file. Ideally, you will compile `artihchk` on your target platform, run it, record its output, then use it in cross-compilation later.  This is available in the `master` branch of igraph (which will become version 0.9.1). Version 0.9.0 does not support th

[2021-03-22 12:59] szhorvat commented on #1743
@Parakoopa Android is a strange platform to be running igraph on. I am curious what your project is (unless it's confidential).

[2021-03-22 13:10] Parakoopa commented on #1743
It isn't confidential, but it's a pretty specific project with lots of gears to make it work.

The part that requires igraph is a sort of disassembler that tries to convert a low-level scripting language with ASM-like control flow into a high-level scripting language with control structures such as loops and if/switch-conditions. I decided to use a graph based approach to make that work and python

[2021-03-22 22:27] Parakoopa commented on #1743
In case you (or anybody stumbling upon this) is interested, this is the python-for-android recipe I got it running with:
https://github.com/SkyTemple/skytemple-randomizer/blob/p4a/android/recipes/python-igraph/__init__.py

[2021-03-23 13:59] kloczek opened #1744 "0.9.1: test suite is failing because it is not perepared fro off tree build"
So geberally id cmake is executed with `cmake <params> <build_directory>` test suite is assuming that `<build_directory>-","` and case of off treee build all test unites fails/

<details><summary>Build log</summary>

[code]

</details>

[2021-03-23 14:02] kloczek commented on #1744
To make off sorce tree rrady in CMakeLists.txt files needs to be used:
https://cmake.org/cmake/help/latest/variable/CMAKE_SOURCE_DIR.html
https://cmake.org/cmake/help/latest/variable/CMAKE_BINARY_DIR.html

[2021-03-23 14:19] szhorvat commented on #1744
I am not able to follow what you are trying to say. Can you please give step by step instructions to reproduce the problem, in clear, punctuated sentences?

[2021-03-23 14:19] vtraag commented on #1744
I'm sorry @kloczek , I am not sure if I understand completely what the problem is. Could you please report how exactly you invoked `cmake`? I typically also build in a separate build directory, but this is usually done by changing to the build directory, and from there invoke `cmake [source_directory]`, not by doing `cmake [build_directory]` from within the source directory.

[2021-03-23 14:41] kloczek commented on #1744
Try:
[code]

[2021-03-23 14:44] vtraag commented on #1744
The last invocation should be `make check`, not `make test`.

[2021-03-23 15:04] kloczek commented on #1744
Nope. `check` target was before igraph switched from automake/autoconf/libtool to cmake.
Standa cmake test suite target is `test`

[2021-03-23 15:11] vtraag commented on #1744
`make test` runs the tests, but doesn't build them. `make check` does build the tests. You can also first build the tests by invoking `cmake --build . --target build_tests`, after which `make test` works.

In the [documentation](https://igraph.org/c/doc/igraph-Installation.html#igraph-Installation-general-build-instructions) it is also stated that you run tests using `cmake --build . --target chec

[2021-03-23 15:11] #1744 closed

[2021-03-23 16:41] kloczek commented on #1744
Just to let you know. fedora by defailt macros %cmake, %cmake_build. %cmake_install and %ctest is using off-tree build.

I'v not been reporting but on in-tree build but off-tree build.
Did you read
https://cmake.org/cmake/help/latest/variable/CMAKE_SOURCE_DIR.html
https://cmake.org/cmake/help/latest/variable/CMAKE_BINARY_DIR.html
I think that no ..

Thank you for not fixung reported bug and treati

[2021-03-23 21:04] ntamas commented on #1744
igraph is using off-tree build as well; in fact, it explicitly prevents in-source builds; see the macro in `etc/cmake/PreventInSourceBuilds.cmake`. We are aware of the distinction between `${CMAKE_SOURCE_DIR}` and `${CMAKE_BINARY_DIR}` as well. We routinely build igraph several times a day, and all of the devs are using off-tree builds. (They could not use anything else because in-tree builds are

[2021-03-23 21:17] kloczek commented on #1744
If you will  look closer on https://github.com/igraph/igraph/blob/master/.github/workflows/build-cmake.yml#L44-L50 you can find that cmake is configured off-tree build but it is build in-tree.

[2021-03-23 21:23] kloczek commented on #1744
And the same is with ctest. ctest is executed qithout off-tree path as parameter.

Sorry to say that but you have onbly impression that you are using off-tree build in CI.
If you will look on https://src.fedoraproject.org/rpms/cmake/blob/rawhide/f/macros.cmake you wcan find `%{_vpath_srcdir}` which contains directory name for off-tree build. That directory is specified in definition of %cmake, %cm

[2021-03-23 21:38] kloczek commented on #1744
Issue seems is that instead of usimg standard cmake test framwork indeed igraph is usimg its custom metwod of testing.
To prove that it is like tjat all what you need to do is just `cd <nuild_dir>; ctest`.

[2021-03-24 22:20] dotlambda commented on #1694
I have the same issue on NixOS (aarch64 as well). I'm using the system's openblas.

[2021-03-25 07:02] szhorvat commented on #1694
@dotlambda Can you post the output please?

[2021-03-25 08:44] dotlambda commented on #1694
<details>
<summary>Here it is.</summary>

[code]
</details>

[2021-03-25 09:39] szhorvat commented on #1694
Thanks you @dotlambda. Unless I missed a detail, this is completely identical to the failure @vtraag noticed. @vtraag I wonder why the problem went away for you (perhaps it's not really linking to OpenBLAS)?

@dotlambda, here's my take on this situation:

 - I recommend that you go ahead and ignore these specific failures. Needless to say, this advice applies *only* to these specific failures, not

[2021-03-25 09:40] szhorvat commented on #1694
A final problem is that we do not have convenient access to aarch64 to work on this. Travis provided such machines, but Travis no longer supports open source projects. (They claimed otherwise, but they never responded to my emails when I tried to request continuing support for igraph.)

[2021-03-25 09:42] szhorvat commented on #1694
I'll check if I can reproduce the same issue on my Raspberry Pi (note: 32-bit!) with OpenBLAS, and might give it another go in the future. But as I said: this is a lot of work for little gain. It's just not worth it.

[2021-03-25 09:46] dotlambda commented on #1694
@szhorvat Thanks a lot for looking into it. I'll disable these two specific tests on aarch64 for now.

[2021-03-25 19:59] szhorvat commented on #1694
For reference, I cannot reproduce this on the Raspberry Pi. `arch` prints `armv7l`. This is a 32-bit platform.

[2021-03-25 20:10] szhorvat commented on #1694
However, the `example::igraph_scg_grouping` test took over 98 seconds with OpenBLAS. With the vendored BLAS, it takes 2.3 seconds. This is very strange.

[2021-03-26 15:54] monellz opened #1746 "igraph cannot be used as subproject"
**Describe the bug**
I try to use igraph as my subproject, but it gives me Error like

CMakeLists.txt in igraph use CMAKE_SOURCE_DIR to get its location, which is wrong when it is used as subdirectory.

**To reproduce**
```add_subdirectory``` for igraph

**Version information**
0.9.1

[2021-03-26 16:00] ntamas commented on #1746
I'll try replaceing occurrences of `${CMAKE_SOURCE_DIR}` with `${PROJECT_SOURCE_DIR}` and see how it goes.

[2021-03-26 16:19] ntamas commented on #1746
See https://github.com/igraph/igraph/commit/7996a15ea3757a71463231086de5df35064f7deb -- this seems to have done the trick for me; I was able to build a small test project that depends on igraph as a subproject with the following `CMakeLists.txt` file:

[code]

Let me know if you are still running into issues.

[2021-03-26 16:25] monellz commented on #1746
It works well with my own project now.

Thanks a lot~

[2021-03-26 16:25] #1746 closed

[2021-03-31 09:52] #1651 closed

[2021-03-31 09:54] szhorvat commented on #1560
@vtraag Would you have time to make the list in the original post granular (one box for each function) to have a clear picture of what's missing? Many more cases have been fixed since this issue was open (I fixed several), but unfortunately we did not keep track.

[2021-03-31 14:37] AdamKorcz opened #1747 "OSS-fuzz build broken"
The [OSS-fuzz build script](https://github.com/igraph/igraph/blob/master/fuzzing/build.sh) is currently broken.

When running cmake .. the following error happens:

[code]

[2021-03-31 14:44] ntamas commented on #1747
Are you using a shallow git checkout in OSS-fuzz?

This usually happens when a shallow checkout is used. `etc/cmake/version.cmake` uses `git describe` to figure out the version number of igraph by going back in the history and looking for the most recent tag. If the checkout is shallow and no tag falls within the range that was checked out, the process will fail and you get the message that you se

[2021-03-31 15:11] ntamas commented on #1747
Okay, this got broken recently in https://github.com/igraph/igraph/commit/7996a15ea3757a71463231086de5df35064f7deb where we tried adding support for using `igraph` as a subproject of another CMake project. I reverted the changes made to `etc/cmake/version.cmake` in that commit so it should work again now in your environment, but it probably breaks using `igraph` as a subproject so this is only a t

[2021-03-31 15:27] ntamas commented on #1747
https://github.com/igraph/igraph/commit/7b4b2e1930fada163a7f32be84c695d37a902490 should solve this issue.

[2021-03-31 15:27] #1747 closed

[2021-04-01 19:42] yurivict opened #1748 "0.9.1: error: '_Generic' is a C11 extension"
clang-10 fails to compile it on FreeBSD 12.2:
[code]

[2021-04-02 05:06] szhorvat commented on #1748
Can you try to compile this short C program, using the `-std=gnu99` option, and post the complete output?

[code]

----

From the error you posted, it appears that `isfinite` only works in C11 mode on this platform. I don't know why this would be the case, as igraph explicitly requests C99 through CMake (which should translate to `-std=gnu99`), and [`isfinite`](https://en.cppreference.com/w/c/nume

[2021-04-02 05:10] szhorvat commented on #1748
Here's a similar complaint, albeit with no details. https://github.com/redis/redis/issues/2562

[2021-04-02 05:11] yurivict commented on #1748
It succeeds without warnings.

[2021-04-02 05:12] szhorvat commented on #1748
In that case it would be really great to see:

 - full output from CMake
 - actual compiler invocation for the offending file (compile with `-j1` and verbose mode, wait until fails, copy the command here)

[2021-04-02 05:16] yurivict commented on #1748
https://people.freebsd.org/~yuri/igraph.log

[2021-04-02 05:17] yurivict commented on #1748
[code]

[2021-04-02 05:34] szhorvat commented on #1748
Thanks @yurivict .

I'm stumped. Here's the full compiler invocation:

[code]

I see nothing relevant here.

Can you please try to compile the small test program from above, but using all warning options this time?

[code]

If that still shows no warnings, can you add all the options from the above command, even though I see no reason why they should matter?

[code]

----

Are you aware of any rea

[2021-04-02 05:37] szhorvat commented on #1748
Note: the `-Werror` is in `igraph/etc/cmake/compilers.cmake`.

[2021-04-02 06:14] szhorvat commented on #1748
There are some more hits here, and `-pedantic` seems to be a common theme:

https://www.google.com/search?q="'_Generic'+is+a+C11+extension"+freebsd

Is it possible that the problem is with FreeBSD's `math.h` header in that it uses C11 features even in C99 mode?

[2021-04-02 06:16] yurivict commented on #1748
[code]

[2021-04-02 06:18] yurivict commented on #1748
Here are VM images: https://download.freebsd.org/ftp/releases/VM-IMAGES/12.2-RELEASE/amd64/Latest/

[2021-04-02 07:46] szhorvat commented on #1748
@yurivict It seems to me that this is a problem with the `math.h` header on FreeBSD. There should not be a warning with these flags. Could you please take it up with whoever is in charge of clang on FreeBSD?

For now, I would recommend patching igraph 0.9.1 in FreeBSD and removing `-Werror` from `etc/cmake/compilers.cmake`.

After Easter, we will discuss this within igraph as see if anything shoul

[2021-04-02 09:22] yurivict commented on #1748
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=254714

[2021-04-02 10:54] yurivict opened #1749 "0.9.1: SONAME in the shared library is probably wrong"
The plist changed against 0.8.5:
[code]
lib/libigraph.so.0 has SONAME=libigraph.so.0

Normally SONAME should be shorter than the library filename, so that there is space left for updates without the need to rebuild dependencies. For example:
[code]
has SONAME=libzita-convolver.so.4

In case of ```libigraph.so.0``` SONAME is the same as file name.

[2021-04-02 19:07] ntamas commented on #1749
We have switched from `autotools` to CMake between 0.8.5 and 0.9.0; it could be the case that CMake is doing something differently. I'll look into this.

Also note that if you need _both_ a shared and a static library, then you need to build them separately with CMake. Setting `BUILD_SHARED_LIBS` to `ON` will build shared libraries _only_; setting it to `OFF` will build static libraries _only_. Th

[2021-04-02 19:18] yurivict commented on #1749
IMO you should restore the set of *.so* files that existed before.

As to the static library:
* cmake is definitely able to create both at the same time
* but: static libs aren't needed by virtually all users, we usually turn them off for packaging.

[2021-04-02 19:22] ntamas commented on #1749
Okay, the missing `libigraph.so.0.0.0` file is caused by this line in `src/CMakeLists.txt`:

[code]

Apparently this prevents CMake from falling back to the project version when it tries to figure out the "real" version number of `libigraph.so`. It could be fixed as follows, which would then create `libigraph.so.0.9.1` and make `libigraph.so.0` only a symlink to it:

[code]

Now, the problem is th

[2021-04-02 19:23] ntamas commented on #1749
Can you point me to some documentation about that? We have actually tried to achieve this when we initally did the switch from `autotools` to CMake, but we couldn't achieve it without specifying two targets and making CMake do the compilation twice.

[2021-04-02 19:39] yurivict commented on #1749
Not a documentation, but a description:
https://stackoverflow.com/questions/2152077/is-it-possible-to-get-cmake-to-build-both-a-static-and-shared-version-of-the-sam

[2021-04-02 19:50] ntamas commented on #1749
The first comment on that SO question claims that all the answers are wrong ([blog post](https://alexreinking.com/blog/building-a-dual-shared-and-static-library-with-cmake.html)); I haven't read it in detail yet but it looks like the situation is more complex than what I anticipated. Anyway, we'll definitely fix the problem with the SONAME soon, and we can return to the problem of static libraries

[2021-04-02 20:00] yurivict commented on #1749
I never tried this myself, but in order to build both static and shared libraries each module should be compiled twice due to different options.

If this doesn't work - then this is likely a make bug.

[2021-04-02 20:10] szhorvat commented on #1749
Let's not try to do this right now. There are some complications that need to be dealt with. For example, the headers are currently different for the two cases (because of symbol visibility declarations / dllexport on Windows).

[2021-04-02 21:40] yurivict commented on #1749
The SONAME numbers aren't supposed to be zeros either.
The minimal working configuration is
libxx.so.{major}.{minor} with ```SONAME=libxx.so.{major}```
```minor``` should be bumped when non-breaking changes are made (ex. incremental changes in the API), ```major``` should be bumped when breaking changes are made and dependencies need to be rebuilt.

[2021-04-03 13:03] ntamas commented on #1749
For the time being I restored the old behaviour as suggested [here](https://github.com/igraph/igraph/issues/1749#issuecomment-812674100) so we now have `libigraph.so.0.0.0` again. There is an internal discussion going on between the developers about how to proceed with the SONAME numbers. We have used zero so far to indicate that we have not committed ourselves to a stable ABI yet; eventually we w

[2021-04-04 11:54] HarshKumarSingh07 commented on #1676
HI, I am interested in this particular issue. Please let me know how to begin. As I am new to igraph so I am currently going through igraph tutorials docs (https://igraph.org/c/doc/igraph-Tutorial.html). And I am using **Windows** as my operating system.

[2021-04-04 15:11] szhorvat commented on #1676
@HarshKumarSingh07 You are welcome to work on this. What I wrote above still applies, but in the meantime we realized that the compilation instructions are a bit outdated. To make things simpler, I recommend compiling igraph as a shared library first.

Please post on the forum (https://igraph.discourse.group/) if you get stuck, and describe the problem in as much detail as possible. This feedback

[2021-04-04 16:27] HarshKumarSingh07 commented on #1676
Hey @szhorvat sir, Sorry to say I tried but I am getting problem in setting up the igraph library on my windows system. Can you guide or share some relevant work which could help me out in compiling the igraph library on my machine?

[2021-04-04 16:47] szhorvat commented on #1676
Have you already looked at https://igraph.org/c/doc/igraph-Installation.html ?  If yes, describe in detail how far you got, and where you got stuck, but please use the forum (https://igraph.discourse.group/), not the issue tracker.

[2021-04-04 20:37] jgmbenoit commented on #1651
I have just tried to build a Debian package for version 0.9.1.
I am not familiar with cmake and my current issue are cmake related:
1] is there a way to build a static library _and_ a shared library at the same time ?
2] all the tests fail: my guess is that it is because my build occurs in an external folder.
3] the source tarball contains some git code in etc/cmake/version.cmake that interfers ba

[2021-04-04 21:33] szhorvat commented on #1651
Not at the moment, and implementing this is problematic because the headers currently differ between the two types of builds. I would recommend going with a shared build. Is this acceptable for Debian?

Be sure to build the `check` target (in case you were building the `test` one). Currently `make test` only runs the tests, but does not build them. `make build_tests` only builds the, but does not

[2021-04-05 15:04] ntamas commented on #1651
@szhorvat is right; you need to run `make check` for the time being to make sure that all the tests are built _and_ executed. `make test` (the _de facto_ CMake standard) would only attempt to run the test but not build them. This will be fixed in 0.9.2 -- the relevant commit is [this one](https://github.com/igraph/igraph/commit/d829842c97cba752c4f1999a832a29ec2c174fbf) in case you want to backport

[2021-04-05 15:40] jgmbenoit commented on #1651
Thanks for your answers.
For point 1], not having libigraph.a will be a regression. I would prefer to have one.
Otherwise, having a dynamic and static headers sounds to me a very bad idea.
For point 2], I will have a look the next week-end.
For point 3], I have in mind the trick used with (GNU ?) Makefile:
-include cfg.mk
at the beginning of the Makefile.
cfg.mk is meant to be local (ignore or not

[2021-04-05 15:48] ntamas commented on #1651
You can have both a `.so` and an `.a` file, you only need to invoke CMake twice:

[code]

This whole static vs shared thing is tricky; apparently, the consensus in CMake-world is that you should build the library twice if you need both, unlike in autotools-world where you get both the static and the shared library in a single build. There are various tricks and hacks floating around on the Interne

[2021-04-05 16:48] szhorvat commented on #1651
This is what CMake's [GenerateExportHeaders](https://cmake.org/cmake/help/latest/module/GenerateExportHeader.html) does by default. I believe in the Windows world it is mandatory, as functions that come from a DLL must be explicitly declared as such.

The only affected file is `igraph_export.h`, which you will find in `your_build_directory/include` after the build is complete.

The difference betw

[2021-04-05 16:53] szhorvat commented on #1651
I think there's a misunderstanding here.

@ntamas : If I understood @jgmbenoit correctly, the problem is that if downloading the igraph release tarball into a git repository, igraph's version detection will fail. I thought we fixed this already, actually. If not, we should ...

[2021-04-05 16:58] szhorvat commented on #1651
@ntamas Steps to reproduce problem (3):

[code]

Output:

[code]

The configuration fails.

This really should work. Is there no way to have CMake not even attempt to use git when `IGRAPH_VERSION` is present?

[2021-04-05 17:23] ntamas commented on #1651
There is, we just need to change the order of precedence in `etc/cmake/version.cmake`. Right now the presence of a git repo trumps everything, and we only look at the `IGRAPH_VERSION` file if we are not in a git repo. Embedding an extracted igraph source tarball _within_ a completely unrelated git repo was not considered so far. I'll check what I can do.

[2021-04-05 17:31] ntamas commented on #1651
8c68698a1 is an attempt at ensuring not to touch Git at all when `IGRAPH_VERSION` is present.

[2021-04-05 18:51] szhorvat commented on #1651
@jgmbenoit You can create a new release tarball from the latest sources (from the git repo) by building the `dist` target. You can then check if the latest version has solved all your issues, and if not, we should try to address them before 0.9.2.  Note that `make dist` will build the docs, which requires a few extra tools to be installed. Also, the release tarball contains the docs in `doc/html`:

[2021-04-05 20:20] tillea commented on #1469
On Mon, Apr 05, 2021 at 01:07:29PM -0700, stale[bot] wrote:

Just pinging that issue, Andreas.

[2021-04-08 08:08] szhorvat commented on #1748
What are the hopes for a response? This truly is an issue with the header in FreeBSD, and would be nice to have it fixed there. From the google link I posted above, it is clear that it also affects other packages.

[2021-04-08 08:25] yurivict commented on #1748
It's a warning in most cases, so it didn't attract much attention.

I'll see if this can be forwarded to somebody who can fix it.

[2021-04-08 08:47] yurivict commented on #1748
I filed the FreeBSD port update request for approval: https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=254873

This takes this issue off your plate.

Thank you for your help!
Yuri

[2021-04-08 08:47] #1748 closed

[2021-04-08 15:37] szhorvat commented on #1748
@yurivict , from the above link:

R/igraph is self-contained and does not link (cannot link) to a separate igraph.

python-igraph 0.9.x will by default link to a bundled igraph. If you want to link it to a separate igraph, be sure to use the latest version of both.

[2021-04-08 16:55] yurivict commented on #1748
@szhorvat

The original problem in math.h is now fixed. It'll take time for the fix to propagate and all releases will have it only in 1+ years. The port patch would have to stay for this reason.

------

py-igraph uses the same library as external dependency and now fails:
[code]

-----

R-cran-igraph-1.2.6 doesn't depend on igraph and its port is at the latest version.

[2021-04-08 17:00] yurivict opened #1754 "0.9.1: Python bindings fail to compile"
[code]

FreeBSD 12.2

[2021-04-08 18:16] vtraag opened #1755 "Windows build does not install correctly using MSVC generator"
**Describe the bug**
When building using `cmake` >= 3.19.8 on Windows, with MSVC generator, `cmake --build . --parallel --config Release` incorrectly builds a Debug build, while `cmake --install` tries to install a Release build, which naturally fails.

**To reproduce**
[code]

**Version information**
Version 0.9.1 and most recent `master` version.

**Workaround**
Use `cmake --build . --config Rel

[2021-04-08 18:24] vtraag commented on #1755
Please note that this is connected to the current default build setup that is used in `python-igraph`. I am currently correcting this for `python-igraph`, and will push a PR shortly (presumably tomorrow).

[2021-04-09 07:04] vtraag commented on #1755
I have reported the issue [upstream](https://gitlab.kitware.com/cmake/cmake/-/issues/22048), as I think this is a bug in CMake.

[2021-04-09 07:41] ntamas commented on #1755
I was wondering whether this could be reproduced with a simpler `CMakeLists.txt` file on Windows, i.e. something like this:

[code]

I'd try it because this will be the first thing that upstream asks you to do anyway, and it could exclude the possibility that we are doing something wrong by messing around with `CMAKE_BUILD_TYPE` in `etc/cmake/BuildType.cmake` (although that shouldn't be a problem

[2021-04-09 07:45] vtraag commented on #1755
Yes, this is presumably something that I should do indeed at one point. I have not yet found the time to do so yet, but I thought it would make sense to report it upstream already anyway. Let me first wait for a first response there, perhaps the issue is simple enough to understand as is, since it is already quite specifically traced to a specific version and specific combination of flags.

[2021-04-09 12:10] GroteGnoom commented on #1737
(There was also a bit of discussion here: https://igraph.discourse.group/t/the-unit-tests-thread/597/50)
If nobody disagrees, I'll change neighbors to take two more parameters, and then change (almost) all current C calls to igraph_neighbors(..., ..., IGRAPH_LOOPS_ONCE, IGRAPH_MULTIPLE).

[2021-04-09 12:39] vtraag commented on #1737
For more information, there were some previous discussions about this in https://github.com/igraph/igraph/pull/1652.

[2021-04-09 12:46] ntamas commented on #1737
I'm a bit reluctant about changing the currently relatively friendly interface of `igraph_neighbors()` by adding two more arguments that people don't need to care about in 90% of the cases (or even more). These nits are relevant only if the user is routinely dealing with non-simple graphs. How about adding an `igraph_neighbors_advanced()` instead, keeping `igraph_neighbors()` as is, and then chang

[2021-04-09 12:55] szhorvat commented on #1737
I don't mind about the name at all, but I think we do need this functionality.

`igraph_neighbors` is sometimes an alternative to `adjlist` and `lazy_adjlist`. They do the same thing, the only difference is in when the neighbour list is generated, and for how long its kept.  Therefore, `neighbors` (or another "advanced" function) should have the same features.  It is clear that `adjlist` needed th

[2021-04-09 12:59] szhorvat commented on #1737
It's something that must be done with extreme case though, as it touches on the core graph API. Functions in the core API often depend on peculiarities of the graph representation, and must sometimes respect not very well documented properties of their output, such as the order in which the neighbours are listed (!).  It is very easy to inadvertently break things.

Right now, `adjlist_init` calls

[2021-04-09 13:03] GroteGnoom commented on #1737
I really couldn't think of a better name 🙂

Allright, I leave the igraph_neighbors interface the same, let it call igraph_neighbors_advanced(), which takes the two extra parameters. Once the advanced version exists we can use it to fix (igraph_dyad_census) or improve (adjlist_init) existing functions.

Is that ok with everybody?

[2021-04-10 10:13] szhorvat commented on #1676
For those interested in this issue, right now easiest way to compile your first program is to use the `master` branch from the igraph git repository, and use CMake for your own program as well.

Assuming your first program is in the file `igraph_test.c`, your `CMakeLists.txt` file may look as follows:

[code]

If igraph was installed at a non-standard prefix (`CMAKE_INSTALL_PREFIX`, see [installat

[2021-04-10 17:49] szhorvat commented on #1676
Draft update to the tutorial: https://igraph.discourse.group/t/igraph-tutorial-update/708

[2021-04-11 09:09] jgmbenoit commented on #1651
I deposited  my last packaging for version 0.9.1 in Debian experimental. It is currently in the [Debian NEWS](https://ftp-master.debian.org/new.html) queue. I applied the three aforementioned patches. In have not yet included the document. I will. For now, I want to bring 0.9.x to Debian first. Otherwise, for exporting only the public symbols in the share library, we need to set up and maintain a

[2021-04-11 09:18] jgmbenoit commented on #1749
There is different way to managed SONAME triplet, namely the library version. I would recommend the one used in GSL. You may have a look [here](https://autotools.io/libtool/version.html). Concerning Debian, as the ABI from 0.8 to 0.9 is incompatible, I bump SONAME from 1 to 2 .

[2021-04-11 12:14] jgmbenoit commented on #1651
My NEWS was rejected. So I will add documents for my next attempts. For now I will provide the html files as is. However, I would prefer to generate them and eventually to produce a PDF. The generated Makefile in doc seems to have no target to produce a PDF or to generate HTML. Can you easily add such a feature ?

[2021-04-11 12:19] ntamas commented on #1651
The HTML documentation requires `xmlto` to be installed on your system. PDF format requires `xsltproc`, `xmllint` and Apache FOP. Besides these, both of them require `python3` and `source-highlight`. If you miss any of these, CMake disables the `html` and `pdf` targets. So, make sure all of these are installed and then try running `cmake` to prepare the generated Makefile. The summary printed by `

[2021-04-11 12:20] ntamas commented on #1651
I'll look into these next week; I cannot promise that this can be done before 0.9.2 but we definitely want to sort this out as our aim is to converge towards a stable API/ABI soon(ish). There will definitely be one big breakage in the future before we settle on things as we want to switch from 32-bit integers to 64-bit integers for 64-bit platforms to allow the user to analyze larger graphs.

[2021-04-11 12:47] szhorvat commented on #1651
@jgmbenoit The HTML documentation is included in the release tarball, in the doc directory. You do not need to build it yourself. I do not recommend the PDF documentation, unless you want to print a book.

We were hoping to have a 0.9.2 release next week (not sure if it'll work out). This will have a major new feature: a CMake package file, so that `find_package(igraph)` will just work. Would be n

[2021-04-11 12:56] jgmbenoit commented on #1651
Thanks for the hints. I guess that this cmake feature is what pkg-config for autotools. It should be okay. Generally we prefer to generate documents.

[2021-04-11 12:57] jgmbenoit commented on #1651
I have notice that `igraph_es_fromto.c` is still around.

[2021-04-11 12:59] szhorvat commented on #1651
@jgmbenoit  I'll look into updating the installation instructions with information on how to build the docs.

We were planning a release 0.9.2 next week. It's not sure it'll be out, but I hope it will. There is one major feature that would be nice to have in Debian: there is not a CMake package file which can be installed on the system and allows CMake projects to simply use `find_package(igraph)`

[2021-04-11 13:54] szhorvat commented on #1651
This is fixed now.

[2021-04-11 13:57] jgmbenoit commented on #1651
I will have a look for the CMake `find_package` feature. If it is a common feature, I guess it is supported by Debian in general.

[2021-04-11 14:07] szhorvat commented on #1651
Do you use `make install`? If yes, it will install the necessary files.

[2021-04-11 14:08] ntamas commented on #1651
@jgmbenoit The idea is that libraries using a CMake-based build system (like `igraph`) can drop a file named `*-config.cmake` or `*Config.cmake` (where `*` stands for the name of the library) in a search path that is known in advance to CMake, and developers wishing to use this library can then run `find_package(some_library)` in their own `CMakeLists.txt` files to let CMake figure out how to link

[2021-04-11 14:49] jgmbenoit commented on #1651
I got the idea. Good GNU and autotools citizens are good Debian citizens, so to speak. For now I focussing on version 0.9.1. No need to rush on my side.

[2021-04-11 16:31] jgmbenoit commented on #1651
I find the way to produce the HTML documentations. I will use a patch to use local fonts. Otherwise, I cannot compose a PDF because some tools in tools are needed. Can you provide the tools folder in the next version ?

[2021-04-12 07:10] ntamas commented on #1651
I guess you are talking about `removeexamples.py`, right? I'll add that to the next release.

[2021-04-12 07:14] ntamas commented on #1651
One additional point to discuss: if I understand correctly, Debian prefers to ship shared and static libraries as well. However, in CMake-world, you typically need to build the library twice, once with `-DBUILD_SHARED_LIBS=ON` and once with `-DBUILD_SHARED_LIBS=OFF`. Furthermore, the above mentioned CMake package config files (installed in `${prefix}/lib/cmake/igraph/*.cmake`) are slightly differe

[2021-04-12 08:03] jgmbenoit commented on #1651
As regards tools folder, I just want to (produce and) provide a PDF version of the manual.

As regards C libraries, Debian generally provides a shared and a static version, ideally with a `symbols control file' (a fix or increasing ABI is needed for this part of the story). My working package currently builds twice: see the [rules](https://salsa.debian.org/med-team/igraph/-/blob/master/debian/rule

[2021-04-12 13:17] jgmbenoit commented on #1651
Is the material in vendor/simpleraytracer used ?

[2021-04-12 13:34] szhorvat commented on #1651
Yes, by the R interface.

[2021-04-12 14:29] jgmbenoit commented on #1651
is there a way to put this material with the R interface source tarball. I guess it would be better.

[2021-04-12 17:05] vtraag commented on #1651
I think there is a way, and we should do it.

[2021-04-12 17:08] vtraag opened #1757 "Move raytracer to R interface"
**What improvement would you like to see?**
The code in `vendor/simpleraytracer` should be moved to the R interface.

**Use cases for the feature**
There is no need for this code in the C core.

**References**
https://github.com/igraph/igraph/issues/1651#issuecomment-817860968

[2021-04-12 19:38] szhorvat commented on #1748
@yurivict A few minor comments:

`bison` is not a dependency for building from the release tarball (it's only needed when building from the git repo directly). `libtool` should not be needed either.

There's a comment: `BROKEN_sparc64=		fails to compile: uses x86 asm`. The is no assembly code in igraph.

`arpack-ng` should be a dependency too (if not present, igraph uses a bundled f2c'd version, b

[2021-04-13 09:51] ntamas commented on #1757
https://github.com/igraph/rigraph/commit/b708a61d79b14591e555b11b503d21f03a6b6088 moves the `simpleraytracer` folder to the R interface. It can now be removed from the C core if the CI passes.

[2021-04-13 11:33] #1757 closed

[2021-04-13 12:30] vtraag commented on #1755
I can't reproduce the issue locally anymore. For the life of me, I don't understand. I reproduced the problem last week locally, testing it and nailing it down to a change in CMake since 3.19.8. Now, with the exact same version, I don't have this problem. Perhaps this problem only surfaces in combination with a particular VS version, which might have updated in the meantime, I am not sure.

For re

[2021-04-13 14:07] ntamas commented on #1755
Shall we close this issue then and go ahead with 0.9.2? My plans are to finish the release tomorrow or the day after.

[2021-04-13 14:29] vtraag commented on #1755
Yep, let's do that...

[2021-04-13 14:29] #1755 closed

[2021-04-13 14:33] szhorvat commented on #1755
It looks like you're getting responses from upstream.

[2021-04-13 20:29] vtraag commented on #1737
Could we perhaps keep the advanced function internal for now? This discussion ties in with larger discussions about the graph structure and the long-term API. An unnecessary proliferation of these two additional argument in many places, as @ntamas points out, is probably also not desirable.

[2021-04-13 20:43] szhorvat commented on #1737
I have no problem with keeping it internal, but I disagree that these are unnecessary. I asked for the feature because I keep finding a need again and again. @GroteGnoom offered to work on it because he also needed it (see the link to the discourse forum).

[2021-04-13 20:54] vtraag commented on #1737
I am not saying the functionality is not required. Rather, as @ntamas pointed out, by having only a single function, you would get a proliferation of these argument everywhere, even if they are not needed. Hence, the separate function would be warranted I think. By keeping it internal, we could more easily change things around in the future, if we so decide. We could hence have `igraph_i_neighbors

[2021-04-13 21:02] szhorvat commented on #1737
I like this naming better than `advanced`.

[2021-04-14 09:20] deeenes opened #1760 "`shortest_paths`: single vertex path with a "to" node, only if the graph has edge weights"
Recently I encountered a weird behaviour of `shortest_paths` with directed graphs with some dead end nodes. See an example with a little "Y" shaped graph:

[code]

The output looks alright, as the documentation says:

I also see the warning about unreachable vertices, which I expected because one of the `to` vertices is unreachable from the `from` one:

[code]

However, if we add edge weights:

[c

[2021-04-14 09:49] ntamas commented on #1760
Fixed in d5e951904 . It should probably be backported to 0.8.x if the R interface still depends on it so I'm not closing the issue until a decision has been made about the backport.

[2021-04-14 09:54] ntamas commented on #1760
Transferring back to `rigraph` as it is now an R-specific issue. The C core in the R interface must either be brought up-to-date with `master` (this is a bit complicated because we switched away from `autotools` to CMake in the C core), or the fix has to be backported to 0.8.x.

[2021-04-14 14:14] szhorvat commented on #1676
@HarshKumarSingh07 @lucyharlow Are you still interested in this? Version 0.9.2 was released today, with improvements that make it easier to get started. See the updated installation instructions and tutorial in the documentation.

[2021-04-14 14:31] kloczek opened #1761 "0.9.2: compile time warnings"
[code]

[2021-04-14 14:49] szhorvat commented on #1761
Is there any particular reason you are concerned about these warnings? At a glance they can be safely ignored.

Is there any practical problem you are encountering with igraph? If yes, please elaborate, and show a reproducible example that demonstrates the problem.

[2021-04-14 14:51] ntamas commented on #1761
Lots of unrelated warnings here; as far as I know none of them are harmful, but let's go through the list one by one:

[code]

It looks like we might have to enable OpenMP pragmas separately for the compiler that you are using; which compiler is that?

[code]

These are harmless; these variables are used in assertions, which are optimized away by the compile due to `-NDEBUG`. @szhorvat, shall we r

[2021-04-14 14:55] szhorvat commented on #1761
I think the old Bison in macOS might support `%define api.pure` (I checked the other day), but some of the other warnings can't be fixed without breaking compatibility with macOS's default Bison.

[2021-04-14 14:57] ntamas commented on #1761
Actually, this is generated by Flex or Bison itself. it is indeed not used, but the best we can do is to turn off the `-Wunused-function` warning for the generated parsers / lexers.

[2021-04-14 14:58] szhorvat commented on #1761
Yes, I've seen this in Fedora's build logs. The compiler was a not-yet-released GCC 11.0. I tried to reproduce it with `gcc-devel @11-20210328` from MacPorts, but couldn't. Possibly Fedora is doing something else that triggers this? Possibly it's a bug in the beta compiler? Either way, we need a way to reproduce it.

[2021-04-14 15:02] ntamas commented on #1761
@kloczek Can you please post the full command line that was used to compile one of the `-lexer.c` files (e.g., `dl-lexer.c`)? The compiler flags are supposed to contain `-Wno-unused-function` _already_, exactly because of problems like the one you see above, so I don't understand how this warning could still be triggered here. This is the part in `etc/cmake/compilers.cmake` that is responsible for

[2021-04-14 15:03] szhorvat commented on #1761
I've only seen this when additional warning flags were used.

This is not our own code, and both libraries are performance optimized. I'd rather not force keeping the `assert`s. I think it's fine to disable the warning specifically for these packages.

But once again: I don't think these would show up unless warnings are explicitly turned on. We already don't do that for bliss and prpack.

[2021-04-14 15:11] ntamas commented on #1761
Nevertheless, I realized that indeed there are extra compiler flags that you might need to pass to `gcc` to enable OpenMP support (`-fopenmp`, for instance; macOS Clang requires `-Xclang -fopenmp` according to CMake). Hence, I've added some CMake magic to pass the correct flags in https://github.com/igraph/igraph/commit/b5fade2aef7937e9a40eba87394267cf00919227 .

[2021-04-14 15:11] ntamas commented on #1761
Indeed there is something weird with the warning configuration in the output posted by the OP. The warnings are clearly not set up in a way that we wanted them to be.

[2021-04-15 04:52] HarshKumarSingh07 commented on #1676
Yes @szhorvat , I am going through it right now. Will back to you if any problem would be there.

[2021-04-15 08:02] szhorvat opened #1764 "Add configuration option to toggle OpenMP"
igraph now compiles PRPACK with OpenMP enabled, if OpenMP is available. This is not always desired, so there should be a switch to toggle OpenMP on or off (perhaps with an auto setting).

Disadvantages of OpenMP:

 - It requires linking to additional libraries (libomp), which are linked dynamically by default. This makes it inconvenient to create self-contained igraph binary distributions.
 - Whil

[2021-04-15 08:03] szhorvat opened #1765 "pkg-config file needs to be adapted when using OpenMP"
On my system, using OpenMP triggers linking to `libomp.dylib`. When OpenMP is enabled, this dependency should be present in the pkg-config file.

[2021-04-15 08:18] ntamas commented on #1764
It probably depends on the size of the graph, though. It might be the case that the test graph is too small for parallelization to have any reasonable effect (the cost of aggregating the results outweighs the benefit of parallelization).

Nevertheless, I'll add a flag for OpenMP.

[2021-04-15 08:23] szhorvat commented on #1764
Just noting that this is the biggest graph in the benchmarks I wrote, 823,543 vertices, 5,764,801 edges.

[2021-04-15 08:58] szhorvat commented on #1765
The same guesses as we use for the other libraries won't easily work here. With gcc I see `libgomp`, with clang I see `libomp`, with Intel 2015 `libiomp5`, etc.

[2021-04-15 11:00] szhorvat opened #1766 "OpenMP missing when using igraph through CMake"
**Describe the bug**

Cannot use igraph through CMake when compiled with OpenMP.

**To reproduce**

Compile igraph with OpenMP support, install it, and try to use it in a CMake project:

[code]

Unless the `find_package(OpenMP)` line is uncommented, this error occurs:

[code]

**Version information**

0.9.2-5-g79c527a2b

[2021-04-15 11:15] #1764 closed

[2021-04-15 12:03] ntamas commented on #1764
Another guess: PRPACK might use OpenMP parallelization to calculate Pagerank independently for each strongly connected component, so if your graph consist of one giant strongly connected component and only a few additional vertices, then there is not much to gain with parallelization.

[2021-04-15 13:04] ntamas commented on #1765
https://github.com/igraph/igraph/commit/5f0b0e6b8dae28ec1b585cb35af92f69fd7479b5 and https://github.com/igraph/igraph/commit/bbd0111ac622e1b3584cc1f09308d6835817f681 solves this, assuming that wherever the OpenMP library is, it is in a folder where the compiler looks for libraries by default. Since OpenMP is an integral part of these compilers, I think it is a reasonable assumption.

[2021-04-15 13:04] #1765 closed

[2021-04-15 13:48] ntamas commented on #1766
This seems to be fixed by https://github.com/igraph/igraph/commit/4eea1232452efc70483f7fedc9842b321510f9d0 and https://github.com/igraph/igraph/commit/a8b753109b7619cccd4fcb7c2fa32568dc02d6f1; please test it in a few configurations (I'm doing the same thing) and report back if you find any configuration that trips up the compilation.

[2021-04-15 14:20] szhorvat commented on #1766
Seems to work fine, assuming that the compiled used for the project also supports OpenMP.

[2021-04-15 15:14] #1766 closed

[2021-04-17 15:56] szhorvat commented on #1761
No, macOS's Bison does not support `%define api.pure`, and it also does not support `-Wno-deprecated`.

[2021-04-17 17:25] szhorvat commented on #1651
@jgmbenoit There were a few fixes after 0.9.2 that IMO warrant a quick 0.9.3 followup. See [the changelog](https://github.com/igraph/igraph/blob/master/CHANGELOG.md). Did you come across any other issues that need attention?

[2021-04-17 17:47] jannick0 commented on #1651
@szhorvat I am sitting on a `cmake` issue when building the static library (for `MINGW32/64`) which is not able to resolve all symbols `igraph_...` or `IGRAPH_...` due to a subtle `cmake` bug. The following script does reveal which symbols are not resolvable by `libigraph.a`

[code]
The reason is that
* the igraph repo contains c(pp)-files with **same** basenames in different folders
* `cmake` 's

[2021-04-17 18:09] szhorvat commented on #1651
@jannick0 What does this script output for you?

[2021-04-17 18:57] ntamas commented on #1651
For future reference, here are the files that could be affected by this bug:

[code]

[2021-04-17 19:03] jgmbenoit commented on #1651
For now my package is blocked in the [Debian New queue](https://ftp-master.debian.org/new.html). It should be accepted but meanwhile I can hardly do something. I have to passed through the NEW queue because  I introduced a -doc package and I bumped the SO version from 1 to 2: Debian centric issues. Once it is accepted, I will uploaded the last version.

[2021-04-17 19:10] jannick0 commented on #1651
Sure -
[code]
Could you please share
* `cmake --version`
* your version of `link.txt` genereated by `cmake`
* your result of the script.

Thanks.

[2021-04-17 19:12] ntamas commented on #1651
@szhorvat FYI, the missing symbols seem to be consistent with the duplicated filenames I have listed above.

[2021-04-17 19:14] jannick0 commented on #1651
And here an awk  script to see which object files are replaced given `link.txt` generated by `cmake` or - in other terms - which files are affected (might depend on which vendored libs are used):

[code]

[2021-04-17 19:21] szhorvat commented on #1651
The output I get on a Raspberry Pi (arm 32-bit) is:

[code]

I also use cmake 3.20.1 here.

I also tried to look at `ar` calls using `ninja -v | grep 'ar '` and I see a single `ar` call which is `ar qc` (but I don't know what that means).

What platform are you on? I assume this is not MinGW as that would be `libigraph.dll.a`.

[2021-04-17 19:33] szhorvat commented on #1651
Also, are you building with internal or external dependencies?  I can't reproduce it on Linux x86_64 either (Ubuntu 20.04) with cmake 3.20.0. On macOS and MinGW the awk script does not seem to be able to cope with the `nm` output.

[2021-04-17 19:34] jannick0 commented on #1651
OK, this means that there are unresolvable symbols for the static library.  You could check that by linking a small c-file calling one - or more - of the functions above against `libigraph.a`.

See [ar](https://linux.die.net/man/1/ar).

* I have `cmake` generate `makefile`s ( i.e. `cmake -G `MSYS Makefiles" ...` )
* `*.dll.a ` denotes an import library for a dll (static library) which does not app

[2021-04-17 19:41] jannick0 commented on #1651
I do not believe that this is dependent on whether internal or external libraries are used, since their symbols do not begin with `igraph_...` or `IGRAPH_...`.  I am confident that the issue primarily depends on how many times  `ar`  is called.

What is the structure of the `nm` output then? Any chance to switch to a POSIX compliant output structure?

BTW: I did **not** check if the issue is impli

[2021-04-17 19:52] szhorvat commented on #1651
In the CMake bug report, you talked about how many `ar` calls I made. One idea was that if there are too many object files, more than one may be necessary.

This was my mistake. I didn't realize I was building a shared library with MinGW.

Now I tried a clean run with MinGW, 64-bit, fully updated MSYS2, all vendored dependencies.

This is the output I get:

[code]

These are not functions, but glo

[2021-04-17 19:56] jgmbenoit commented on #1651
have you considered to write a version-script ?

[2021-04-17 20:05] szhorvat commented on #1651
@jannick0 Also, the MinGW CI tests that you contributed have been continually running, and never detected such a problem. Just to be sure, I also tested the release tarball, and also no problem. Something must be different either about your system, or the way you build igraph. We need to figure out what.

[2021-04-17 20:06] jannick0 commented on #1651
Exactly.

This could be easily amended in the awk script  I think by replacing
[code]
by
[code]

I was using 0.9.2 as is.

[2021-04-17 20:14] jannick0 commented on #1651
* I am not so sure that I contributed the MinGW CI for `cmake` (I did that for `autoconf` rather). *
*  The current MinGW CI version does not effectively run for shared and static libraries separately (the CI config says otherwise though).
* Moreover, the issue cannot be detected as the unresolvable symbols appear not to be called by any test I guess - or am I missing any test here?

Which tests e

[2021-04-17 20:29] szhorvat commented on #1651
I meant that I checked with your awk script, and I see no issue.

However, the test suite also passes.

 Most functions you listed are directly called by some tests (tests are in `examples/` and `tests/`), some are indirectly used. All the `igraph_i_` ones are internal functions, so they are only indirectly used, but still used.

Thanks for noticing!

[2021-04-18 09:27] szhorvat commented on #1651
@jannick0 Here's a complete list of commands I used, that revealed no problems. What do you do differently? I used MinGW 64-bit, fully updated MSYS2 as of today, Windows 7.

[code]

@jannick0 An unrelated question:  Why did you include [this patch](https://github.com/msys2/MINGW-packages/tree/master/mingw-w64-igraph)? While linking to the math library is not necessary, nor does it cause any harm.

[2021-04-18 14:32] jannick0 commented on #1651
I am referring to igraph 0.9.0. I am confused that the awk script does **not** throw any results. To have a closer look could you please share
* `link.txt` in the `cmake` build tree
* the output of the following script
[code]
* the verbose `make` output

The CMAKE flags I am using are as follows:
[code]

I am not sure if this is true in general. For `igraph 0.9.0` there was a link error because of

[2021-04-18 14:50] szhorvat commented on #1651
Please do not use this version anymore. Some serious bugs have been fixed, including some non-exported symbols.

Can you reproduce it with 0.9.2?

Do not do this for a production build. This flag is only for development, and comes at a very significant performance cost.

This commit was in direct response to your patch, but it would be good to know if there is actually a case of failure. There was

[2021-04-18 14:53] ntamas commented on #1651
For what it's worth, there was some additional hackery with the math library in other parts of the CMake build system (see [the patch](https://github.com/igraph/igraph/commit/4ad81d0e4b8bbb2b6ff3d0bd77e2b4646884dd22) for details) that I managed to get rid of now that we properly detect whether the math library is needed.

[2021-04-18 15:25] szhorvat commented on #1694
It seems Fedora is hitting this too:

https://src.fedoraproject.org/rpms/igraph/pull-request/1

And not only on aarch64 but also on i686.

[2021-04-18 16:50] szhorvat commented on #1694
This is not reproducible on Travis with Ubuntu 20.04, which has OpenBLAS 0.3.8. Maybe it only appears with later OpenBLAS. Here's a mock PR I used to test: https://github.com/igraph/igraph/pull/1768

[2021-04-18 19:25] OlofMorra commented on #1676
Hi all,

I want to learn C and contribute to an open-source project. As Data Science student igraph looks like an interesting repository to contribute to! I use a MacBook Pro with Big Sur 11.2.3. I will start the tutorial and comment on the understandability!

Although I am a newcomer to C (used it once), I am fairly experienced with programming practices and some other languages, so I do have con

[2021-04-19 05:57] iosonofabio commented on #1741
Thank you @BrandonKMLee for the useful wishlist.

Integration with R and Python is pretty easy for these things, but implementing all those algorithms in C would take forever. Would you be willing to make a few PRs to implement the ones you need?

[2021-04-19 06:19] iosonofabio commented on #1702
Here an example:

https://tigeroakes.com/posts/til-github-pages-two-branches-github-actions/

The way that would work is by building both master and develop branch at once and getting Github Pages to do the lifting onto the internet. In other words, we could make a single Github Action that is triggered on both branches and refreshes the whole website. The develop docs would go under a subfolder,

[2021-04-19 07:15] iosonofabio opened #1769 "Add a warning when user is adding too many vertices or edges"
When a user has more than 2 billion nodes/edges on 32 bit integers, they start getting weird bugs without a warning.

We should add a warning in `add_vertices` and `add_edges` such that if we are overflowing on the current platform, the user at least knows about it. We could also throw an error.

Original issue: igraph/python-igraph#338
This issue should wait until the conversion to configurable i

[2021-04-19 07:23] ntamas commented on #1769
To put things in historical context: we never bothered with vertex / edge count checks in the past because when we started igraph, it seemed practically impossible to fit two billion vertices or edges in memory (the assumption was that you would be hitting memory limits earlier due to other reasons). I feel that this still holds for 64-bit integers so if we add such a check, it's probably enough t

[2021-04-19 07:56] ntamas commented on #1702
I don't have access to the CNAME DNS records, only @gaborcsardi has. A subdomain does not really make sense to me, though, because the homepage hosts the documentation of the C core, the Python interface and the R interface and there isn't any consistent concept of a `develop` branch that would apply to all three repos.

Also, @szhorvat has been asking me for long to somehow make it possible to br

[2021-04-19 08:10] iosonofabio commented on #1702
Ok then more option 1 than 2.

The igraph/igraph.org repo already has a `.nojekyll`, so it's not actually doing much except providing the files ready to be served. So the architecture would be for each repo (e.g. `python-igraph`, `rigraph`) to pull the latest commit from `igraph/igraph.org`, add the docs from this build of that particular repo without touching anything else, and then push back to

[2021-04-19 08:13] gaborcsardi commented on #1702
You can use this to avoid the race condition: https://github.com/softprops/turnstyle I would fork it into out org and use the fork, just to be safe.

[2021-04-19 08:14] iosonofabio commented on #1702
thank you, will look into it!

[2021-04-19 11:54] szhorvat opened #1770 "Orient a tree away/towards a root"
**What is the feature or improvement you would like to see?**

Input: an undirected tree; a vertex

Output: a directed out-tree (or in-tree) with the given vertex as root

All it takes is a DFS or BFS from the root.

**Use cases for the feature**

It is often useful to encode the identity of a root by making edges directed. This makes it trivial to determine the parent of a node in a rooted tree.

[2021-04-19 13:53] szhorvat commented on #1694
@Enchufa2 Regarding [the aarch64 failures in Fedora](https://src.fedoraproject.org/rpms/igraph/pull-request/1), are you able to check if these were due to enabling CXSparse, or due to a switch in the BLAS implementation? We cannot reproduce these.

[2021-04-19 16:00] Enchufa2 commented on #1694
We had a couple of test failures for i686 and a ton of failures for aarch64 with OpenBLAS OpenMP as the backend (default in Fedora). You can see the logs here: https://koji.fedoraproject.org/koji/taskinfo?taskID=66182184. Given that they will be gc'ed at some point, I attach them here for your convenience.

Now we launch the tests using the reference implementation from Netlib, and all tests pass.

[2021-04-19 16:09] szhorvat commented on #1694
Interesting to see the timeout on aarch64:

[code]

Reminds me of this: https://github.com/msys2/MINGW-packages/issues/8399

@Enchufa2 Could you help me look up with what options OpenBLAS was compiled in Fedora?  (Especially with reference to https://github.com/xianyi/OpenBLAS/wiki/faq#multi-threaded )

[2021-04-19 16:11] Enchufa2 commented on #1694
Here: https://src.fedoraproject.org/rpms/openblas/blob/rawhide/f/openblas.spec#_402

[2021-04-20 19:40] szhorvat commented on #1761
@kloczek Some of these have been improved. The remaining questions before this can be closed:

 - Does it cause any actual problems for you? It appears that some of these warnings have been forcibly enabled (they're not used by default by igraph).
 - Can you give steps to reproduce them? How do you compile, what compiler version and flags, etc. The ones that concern me a bit are those similar to `

[2021-04-20 22:55] kloczek commented on #1761
@szhorvat generally I've reported those warnings because it was a bit to many of them :P
As I'm usimg quite fresh tooling which not all people still are using and I'm using LTO which quite often produces more warnings I've been thinking that it is worth to report what I found.
As some progress has been made and if you are happy with current state feel free to close that ticket.

I'm using usually

[2021-04-21 14:41] szhorvat commented on #1572
You are right. Feel free to change some of these without opening a PR if you come across them.

[2021-04-21 14:58] szhorvat opened #1772 "Fix up plfit RNG usage"
plfit should:

 - Use igraph's RNG.
 - Not attempt to use igraph's RNG from multiple threads. plfit has some OpenMP code which uses the RNG. igraph may borrow the RNG from the host language (Python, R, Mathematica) in which case it likely won't be safe to use it from multiple  threads. For Mathematica, it isn't.

[2021-04-21 15:25] ntamas commented on #1772
Note to self (and for future generations): `vendor/plfit` seems to be tweaked already to support igraph's built-in RNG. In particular, if the `rng` argument (of type `plfit_rng_t*`) is `NULL` for any RNG-related functions, then `plfit` uses igraph's RNG.

Now, if `plfit` is compiled _without_ OpenMP, then all `plfit_` routines get their RNG from `options->rng` where `options` is of type `plfit_con

[2021-04-23 10:01] epsilon-0 opened #1775 "Tests fail on 0.9.2 in Gentoo"
**Describe the bug**
Four tests are failing, summary:
[code]

**To reproduce**
configured with
[code]
full build log - https://bsd.ac/r/igraph-build.log

**Version information**
0.9.2 from github releases.

[2021-04-23 10:55] szhorvat commented on #1775
Picking out the relevant parts of the log.

Many floating point optimizations flags are used. I think the failures are likely to be due to numerical precision issues, triggered by these flags.

[code]

I have never seem the following two failures before. If you have time, @epsilon-0, can you find out which specific option combination causes them?

I should note that these failures almost certainly